<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box light-grey">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-globe"></i>{$action}
                            </div>
                        </div>

                        <form method="POST" action="{:addons_url('Guestbook://Guestbook/delAll')}" id="messageForm">
                            <div class="portlet-body">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <button type="submit" class="btn red delAll" name="delAll" value='1'><i
                                                class="icon-remove icon-white">
                                        </i> 批量删除
                                        </button>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered table-hover"
                                       id="post_table">
                                    <thead>
                                    <tr>
                                        <th style="width: 8px;">
                                            <input type="checkbox" class="group-checkable" data-set="#post_table .checkboxes" />
                                        </th>
                                        <th style="width:100px;">姓名</th>
                                        <th style="width:200px;">标题</th>
                                        <th>内容</th>
                                        <th style="width:130px;">留言日期</th>
                                        <th style="width:200px;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <foreach name="message" item="v">
                                        <tr class="odd gradeX">
                                            <td><input type="checkbox" class="checkboxes" value="{$v['id']}" name="message[]"/>
                                            </td>
                                            <td><a href="#">{$v.name}</a></td>
                                            <td>{$v.title}</td>
                                            <td>
                                                {$v.content}
                                            </td>
                                            <td>{:getTimestamp($v['date'],'Y-m-d H:i') }</td>
                                            <td>
                                                <notpresent name="v.reply">
                                                    <a class="btn mini green" href="javascript:;" onclick="ajax_reply({$v.id})">回复</a>
                                                    &nbsp;&nbsp;&nbsp;
                                                </notpresent>
                                                <a class="btn mini red del_btn_{$v.id}" href="javascript:;" onclick="ajax_del({$v.id})">删除</a>
                                                &nbsp;&nbsp;&nbsp;
                                                <eq name="v.status" value="0">
                                                    <a href="javascript:;" onclick="ajax_approve({$v.id})"><span class="label label-inverse approve_{$v.id}">待审核</span></a>
                                                </eq>
                                            </td>
                                        </tr>
                                        <tr class="reply reply_{$v.id}" style="display:none;">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label"></label>
                                                    <div class="controls">
                                                        <textarea name="reply" class="large m-wrap reply_content_{$v.id}" rows="3" ></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <button type="button" class="btn blue reply_btn"><i class="icon-ok"></i> 回复</button>
                                                    <button type="reset" class="btn">重置</button>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </foreach>
                                    </tbody>
                                </table>
                                
                            </div>
                        </form>
                        <div class="pagination">
                            <ul>{$pager}</ul>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->    
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>
    jQuery(document).ready(function () {
        App.init();

        TableManaged.init();
    });
</script>
<script type="text/javascript">
    function ajax_reply(id) {
        $(".reply").fadeOut();
        $(".reply_" + id).fadeIn();

        $(".reply_btn").click(function() {
            var url = "{:addons_url('Guestbook://Guestbook/reply')}";
            $(".reply_btn").text("正在回复...");

            var reply = $(".reply_content_" + id).val();
            // alert(reply);
            $.post(url, {id: id, reply: reply},
                function (data) {
                    if (data.status == 1) {                        
                        window.location.reload(true);
                     }
                     else {
                        // alert(data);
                     }
                    window.location.reload(true);
                });
        }); 
    }

    function ajax_del(id) {
        var url = "{:addons_url('Guestbook://Guestbook/del')}";
        $(".del_btn_" + id).text("正在删除...");

        $.post(url, {id: id},
            function (data) {
                if (data.status == 1) {                    
                    window.location.reload(true);
                 }
                 else {
                    // alert(data);
                 }
                window.location.reload(true);
            });
    }

    function ajax_approve(id) {
        var url = "{:addons_url('Guestbook://Guestbook/approve')}";
        $(".approve_" + id).text("正在审核...");
        $.post(url, {id: id},
            function (data) {
                if (data.status == 1) {                    
                    window.location.reload(true);
                 }
                 else {
                    // alert(data);
                 }
                window.location.reload(true);
            });
    }

    $(".delAll").click(function() {
        $("#messageForm").submit();
    });
</script>
</body>
<!-- END BODY -->
</html>
