<!--Bottom-->
<section id="bottom" class="main">
    <!--Container-->
    <div class="container">

        <!--row-fluids-->
        <div class="row-fluid">

            <!--Contact Form-->
            <div class="span4">
                <h4>联系方式</h4>
                <ul class="unstyled address">
                    <li>
                        <i class="icon-home"></i><strong>Address:</strong> 南京工业大学信息学院620
                    </li>
                    <li>
                        <i class="icon-envelope"></i>
                        <strong>Email: </strong> greencms@njut.asia
                    </li>
                    <li>
                        <i class="icon-globe"></i>
                        <strong>Website:</strong> <a href="http://green.njtech.edu.cn">http://green.njtech.edu.cn</a>
                    </li>
                    <li>
                        <i class="icon-phone"></i>
                        <strong>Sns:</strong> <a href="http://weibo.com/u/3228716083">Sina Weibo</a>
                    </li>
                </ul>
            </div>
            <!--End Contact Form-->

            <!--Important Links-->
            <div id="tweets" class="span4">
                <h4>友情链接</h4>

                <div>
                    <friendlist num='7' tag="Home" ul_attr='class="arrow"'></friendlist>
                </div>
            </div>
            <!--Important Links-->

            <!--Archives-->
            <div id="archives" class="span4">
                <h4>最近文章</h4>

                <div>
                    <recentlist num='7' ul_attr='class="arrow"'></recentlist>
                </div>
            </div>
            <!--End Archives-->

        </div>
        <!--/row-fluid-->
    </div>
    <!--/container-->

</section>
<!--/bottom-->