<!--Footer-->
<footer id="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span5 cp">
                2003-{:date('Y')} &copy; Copyright
                <a href="http://green.njtech.edu.cn" title="南京工业大学绿荫工作室">南京工业大学绿荫工作室</a>
                . All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;

                <a href="{:U('Admin/Index/index')}">后台管理</a>
            </div>
            <!--/Copyright-->

            <div class="span6">
                <ul class="social pull-right">
                    <li><a href="https://www.facebook.com/pages/Green-Studio/504741962894684"><i
                            class="icon-facebook"></i></a></li>
                    <li><a href="https://plus.google.com/communities/115185941639829177683"><i
                            class="icon-google-plus"></i></a></li>
                    <li><a href="https://github.com/GreenCMS/"><i class="icon-github-alt"></i></a></li>
                </ul>
            </div>


        </div>
    </div>
</footer>
<!--/Footer-->

