
<!--Footer-->
<footer id="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span5 cp">
                2003-2015 &copy;  Copyright
                <a href="green.njtech.edu.cn" title="南京工业大学绿荫工作室">南京工业大学绿荫工作室</a>
                . All Rights Reserved.
            </div>
            <!--/Copyright-->

            <div class="span6">
                <ul class="social pull-right">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-google-plus"></i></a></li>
                    <li><a href="https://github.com/GreenCMS"><i class="icon-github-alt"></i></a></li>
                </ul>
            </div>


        </div>
    </div>
</footer>
<!--/Footer-->

