<link rel="stylesheet" href="__PUBLIC__/NovaGreenStudio/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/NovaGreenStudio/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="__PUBLIC__/NovaGreenStudio/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/NovaGreenStudio/css/main.css">
<link rel="stylesheet" href="__PUBLIC__/NovaGreenStudio/css/sl-slide.css">

<script src="__PUBLIC__/NovaGreenStudio/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="__PUBLIC__/NovaGreenStudio/images/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="__PUBLIC__/NovaGreenStudio/images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="__PUBLIC__/NovaGreenStudio/images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="__PUBLIC__/NovaGreenStudio/images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/NovaGreenStudio/images/ico/apple-touch-icon-57-precomposed.png">
