<link rel="stylesheet" href="__PUBLIC__/NovaGreenStudio/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/NovaGreenStudio/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="__PUBLIC__/NovaGreenStudio/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/NovaGreenStudio/css/main.css">
<link rel="stylesheet" href="__PUBLIC__/NovaGreenStudio/css/sl-slide.css">

<style>
    p {
        font-size: 16px;
        line-height: 25px;

        font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    }
</style>
<script src="__PUBLIC__/NovaGreenStudio/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>