<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {$action} | {:get_opinion('title')}</title>

    <include file="Public:head"/>


    <script src="__PUBLIC__/share/codemirror-4.0/lib/codemirror.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/share/codemirror-4.0/lib/codemirror.css">
    <link rel="stylesheet" href="__PUBLIC__/share/codemirror-4.0/theme/solarized.css">
    <script src="__PUBLIC__/share/codemirror-4.0/mode/javascript/javascript.js"></script>
    <script src="__PUBLIC__/share/codemirror-4.0/addon/edit/matchbrackets.js"></script>


    <style>
        .CodeMirror {
            height: 100%

        }
    </style>
</head>
<body class="skin-blue">

{:W('Common/header')}

<div class="wrapper row-offcanvas row-offcanvas-left">
    {:W('Common/sideMenu')}


    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->


        <section class="content-header">
            <h1>
                {$action}
                <small>{:get_opinion('title')}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{$module_url}"><i class="fa fa-dashboard"></i> {$module}</a></li>
                <li class="active">{$action}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h3 class="box-title">{$action}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            当前路径: {$current_path}
                            <a href="{$father_path}">返回</a>

                            <div id="preview_window">
                                <textarea id="code">{$file}</textarea>

                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->

<include file="Public:foot"/>


<script type="text/javascript">
    function bindShow(radio_bind, selectors) {
        $(radio_bind).click(function () {
            $(selectors).toggleClass('hidden');
        })
    }

    $(window).bind('scrollstart');
    $(window).bind('scrollstop');


    //    //配置的动态
    //    bindShow('#has_config','.has_config');
    //    bindShow('#has_adminlist','.has_adminlist');

    var codemirror_option = {
        lineNumbers: true,
        styleActiveLine: true,
        matchBrackets: true,
        mode: "application/x-httpd-php",
        indentUnit: 4,
        gutter: true,
        fixedGutter: true,
        indentWithTabs: true,
        readOnly: false,
        lineWrapping: true,
//        height        : "900px",
        enterMode: "keep",
        tabMode: "shift",
        theme: "solarized dark"
    };


    var preview_window = $("#preview_window").find("textarea");
    var editor = CodeMirror.fromTextArea(preview_window[0], codemirror_option);


</script>


</body>
</html>