<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {$action} | {:get_opinion('title')}</title>

    <include file="Public:head"/>

</head>
<body class="skin-blue">

{:W('Common/header')}

<div class="wrapper row-offcanvas row-offcanvas-left">
    {:W('Common/sideMenu')}


    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->


        <section class="content-header">
            <h1>
                {$action}
                <small>{:get_opinion('title')}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{$module_url}"><i class="fa fa-dashboard"></i> {$module}</a></li>
                <li class="active">{$action}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h3 class="box-title">{$action}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            当前路径:{$current_path}
                            <br />

                            <a href="{$father_path}">返回上级:</a>

                            <table
                                    class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 8px;">选择</th>

                                    <th class="hidden-240">路径</th>
                                    <th class="hidden-240">修改时间</th>

                                    <th class="">文件夹大小</th>
                                    <th class="">操作</th>
                                </tr>
                                </thead>
                                <tbody id="cache_table">
                                <volist name="root_info" id="dir">
                                    <tr align="center">
                                        <td><input type="checkbox" class='groupclass' name="file[]"
                                                   value="{$dir.name}"/>
                                        </td>

                                        <th class="hidden-240">
                                            <a href="{$dir.link}">{$dir.name}</a>

                                        </th>

                                        <td>{$dir.mtime}</td>
                                        <td>{$dir.size}</td>

                                        <td>
                                            删除
                                            编辑
                                            移动
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>

                            </table>


                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->

<include file="Public:foot"/>

</body>
</html>