<script type="text/javascript">
    var URL = "__URL__";
    var APP = "__APP__";
    var ROOT = "__ROOT__";
    var PUBLIC = "__PUBLIC__" + "/2011college";
</script>
<link href="__PUBLIC__/2011college/css/base.css" rel="stylesheet"/>

<!-- slide所用JS -->
<script src="__PUBLIC__/2011college/js/scroll.js" type="text/javascript"></script>
<script src="__PUBLIC__/2011college/js/jquery.js" type="text/javascript"></script>

<style>

.header {
    background: url(__PUBLIC__/2011college/images/1.png) 0 30px repeat-x;
    height: 198px;
}

.topbar {
    background: #000000;
    height: 30px;
    width: 100%
}

.topbar ul {
    width: 1100px;
    margin: 0 auto;
    line-height: 30px;
}

.topbar ul li {
    display: inline;
}

.topbar ul li.line {
    margin: 0 5px;
}

.topbar ul a {
    text-decoration: none;
    color: #ffffff;
}

.banner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 168px;
}

.logo {
    background: url(__PUBLIC__/2011college/images/2.png);
    height: 98px;
    width: 253px;
    position: absolute;
    left: 0;
    top: 14px;
}

.logo2011 {
    position: relative;
    top: 14px;
    width: 252px;
    height: 97px;
    margin: 0 auto;
}

.nav {
    clear: both;
    text-align: center;
    position: relative;
    top: 36px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 35px;
}

.slide {
    width: 100%;
    height: 400px;
    background: url(__PUBLIC__/2011college/images/slide.jpg) center 0px no-repeat;
}

.slide-ct {
    width: 1100px;
    margin: 0 auto;
    padding-top: 190px;
}

.apply {
    width: 558px;
    height: 100px;
    position: relative;
}

.apply-bg {
    width: 558px;
    height: 100px;
    background: #B22D00;
    opacity: 0.7;
    position: absolute;
    z-index: 99
}

.apply-txt {
    position: absolute;
    z-index: 999;
    text-indent: 30px;
}

.apply-txt a {
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    line-height: 100px;
}

.apply-info {
    width: 360px;
    height: 52px;
    position: relative;
    margin-top: 10px;
}

.apply-info-bg {
    width: 360px;
    height: 52px;
    position: absolute;
    z-index: 99;
    background: #ffffff;
    opacity: 0.6;
}

.apply-info-txt {
    position: absolute;
    line-height: 52px;
    font-size: 20px;
    text-indent: 30px;
    z-index: 999;
}

.content {
    width: 1100px;
    /*height: 900px;*/
    margin: 0 auto;
    /*padding-bottom:80px;*/
}

.news {
    position: relative;
    margin-top: 20px;
}

.news:first-child:after {
    content: "";
    width: 2px;
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 550px;
    background-color: #fff;
}

.news dt {
    margin-bottom: 10px;
    padding-bottom: 4px;
    border-bottom: 2px solid #0AA5E4;
    font-size: 30px;
    color: #4D4D4D;
}

    /*.news-hd{border-bottom:2px solid #0AA5E4;font-size:30px;padding-bottom:4px;color:#4D4D4D;margin-bottom:10px;}*/
.news dt a {
    float: right;
    color: #A2A2A2;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
}

    /*.news-hd .more{float:right;color:#A2A2A2;text-decoration:none;font-size:16px;margin-top:20px;}*/
    /*.news-ct {margin-top:10px;}*/
.article dd {
    position: relative;
}

.article dd a {
    display: block;
    width: 420px;
    height: 30px;
    line-height: 30px;
    position: relative;
    color: #4D4D4D;
    font-size: 12pt;
    /*font-family: "黑体";*/
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.article dd  span {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #4D4D4D;
}

.notification_out {
    padding:5px;
    width: 1100px;
    height: 900px;
    background-color: #fff;
}

.notification {

    position: relative;
    margin: 0 auto;
}

.stroke {
    width: 30%;
    float: left;
    margin: 30px 0;
}

.stroke dt {
    font-size: 24px;
    color: #4d4d4d;
    margin-bottom: 30px;
}

.stroke dd {
    overflow: hidden;
    clear: both;
    margin-bottom: 44px;
}

.stroke dd:last-child {
    margin: 0;
}

.stroke dd span {
    width: 70px;
    height: 64px;
    line-height: 32px;
    display: block;
    float: left;
    text-align: center;
    border: 1px solid #e1e0e0;
    font-weight: bold;
    background-color: #8f3931;
    color: #fff;
}

.stroke dd span b {
    display: block;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    background-color: #fff;
    color: #8f3931;
}

.stroke dd h4 {
    font-family: "黑体";
    line-height: 32px;
    margin-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
    color: #979797;
}

.stroke dd h4 a {
    display: block;
    font-family: "黑体";
    font-weight: bold;
    color: #C05045;
    text-decoration: none;
}

.article_part {
    width: 65%;
    float: right;
    margin: 30px 0;
}

.article_part dl {
    float: left;
}

.article_part dl dt {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 18pt;
    text-indent: 35px;
    color: #fff;
}

.article_part  dd a {
    width: 610px;
}

.article1 {
    width: 100%;
    height: 300px;
}

.article1 dt {
    background-color: #7d7d7d;
}


.article2 {
    width: 48%;
    height: 300px;
    margin-right: 4%;
}

.article3 {
    float: left;
    width: 48%;
    height: 300px;
    margin-right: 0px;
 }

.article2 dt {
    background-color: #3a7797;
}

.article3 dt {
    background-color: #8a8f50;
}

.article2 dd a, .article3 dd a {
    width: 70%;
}

#tbIndex {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -40px;
    margin-top: -100px;
    font: 12px/20px Verdana, Arial;
    border-collapse: collapse;
    border-spacing: 0;
    z-index: 2;
}

#tbIndex td {
    width: 11px;
    height: 11px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

#tbIndex td span {
    margin-left: -999px
}

#tbIndex td.blur {
    background: url(__PUBLIC__/2011college/images/noselected.png) 0 0 no-repeat
}

#tbIndex td.focus {
    background: url(__PUBLIC__/2011college/images/selected.png) 0 0 no-repeat
}

#turnTo {
    position: relative;
    z-index: 998;
    top: 200px;
    left: 50px;
}

@-moz-document url-prefix() { #turnTo {top:390px; } }
#turnLeft {
    height: 67px;
    width: 67px;
    position: relative;
    float: left;
    cursor: pointer;
    background: url(__PUBLIC__/2011college/images/left.png) 0 0 no-repeat;
    z-index: 998
}

#turnRight {
    height: 67px;
    width: 67px;
    position: relative;
    float: right;
    cursor: pointer;
    background: url(__PUBLIC__/2011college/images/right.png) 0 0 no-repeat;
    z-index: 998
}

#turnOther {
    position: relative;
    z-index: 998;
    top: 320px;
    left: 73%;
    position: absolute;
    _top: 320px;
}

#turnOther a {
    display: block;
    width: 89px;
    height: 29px;
    float: left;
    margin-right: 10px;
    background-color: #000000;
}

.nav ul li{
    display:Inline;
    color:#ffffff;
}





.topbar ul {
    width: 1100px;
    margin: 0 auto;
    line-height: 30px;
}

.topbar ul li {
    display: inline;
}

.topbar ul li.line {
    margin: 0 5px;
}

.topbar ul a {
    text-decoration: none;
    color: #ffffff;
}



.nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 35px;
}

.slide {
    width: 100%;
    height: 400px;
    background: url(__PUBLIC__/2011college/images/slide.png) center -220px no-repeat;
}

.slide-ct {
    width: 1100px;
    margin: 0 auto;
    padding-top: 170px;
}

.apply {
    width: 558px;
    height: 100px;
    position: relative;
}

.apply-bg {
    width: 558px;
    height: 100px;
    background: #B22D00;
    opacity: 0.7;
    position: absolute;
    z-index: 99
}

.apply-txt {
    position: absolute;
    z-index: 999;
    text-indent: 30px;
}

.apply-txt a {
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    font-family: "微软雅黑";
    line-height: 100px;
}

.apply-info {
    width: 360px;
    height: 52px;
    position: relative;
    margin-top: 10px;
}

.apply-info-bg {
    width: 360px;
    height: 52px;
    position: absolute;
    z-index: 99;
    background: #ffffff;
    opacity: 0.6;
}

.apply-info-txt {
    position: absolute;
    z-index: 999;
    line-height: 52px;
    font-size: 20px;
    font-family: "微软雅黑";
    text-indent: 30px;
}

.content {
    background-color: #fff;
    padding-right: 100px;
    padding-left: 100px;
    /*width: 960px;*/
    margin: 0 auto;
}

.news {
}

.news-hd {
    border-bottom: 2px solid #0AA5E4;
    font-size: 30px;
    padding-bottom: 4px;
    color: #4D4D4D;
}

.news-hd .more {
    float: right;
    color: #A2A2A2;
    text-decoration: none;
    font-size: 20px;
    margin-top: 13px;
}

.news-ct {
    margin-top: 5px;
}

.news-ct a {
    color: #4D4D4D;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
}

.news-ct a span {
    float: right;
}

.article {
    margin-bottom: 10px;
    color: #4D4D4D;
}


</style>