<div class="banner"><!--<div class="logo"></div>-->
    <div class="logo2011">
        <img src="__PUBLIC__/2011college/images/2011_logo.png"/>
    </div>
    <div class="nav">
        <ul>
            <li style="display:Inline;color:#ffffff">
                <a href=" /index/index.green" target="_blank">学院首页</a>
            </li>
            <li style="display:Inline;color:#ffffff">
                <a href="/single/detail/id/101.green" target="_blank">学院简介</a>
            </li>
            <li style="display:Inline;color:#ffffff">
                <a href="#" target="_blank">招生就业</a>
            </li>
            <li style="display:Inline;color:#ffffff">
                <a href="#" target="_blank">专业课程</a>
            </li>
            <li style="display:Inline;color:#ffffff">
                <a href="#" target="_blank">师资力量</a>
            </li>
            <!--<li style="display:Inline;color:#ffffff"><a href="#" target="_blank">奖学金</a></li>-->
            <li style="display:Inline;color:#ffffff">
                <a href="#" target="_blank">教学科研成果</a>
            </li>
            <li style="display:Inline;color:#ffffff">
                <a href="#" target="_blank">交流项目</a>
            </li>
        </ul>
    </div>
</div>
