<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<html>
<head>
    <title>{:C('title')} </title>
    <meta charset="utf-8"/>
    <include file="Public:head"/>

</head>
<body>

{:W('Common/mainMenu')}

<div id="mainWindow" style="width:100%;height:402px;position:absolute;top:196px;left:0; overflow:hidden"></div>
<div id="turnTo">
    <div class="containerIndex">
        <p id="turnLeft"></p>

        <p id="turnRight"></p>
    </div>
</div>

<div class="clear"></div>

<div class="content">

    <php>
        $news = D('Cats', 'Logic')->getPostsByCat(16, 7);
        $policy = D('Cats', 'Logic')->getPostsByCat(17, 7);
        $tech = D('Cats', 'Logic')->getPostsByCat(18, 7);
        $college = D('Cats', 'Logic')->getPostsByCat(19, 7);
        $school = D('Cats', 'Logic')->getPostsByCat(20, 7);
    </php>

    <script type="text/javascript">
        <!--
        playList.play();
        -->
    </script>


    <dl class='news article' style="width:48%;float:left;">
        <dt>
            <a href="{:getCatURLByID(16)}">更多</a>学院动态
        </dt>

        <volist name="news" id="v">
            <dd>
                <a href="{$v['post_id']|getSingleURLByID}"><i>·&nbsp;&nbsp;</i>{$v['post_title']}</a>
                <span>({$v['post_date']|substr=0,10})</span>
            </dd>
        </volist>

    </dl>
    <dl class='news article' style="width:48%;float:right;">
        <dt>
            <a class="more" href="{:getCatURLByID(17)}">更多</a>政策与发展
        </dt>



        <volist name="policy" id="v">
            <dd>
                <a href="{$v['post_id']|getSingleURLByID}"><i>·&nbsp;&nbsp;</i>{$v['post_title']}</a>
                <span>({$v['post_date']|substr=0,10})</span>
            </dd>
        </volist>
    </dl>
            <dl class="stroke article">
                <dt>
                    讲座通知
                </dt>
                <volist>
                        <dd>
                            <a href="{$v['post_id']|getSingleURLByID}"><i>·&nbsp;&nbsp;</i>{$v['post_title']}</a>
                            <span>({$v['post_date']|substr=0,10})</span>
                        </dd>
                    </volist>
                <!--<dd>
                    <span class="date">周五<b>10月11日</b></span>
                    <h4><a href="#">大学生学习生涯规划</a>主讲人：管国锋 教授</h4>
                </dd>
                <dd>
                    <span class="date">周三<b>9月25日</b></span>
                    <h4><a href="#">学术报告：学什么？怎么学？</a>主讲人：俞斌 教授</h4>
                </dd>
                <dd>
                    <span class="date">周五<b>9月20日</b></span>
                    <h4><a href="#">专业学术报告之四</a>主讲人：陆雷 教授</h4>
                </dd>
                <dd>
                    <span class="date">周三<b>9月18日</b></span>
                    <h4><a href="#">学术报告：Career in Research</a>主讲人：Hunter 院士</h4>
                </dd>
                <dd>
                    <span class="date">周二<b>9月17日</b></span>
                    <h4><a href="#">专业学术报告之三</a>主讲人：姜岷 教授</h4>
                </dd>
                <dd>
                    <span class="date">周一<b>9月16日</b></span>
                    <h4><a href="#">专业学术报告之二</a>主讲人：范益群 教授</h4>
                </dd>-->
            </dl>
            <div class="article_part article">
                <dl class="article1">
                    <dt>
                        科技艺术之光
                    </dt>

                    <volist name="tech" id="v">
                        <dd>
                            <a href="{$v['post_id']|getSingleURLByID}"><i>·&nbsp;&nbsp;</i>{$v['post_title']}</a>
                            <span>({$v['post_date']|substr=0,10})</span>
                        </dd>
                    </volist>
                </dl>
                <dl class="article2">
                    <dt>
                        世界大学之窗
                    </dt>
                    <volist name="college" id="v">
                        <dd>
                            <a href="{$v['post_id']|getSingleURLByID}"><i>·&nbsp;&nbsp;</i>{$v['post_title']}</a>
                            <span>({$v['post_date']|substr=0,10})</span>
                        </dd>
                    </volist>
                </dl>
                <dl class="article3">
                    <dt>
                        青青学园
                    </dt>
                    <volist name="school" id="v">
                        <dd>
                            <a href="{$v['post_id']|getSingleURLByID}"><i>·&nbsp;&nbsp;</i>{$v['post_title']}</a>
                            <span>({$v['post_date']|substr=0,10})</span>
                        </dd>
                    </volist>
                </dl>
            </div>
            
 
</div>

    <include file="Public:foot"/>
	    
</body>
</html>