<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="site-footer-inner col-12">

                <div class="site-info">
                    <a href="http://www.greencms.net/" title="优雅的个人发布平台">自豪地采用 GreenCMS</a>
                    <span class="sep"> | </span>
                    Theme: rootstrap by <a href="http://crayonux.com/" rel="designer">Crayonux</a>.
                </div>
                <!-- close .site-info -->

            </div>
        </div>
    </div>
    <!-- close .container -->
</footer>