<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel='stylesheet' id='rootstrap-style-css' href='__PUBLIC__/RootStrap/style.css?ver=3.5.1' type='text/css' media='all'/>
<link rel='stylesheet' id='rootstrap-bootstrap-css' href='__PUBLIC__/RootStrap/includes/resources/bootstrap/css/bootstrap.min.css?ver=3.5.1' type='text/css' media='all'/>
<link rel='stylesheet' id='rootstrap-glyphicons-css' href='__PUBLIC__/RootStrap/includes/resources/glyphicons/css/bootstrap-glyphicons.css?ver=3.5.1' type='text/css' media='all'/>
<!--<script type="text/javascript" src="__PUBLIC__/share/js/jquery-1.9.0.min.js"></script>-->
<!--<script type='text/javascript' src='__PUBLIC__/RootStrap/includes/resources/bootstrap/js/bootstrap.min.js?ver=3.5.1'></script>-->
<!--<script type='text/javascript' src='__PUBLIC__/RootStrap/includes/js/bootstrap-wp.js?ver=3.5.1'></script>-->
<style type="text/css">.recentcomments a {
    display: inline !important;
    padding: 0 !important;
}</style>

<style type="text/css">.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}

.blog-navi {
    display: block;
    float: left;
    margin-bottom: 50px;
    margin-left: 95px;
}

.blog-navi ul li {
    display: inline-block;
    /*float: left;*/
}

.blog-navi ul li a {
    display: block;
    margin-right: 4px;
    padding: 6px 11px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: #e5e8ea;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.blog-navi ul li a:hover,
.blog-navi ul li a.current {
    color: #fff;

}

.blog-navi ul li a:active,
.blog-navi ul li a.current:active {
    margin-top: 2px;
    margin-bottom: -2px;
}

.entry-content {
    overflow: hidden;
}

.col-12 {
    padding: 2px;
}
</style>