<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {$action} | {:get_opinion('title')}</title>

    <include file="Public:head"/>

</head>
<body class="skin-blue">

{:W('Common/header')}

<div class="wrapper row-offcanvas row-offcanvas-left">
    {:W('Common/sideMenu')}


    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->


        <section class="content-header">
            <h1>
                {$action}
                <small>{$Think.config.title}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{$module_url}"><i class="fa fa-dashboard"></i> {$module}</a></li>
                <li class="active">{$action}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h3 class="box-title">{$action}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <form action="{$form_action}" name="change"
                                  method="post">

                                <div class="form-group">
                                    <label class="control-label">名称</label>

                                    <div class="controls">
                                        <input type="text" placeholder="" class="form-control large" name="name"
                                               value="{$weixin_menu_now.name}"/>
                                        <span class="help-inline"></span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label">键值</label>

                                    <div class="controls">
                                        <input type="text" placeholder="" class="form-control large" name="key"
                                               value="{$weixin_menu_now.key}"/>
                                        <span class="help-inline"></span>
                                    </div>
                                </div>


                                <div class="form-actions">
                                    <button type="submit" class="btn bg-blue"><i class="icon-ok"></i>{$action_name}
                                    </button>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->

<include file="Public:foot"/>

</body>
</html>