<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{$post.post_title} | {:get_opinion('title')}</title>
    <meta name="description" content="Green Studio" />
    <meta name="author" content="{$post.post_user.user_nicename}" />
    <meta name="keywords"
          content='<volist name="post.pts" id="tag">{$tag.tag_name}, </volist>' />

    <link href="__PUBLIC__/Zzb/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>


<!--抬头图片-->
<div class="head">
</div>


{:W('Widget/menuHead')}

<!--**********************1*************************-->

<div class="box">
    <div class="loca">

        <ul>
            <li> 当前位置：</li>{$breadcrumbs}</ul>

    </div>

    <div class="page">
        <div class="pageTitle">
            <h1>
                {$post.post_top|is_top}{$post.post_title}
            </h1>
            <div class="pageStitle">
                分类:
                <volist name="post.post_cat"
                        id="cat"><a
                        href="{$cat.cat_id|getCatURLByID}">{$cat.cat_name}</a>,
                </volist>
                浏览: <span>{$post.post_view_count}</span>
                发布时间:{$post.post_date}


            <control access="Admin/Posts/posts">
                <a href="{:U('Admin/Posts/posts',array('id'=>$post['post_id']))}">编辑</a>
            </control>

        </div>

            <hr />
        </div>
        <div class="pagefont">

            <div class="post-content">{$post.post_content}</div>


        </div>
    </div>
</div>

<include file="Public:footer"/>

</body>
</html>


</body>

</html>