@charset  "gb-2312"; 
a:link {
	Font-family: "Mircosoft Yahei";	
	FONT-SIZE: 14px;
	COLOR: #000000;
 	text-decoration: none
}
a:visited {
    Font-family: "Mircosoft Yahei";	
	FONT-SIZE: 14px;
	COLOR: #000000; 
	text-decoration: none;
}
a:hover {
	Font-family: "Mircosoft Yahei";	
	FONT-SIZE: 14px;
	COLOR: #ff6600; 
	text-decoration: none
}
a.daohangl:link {
display:block;
line-height: 30px; 
background-image: url(bgDIVIDER.gif);
background-position:0px 0px;
background-repeat:no-repeat;
height:auto;
COLOR: #ffffff;
text-decoration: none;
font-size: 14px;
font-weight: bolder;
height:1;filter:DropShadow(color=#022966,OffX=1,OffY=1,Positive=1);
}
a.daohangl:visited {
display:block;
line-height: 30px; 
background-image: url(bgDIVIDER.gif);
background-position:0px 0px;
background-repeat:no-repeat;
height:auto;
COLOR: #ffffff;
text-decoration: none;
font-size: 14px;
font-weight: bolder;
height:1;filter:DropShadow(color=#022966,OffX=1,OffY=1,Positive=1);
}
a.daohangl:hover {
display:block;
line-height: 30px; 
height:auto;
background-image: url(bgDIVIDER.gif);
background-position:0px -4px;
background-repeat:no-repeat;
COLOR: #ffffff; 
text-decoration: none;
font-size: 14px;
font-weight: bolder;
height:1;filter:DropShadow(color=#022966,OffX=1,OffY=1,Positive=1);
}
a.daohangi:link {
display:block;
line-height: 30px; 
height:auto;
COLOR: #ffffff;
text-decoration: none;
font-weight: bolder;
font-size: 14px;
height:1;filter:DropShadow(color=#022966,OffX=1,OffY=1,Positive=1);
}
a.daohangi:visited {
display:block;
line-height: 30px; 
height:auto;
COLOR: #ffffff;
text-decoration: none;
font-weight: bolder;
font-size: 14px;
height:1;filter:DropShadow(color=#022966,OffX=1,OffY=1,Positive=1);
}
a.daohangi:hover {
display:block;
line-height: 30px; 
height:auto;
background-image: url(bgDIVIDER.gif);
background-position:0px -4px;
background-repeat:repeat-x; 
COLOR: #ffffff; 
text-decoration: none;
font-weight: bolder;
font-size: 14px;
height:1;filter:DropShadow(color=#022966,OffX=1,OffY=1,Positive=1);
}
.td1 a:link {
display:block;
line-height: 30px; 
height:auto;
background-image: url(bgDIVIDER1.gif);
COLOR: #000000;
text-decoration: none;
font-size:14px;
}
.td1 a:visited {
display:block;
line-height: 30px; 
height:auto;
COLOR: #000000; 
background-image: url(bgDIVIDER1.gif);
text-decoration: none;
font-size:14px;
}
.td1 a:hover {
display:block;
line-height: 30px; 
height:auto;
background-image: url(bgDIVIDER.gif);
COLOR: #000000; 
text-decoration: none;
font-size:14px;
}
.jiantou{
	font-size: 12px;
	font-weight: bolder;}
TaBLE {
	Font-family: "Mircosoft Yahei";	
	FONT-SIZE: 14px; 
	line-height: 25px
	vertical-align : center;
}
.td1{
	word-break:keep-all;
   white-space:nowrap;
  height:30px;
  font:12px;
  COLOR: #000000; 
  text-align:center;
  background:#ffffff;
  font-weight: bolder;
   }
   
.td3 a:link {
display:block;
line-height: 25px; 
height:auto;
background:#ffffff;
COLOR: #000000;
text-decoration: none;
width:100px;
}
.td3 a:visited {
display:block;
line-height: 25px; 
height:auto;
COLOR: #000000; 
background:#ffffff;
text-decoration: none;
 width:100px;
}
.td3 a:hover {
display:block;
line-height: 25px; 
height:auto;
background:#90b6fa;
COLOR: #ffffff; 
text-decoration: none;
 width:100px;
}
.td3{
  word-break:keep-all;
  white-space:nowrap;
  height:25px;
  font:9pt;
  COLOR: #000000; 
  text-align:center;
  background:#ffffff;
  BORDER: #ccc 1px solid;
  
   }
.td4{ 
  background:#ffffff;
 
   }
.td2{ 
  word-break:keep-all;
  white-space:nowrap;
  height:25px;
  font:9pt;
  text-align:center;
  BORDER: #ffffff 1px solid;
  background:#ffffff;
   }
.item 
{
position:absolute;
visibility:hidden;
left:0px;
  }
.navPoint {
COLOR: #ff3366;
CURSOR: hand; 
FONT-FaMILY: Webdings;
FONT-SIZE: 9pt
}
.T_LIST_TaBLE{
border-collapse: collapse;
border: 1px solid #339999; 
}
.T_LIST_TD_TOP{
text-align : center;
border: 1px solid #339999;
background:#acd4d4;
}
.T_LIST_TD_BOTTOM{
border: 1px solid #339999; 
background:#d7e8f0;
}

.T_FORM_TaBLE{
	border-collapse: collapse;
	line-height: 25px;
	text-decoration: none;
	font-size: 12pt;
	border: none;
}
.T_FORM_TD_TOP{
text-align : center;
border: 1px solid #339999;
background:#d7e8f0;
}
.T_FORM_TD_LEFT{
border: 1px solid #339999; 
background:#c8dede;
}
.T_FORM_TD_RIGHT{
border: 1px solid #339999; 
background:#aCD4D4;
}
BODY {  
	background:#FFFFFF;
	background-image: url(bg.gif);
	scrollbar-face-color:#B4E0F7;
	scrollbar-arrow-color:#257B9D;
	scrollbar-track-color:#E6EFF2;
	scrollbar-highlight-color:#F8FBFE;
	scrollbar-3dlight-color:#5CB6E1;
	scrollbar-shadow-color:#E1EFF4;
	scrollbar-darkshadow-color:#5CB6E1;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	}
.input{
	FONT-SIZE: 9pt;
	HEIGHT: 18px;
	width:120px;
	padding: 1px;
	background-color: #CEF3FF;
	border: 1px dotted #333333;
}
.select{
	BaCKGROUND: #FFFFC4;
	BORDER-TOP-WIDTH: 1px;
	BORDER-LEFT-WIDTH: 1px;
	FONT-SIZE: 9pt;
	BORDER-LEFT-COLOR: #FF9900;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-BOTTOM-COLOR: #FF9900;
	BORDER-TOP-COLOR: #FF9900;
	HEIGHT: 20px;
	width:180px;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-RIGHT-COLOR: #FF9900;
	color: #333333;
	padding: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.reg {
	font-size: 9pt;
	line-height: 24px;
	color: #000000;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	border: none;
	left: 4px;
}
.box1 {
	BaCKGROUND: #FFFFFF;
	COLOR: #333333;
	FONT: 9pt "Verdana", "arial";
	height: 18px;
	border: 1px solid #54850F;
}
.daohang {
	border: 1px solid #339999;
	border-collapse: collapse;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	letter-spacing: 2px;
	color: #000000;
	line-height: normal;
}
.textarea {
	BORDER-TOP-WIDTH: 1px;
	BORDER-LEFT-WIDTH: 1px;
	FONT-SIZE: 9pt;
	BORDER-LEFT-COLOR: #cccccc;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-BOTTOM-COLOR: #ffffff;
	BORDER-TOP-COLOR: #cccccc;
	HEIGHT: 200px;
	width:600px;
	BORDER-RIGHT-WIDTH: 1px;
	BORDER-RIGHT-COLOR: #ffffff;
	padding: 1px;
}
.newstitle {
	Font-family: "Mircosoft Yahei";	
	font-size: 12pt;
	color: #00758f;
	text-decoration: none;
}
.close{
  visibility:hidden;
  cellPadding=0;
  cellSpacing=0 ;
  height:0;
  font:9pt;
  text-align:center;
}
.open{
  visibility:visible;
  cellPadding=0; 
  cellSpacing=0 ;
  height:24px;
  font:9pt;
  text-align:center;
   }
.openleft{
  visibility:visible;
  cellPadding=0; cellSpacing=0 ;
  height:24px;font:9pt;text-align:center;
  }
.borderline {
	border: 1px dashed #CCCCCC;
}
a.pop:link {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORaTION: none;line-height: 20px;
}
a.pop:visited {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORaTION: none;line-height: 20px;
}
a.pop:hover {
	FONT-SIZE: 9pt; COLOR: #999999; TEXT-DECORaTION: underline;line-height: 20px;
}
#pic1 a {
BORDER-RIGHT: #6fcb81 2px solid; PaDDING-RIGHT: 4px; BORDER-TOP: #6fcb81 2px solid; DISPLaY: block; PaDDING-LEFT: 4px; BaCKGROUND:#ffffff; PaDDING-BOTTOM: 4px; MaRGIN: 0px; BORDER-LEFT: #6fcb81 2px solid; COLOR: #000000; PaDDING-TOP: 4px; BORDER-BOTTOM: #6fcb81 2px solid; POSITION: relative
}
#pic1 a:hover {
	BaCKGROUND: #6fcb81; COLOR: #ffffff; TEXT-DECORaTION: none
}

.good_btn1 { background:url(btn_lin1.gif) 0px -8px; border:1px solid #cfab25; width:50px;height:22px; font-weight:normal; padding-top:1px; cursor:pointer; font-size:12px; color:#660000;}
.good_btn2 { background:url(btn_lin2.gif) 0px -64px; border:1px solid #8b9c56; height:22px; font-weight:normal; padding-top:1px; cursor:pointer; font-size:12px; color:#336600;
}
.manu {
	PaDDING-RIGHT: 3px; PaDDING-LEFT: 3px; PaDDING-BOTTOM: 3px; MaRGIN: 3px; PaDDING-TOP: 3px; 
}
.manu a {
	BORDER-RIGHT: #fff 1px solid; PaDDING-RIGHT: 5px; BORDER-TOP: #fff 1px solid; PaDDING-LEFT: 5px; PaDDING-BOTTOM: 2px; MaRGIN: 2px; BORDER-LEFT: #fff 1px solid; COLOR: #000000; PaDDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid; TEXT-DECORaTION: none
}
.manu a:hover {
	BORDER-RIGHT: #6fcb81 1px solid; BORDER-TOP: #6fcb81 1px solid; BORDER-LEFT: #6fcb81 1px solid; COLOR: #000000; BORDER-BOTTOM: #6fcb81 1px solid
}
.manu a:active {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
.manu .current {
	BORDER-RIGHT: #6fcb81 1px solid; PaDDING-RIGHT: 5px; BORDER-TOP: #6fcb81 1px solid; PaDDING-LEFT: 5px; FONT-WEIGHT: bold; PaDDING-BOTTOM: 2px; MaRGIN: 2px; BORDER-LEFT: #6fcb81 1px solid; COLOR: #fff; PaDDING-TOP: 2px; BORDER-BOTTOM: #6fcb81 1px solid; BaCKGROUND-COLOR: #6fcb81
}
.manu .disabled {
	BORDER-RIGHT: #eee 1px solid; PaDDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PaDDING-LEFT: 5px; PaDDING-BOTTOM: 2px; MaRGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #666; PaDDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid
}
.page_nav_jump INPUT.text {
	WIDTH: 26px;height:18px;
}
.page_nav_jump INPUT.submit {
	BaCKGROUND: url(goto.gif) 0px 0px; WIDTH: 32px; HEIGHT: 18px;CURSOR: pointer; BORDER-TOP-STYLE: none; TEXT-INDENT: -3000px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.search{
	BORDER-RIGHT: #ccc 1px solid; PaDDING-RIGHT: 0px; BORDER-TOP: #999 2px solid; PaDDING-LEFT: 3px; FONT-SIZE: 100%; FLOaT: left; PaDDING-BOTTOM: 2px; BORDER-LEFT: #999 2px solid; WIDTH: 140px; MaRGIN-RIGHT: -1px; PaDDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px;
}
.button {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
	background-color: #FFCC00;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #FFFFFF;

}
.go-wenbenkuang {
	BORDER-RIGHT: #666666 1px solid; PaDDING-RIGHT: 1px; BORDER-TOP: #ffffff 1px solid; PaDDING-LEFT: 1px; FONT-SIZE: 9pt; PaDDING-BOTTOM: 1px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #333333; PaDDING-TOP: 1px; BORDER-BOTTOM: #666666 1px solid; Font-family: "Mircosoft Yahei"; HEIGHT: 19px; BaCKGROUND-COLOR: #cdcdcd
}
.input_focus {border:1px solid #E88C25;height:22px;width:250px;background-color:#FFFFCC;padding:2px 8px 0pt 3px; }
.input_over {border:1px solid #E88C25;height:22px;width:250px;background-color:#FFFFCC;padding:2px 8px 0pt 3px; }
.input_normal {border:1px solid #DEE0E1;height:22px;width:250px;padding:2px 8px 0pt 3px; }
.area_focus {border:1px solid #E88C25;height:60px;width:250px;background-color:#FFFFCC;CLEaR: left;}
.area_over {border:1px solid #E88C25;height:60px;width:250px;background-color:#FFFFCC;CLEaR: left;}
.area_normal {border:1px solid #DEE0E1;height:60px;width:250px;CLEaR: left;}
.errdiv{ 
width:120px; 
line-height:20px; 
text-align:center; 
font-size:9pt; 
color:#ff0000; 
border:1px solid #DEE0E1;
background-color: #EEFFFF; 
} 
.errdiv2{ 
width:560px; 
line-height:25px; 
text-align:center; 
font-size:9pt; 
color:#990066; 
border:1px solid #B4E0F7;
background-color: #E6EFF2; 
} 
.errdiv3{ 
width:700px; 
height:25px;
PaDDING-TOP: 5px;
PaDDING-left: 4px;
line-height:25px; 
text-align:left; 
font-size:9pt; 
color:#990066; 
border:1px solid #B4E0F7;
background-color: #E6EFF2; 
} 
.xulie{ 
BORDER-RIGHT: #000099 1px solid; 
PaDDING-RIGHT: 5px; 
BORDER-TOP: #000099 1px solid; 
PaDDING-LEFT: 5px;
FONT-WEIGHT: bold; 
PaDDING-BOTTOM: 2px; 
MaRGIN: 2px;
BORDER-LEFT: #000099 1px solid; 
COLOR: #fff; 
PaDDING-TOP: 2px; 
BORDER-BOTTOM: #000099 1px solid;
BaCKGROUND-COLOR: #000099
}
.white {color: #FFFFFF;
FONT-SIZE: 14px;
	font-weight: bolder;
}
.red {color: #FF0000}
.hui {color: #cccccc}
.P1 {
	Font-family: "黑体";	
	FONT-SIZE: 14px;
	font-weight: bolder;
	color: #a74100;
}
.P2 {
	Font-family: "Mircosoft Yahei";	
	FONT-SIZE: 14px;
	font-weight: bolder;
	color: #FFFFFF;
	filter: DropShadow(Color=#000066, OffX=1, OffY=1, Positive=1); 
}
.l_x {
	background-image: url(leftlist.jpg);
	background-repeat: repeat-x;
	background-position: 100% 0px;
}
.m_x {
	background-image: url(bgxsc.jpg);
	background-repeat: repeat-x;
	background-position: 100% 0px;
}
.pictming {
filter:alpha(opacity=50); /* IE */
-moz-opacity:0.5; /* Moz + FF */
opacity: 0.5; /* 支持CSS3的浏览器（FF 1.5也支持）*/
}
.jjy {color: #FFFFFF;font-size: 12px;height:1;filter:DropShadow(color=#000000,OffX=1,OffY=1,Positive=1);}
a.bt:link {
COLOR: #000000;
text-decoration: none;
font-size: 10pt;
font-weight: bolder;
Font-family: "黑体";	
}
a.bt:visited {
COLOR: #000000; 
text-decoration: none;
font-size: 10pt;
font-weight: bolder;
Font-family: "黑体";	
}
a.bt:hover {
COLOR: #CC6600; 
text-decoration: none;
font-size: 10pt;
font-weight: bolder;
Font-family: "黑体";	
}
.picwei {
	float:right;margin-top:-12px ;
}
.ntitle {
    Font-family: "仿宋_GB2312";	
	FONT-SIZE: 16pt;
	COLOR: #ff0000; 
	text-decoration: none;
	font-weight: bolder;
}
.ntitle2 {
    Font-family: "仿宋_GB2312";	
	FONT-SIZE: 11pt;
	COLOR: #000000; 
	text-decoration: none;
}
a.m_enlai:link {
display:block;
line-height: 30px; 
height:auto;
COLOR: #ffffff;
text-decoration: none;
font-size: 14px;
font-weight: bolder;
height:1;filter:DropShadow(color=#000000,OffX=1,OffY=1,Positive=1);
}
a.m_enlai:visited {
display:block;
line-height: 30px; 
height:auto;
COLOR: #ffffff;
text-decoration: none;
font-size: 14px;
font-weight: bolder;
height:1;filter:DropShadow(color=#000000,OffX=1,OffY=1,Positive=1);
}
a.m_enlai:hover {
display:block;
line-height: 30px; 
height:auto;
COLOR: #fff100;
text-decoration: none;
font-size: 14px;
font-weight: bolder;
height:1;filter:DropShadow(color=#000000,OffX=1,OffY=1,Positive=1);
}
a.m_enlai2:link {
display:block;
line-height: 30px; 
height:auto;
COLOR: #000000;
text-decoration: none;
font-size: 14px;
font-weight: bolder;
height:1;filter:DropShadow(color=#ffffff,OffX=1,OffY=1,Positive=1);
}
a.m_enlai2:visited {
display:block;
line-height: 30px; 
height:auto;
COLOR: #000000;
text-decoration: none;
font-size: 14px;
font-weight: bolder;
height:1;filter:DropShadow(color=#ffffff,OffX=1,OffY=1,Positive=1);
}
a.m_enlai2:hover {
display:block;
line-height: 30px; 
height:auto;
COLOR: #bc0614;
text-decoration: none;
font-size: 14px;
font-weight: bolder;
height:1;filter:DropShadow(color=#ffffff,OffX=1,OffY=1,Positive=1);
}
a{ 
outline:none;/*ff*/ 
hide-focus:expression(this.hideFocus=true);/*ie*/ 
} 