/db_config.php
/Upload/**
/Data/DBbackup/*.sql
/Data/DBbackup/**/*.zip
/Data/Cache/*
/Data/Log/*
/Data/Temp/**
/Data/Temp/Cache/**/**/*.php
/Data/Temp/Cache/**/*.php
/Data/Temp/Data/**/**
/Data/Temp/Temp/**/**
/Data/Install/install.lock
*.lock
*.tmp
*.bak
*.log
.idea/
.idea/*

/Data/Install/install.lock
/Data/Temp
/db_config.php
