/Data/Backup/
/Data/Cache/
/Data/DBbackup/
/Data/Log
/Data/Install/install.lock


/db_config.php

/Upload/Data
/Upload/Img
/Upload/.quarantine
/Upload/.tmb

/Addons/joinUs
/Application/Zel

/Application/Home/View/GreenCMS
/Application/Weixin/View/Metronic
/Application/Home/View/2011college
/Application/Admin/View/Metronic
/Application/Home/View/Vena
/Application/Home/View/Xsc

/Public/GreenCMS
/Public/2011college
/Public/Vena
/Public/Xsc
/Public/admin


Temp
.idea
.tmb
.quarantine

