/Data/Backup/
/Data/Cache/
/Data/DBbackup/
/Data/Log
/Data/Install/install.lock


/Upload/Data
/Upload/Img
/Upload/.quarantine
/Upload/.tmb

/Addons/joinUs
/Application/Zel

/Application/Weixin/View/Metronic
/Application/Home/View/2011college
#/Application/Home/View/Xsc
/Public/2011college
#/Public/Xsc

/Addons/Join2011
/Addons/GreenRadius


Temp
.idea
.tmb
.quarantine
/db_config.php