<!-- BEGIN CORE PLUGINS -->
<script type="text/javascript" src="__PUBLIC__/share/js/jquery-1.9.0.min.js"></script>
<!--<script src="__PUBLIC__/admin/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
-->
<script src="__PUBLIC__/admin/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="__PUBLIC__/admin/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="__PUBLIC__/admin/assets/plugins/excanvas.min.js"></script>
<script src="__PUBLIC__/admin/assets/plugins/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/admin/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>

<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="__PUBLIC__/admin/assets/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/assets/plugins/data-tables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/assets/plugins/data-tables/DT_bootstrap.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="__PUBLIC__/admin/assets/scripts/app.js"></script>
<script src="__PUBLIC__/admin/assets/scripts/table-managed.js"></script>
<!-- <script type="text/javascript"
        src="__PUBLIC__/admin/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script> -->
<script type="text/javascript"
        src="__PUBLIC__/admin/assets/plugins/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
<script src="__PUBLIC__/admin/assets/scripts/form-wizard.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/admin/assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/admin/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<!---->
<script type="text/javascript" src="__PUBLIC__/admin/assets/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/assets/js/functions.js"></script>




