<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="__PUBLIC__/admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/admin/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"
      type="text/css"/>
<link href="__PUBLIC__/admin/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
      type="text/css"/>
<link href="__PUBLIC__/admin/assets/css/style-metro.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/admin/assets/css/style.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/admin/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/admin/assets/css/themes/brown.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="__PUBLIC__/admin/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/plugins/select2/select2_metro.css"/>
<link rel="stylesheet" href="__PUBLIC__/admin/assets/plugins/data-tables/DT_bootstrap.css"/>

<link href="__PUBLIC__/admin/assets/plugins/chosen-bootstrap/chosen/chosen.css" rel="stylesheet"
      type="text/css"/>
<link href="__PUBLIC__/admin/assets/css/pages/profile.css" rel="stylesheet" type="text/css"/>
<!--<link href="__PUBLIC__/css/tab.css" rel="stylesheet" type="text/css"/>-->

<!-- END PAGE LEVEL STYLES -->
<link rel="shortcut icon" href="__PUBLIC__/images/logo.png"/>

