<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu">
            <li>


            </li>
            {:W('Common/sideBar')}
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <h4>{$action}</h4>

                    <form class="form-horizontal" method="post" action="{$form_url}">
                        <div class="control-group">
                            <label class="control-label">名称：</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap medium" name="menu_name"
                                        />
                                <span class="help-inline">显示名称</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">函数名：</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap medium" name="menu_function"  />
                                <span class="help-inline">getCatURLByID,getTagURLByID,getSingleURLByID,direct,U</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">打开方式：</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap medium" name="menu_action"
                                        />
                                <span class="help-inline"> _self,_blank</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">父级节点：</label>

                            <div class="controls">

                                <select name="menu_pid" class="medium m-wrap" tabindex="1">
                                    <option value="0">无</option>
                                    <foreach name="menu" item="list">
                                        <option value="{$list.menu_id}">{$list.menu_construct}</option>

                                    </foreach>

                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">显示排序：</label>

                            <div class="controls">
                                <input class="m-wrap medium" name="menu_sort" type="number" size="40" value="99"/>
                                <span class="help-inline"> 100为基准</span>

                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">链接参数：</label>

                            <div class="controls">
                                <input class="m-wrap medium" name="menu_url" type="text" size="40"/>

                            </div>
                        </div>
                        <!--<input type="hidden" name="id" value="{$info.id}"/>-->

                        <div class="control-group success"
                             style="font-size:16px;color: red;text-align: left; display:none;">
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn blue submit" id="submit"><i class="icon-ok"></i>
                                添加
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>
    jQuery(document).ready(function () {

        App.init();
        TableManaged.init();

    });
</script>
</body>
<!-- END BODY -->
</html>