<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-bordered table-hover" class="tab">
                        <tr>
                            <th class="hidden-480">插件ID</th>
                            <th class="hidden-480">插件名称</th>
                            <th class="hidden-480">插件信息</th>
                            <th class="hidden-480">插件状态</th>
                            <th class="hidden-480">操作</th>
                        </tr>
                        <volist name="list" id="vo">
                            <tr>
                                <td class="hidden-480">{$vo.plugin_id}</td>
                                <td class="hidden-480">{$vo.plugin_title}</td>
                                <td class="hidden-480">作者:{$vo.plugin_author}&nbsp;&nbsp;&nbsp;版权:{$vo.plugin_copyright}&nbsp;&nbsp;&nbsp;描述信息:{$vo.plugin_description}</td>
                                <td class="hidden-480">
                                    <eq name="vo.status" value="0">
                                        <font color="green">启用</font>-><a href='javascript:;' onclick="ajax({$vo.plugin_id})">禁用
                                        <else/>
                                        <font color="red">禁用</font>-><a href='javascript:;' onclick="ajax({$vo.id})">启用
                                    </eq>
                                    </a>
                                </td>
                                <td class="hidden-480">
                                    <a href="{:U('Admin/Custom/pluginManage')}?name={$vo.plugin_title}">管理</a>|
                                    <a href="{:U('Admin/Custom/pluginEdit')}?name={$vo.plugin_title}">配置</a>|
                                    <a href="javascript:;"
                                       onClick="JavaScript:return jconfirm('确认卸载吗?','{:U('Admin/Custom/pluginUninstall')}?id={$vo.plugin_id}')">卸载</a>|
                                    <a href="{:U('Admin/Custom/pluginDownload')}?name={$vo.plugin_title}">导出</a>
                                </td>
                            </tr>
                        </volist>
                    </table>
                    <div class="pagination">
                        <ul> {$page}</ul>

                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>

    jQuery(document).ready(function () {
        App.init();
    });
</script>
<script>
    function ajax(id) {
        $.post("{:U('Admin/Custom/pluginStatus')}", {id: id},
                function (data) {
                    if (data == '1') {
                        window.location.reload(true);
                    }
                    else {
                        $.dialog.alert(data);
                    }
                });
    }

    function jconfirm(str, url) {
        $.dialog.confirm(str, function () {
            window.location.href = url;
        });
    }
</script>
</body>
<!-- END BODY -->
</html>
