<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-bordered table-hover" class="tab">
                        <tr>
                            <th class="hidden-480">名称</th>
                            <th class="hidden-480">标识</th>
                            <th class="hidden-480">描述</th>
                            <th class="hidden-480">状态</th>
                            <th class="hidden-480">作者</th>
                            <th class="hidden-480">版本</th>
                            <th class="hidden-480">操作</th>
                        </tr>
                        <volist name="list" id="vo">
                            <tr>
                                <td class="hidden-480">{$vo.title}</td>
                                <td class="hidden-480">{$vo.name}</td>
                                <td class="hidden-480">{$vo.description}</td>
                                <td class="hidden-480">
                                    <eq name="vo.status" value="1">
                                        启用
                                    <else/>
                                        禁用
                                    </eq>
                                </td>
                                <td class="hidden-480">{$vo.author}</td>
                                <td class="hidden-480">{$vo.version}</td>
                                <td class="hidden-480">
                                    <a href="{:U('Admin/Custom/config', array('id'=>$vo['id']))}">配置</a>|
                                    <eq name="vo.status" value="1">
                                        <a href='javascript:;' onclick="off({$vo.id})">禁用
                                        <else/>
                                        <a href='javascript:;' onclick="on({$vo.id})">启用
                                    </eq>
                                    </a>|
                                    <a href="{:U('Admin/Custom/uninstall')}&id={$vo.id}">卸载</a>
                                </td>
                            </tr>
                        </volist>
                    </table>
                    <div class="pagination">
                        <ul> {$page}</ul>

                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>

    jQuery(document).ready(function () {
        App.init();
    });
</script>
<script>
    function on(id) {
        $.post("{:U('Admin/Custom/enable')}", {id: id},
                function (data) {
                    /*if (data.status == 1) {
                        window.location.reload(true);
                    }
                    else {
                        //$.dialog.alert(data);
                        alert(data);
                    }*/
                    window.location.reload(true);
                });
    }

    function off(id) {
        $.post("{:U('Admin/Custom/disable')}", {id: id},
                function (data) {
                    /*if (data.status == 1) {
                        window.location.reload(true);
                    }
                    else {
                        //$.dialog.alert(data);
                        alert(data);
                    }*/
                    window.location.reload(true);
                });
    }

    function jconfirm(str, url) {
        $.dialog.confirm(str, function () {
            window.location.href = url;
        });
    }
</script>
</body>
<!-- END BODY -->
</html>
