<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">


                    <div class="clearfix">
                        <div class="btn-group">
                            <a href="{:U('Admin/Custom/themeAdd')}">
                                <button type="submit" class="btn green" name="menuAdd" value='1'>
                                    <i class="icon-plus"></i> 添加主题
                                </button>
                            </a>
                        </div>

                    </div>

                    <br/>
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->

                    <table class="table table-striped table-bordered table-hover"
                           id="sample_1">
                        <thead>

                        <tr>
                            <th style="width: 150px;">预览</th>

                            <th>名称</th>
                            <th>描述</th>
                            <th>介绍</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="theme_list" id="vo" key="k">
                            <tr align="center" id="{$k}">
                                <td>
                                    <a href="__PUBLIC__{$vo.preview_big}" target="_blank"><img src="__PUBLIC__{$vo.preview}"/></a>
                                </td>
                                <!--<td>{$vo.menu_id}</td>-->
                                <td>{$vo.name}</td>
                                <td align="left">{$vo.description}</td>
                                <td>{$vo.introduction}</td>
                                <td>
                                    <a class="btn {$vo.using_color}" href="{$vo.status_url}">{$vo.status_name}</a>
                                </td>

                                <td>

                                    <a class="btn purple" href="{$vo.action_url2}">{$vo.action_name2}</a>

                                    <!--<a class="btn blue" href="{:U('Admin/Custom/themeChangeHandle',array('theme_name'=>$vo['name']))}">切换</a>-->
                                    <a class="btn red" href="{:U('Admin/Custom/themeDelHandle',array('theme_name'=>$vo['name']))}">删除</a>
                                </td>


                            </tr>
                        </volist>
                        </tbody>
                    </table>


                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>
    jQuery(document).ready(function () {
        App.init();

        TableManaged.init();

    });
</script>
</body>
<!-- END BODY -->
</html>
