<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{:get_opinion('title')} </title>
    <meta name="description" content="{:get_opinion('keywords')}"/>

    <include file="Public:head"/>


</head>
<body>
{:W('Common/mainMenu')}


<table width="924" height="690" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>


        {:W('Widget/siderbar1')}


        <td align="center" valign="top" bgcolor="#F8E4E4">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="100%" height="38" valign="top" bgcolor="#F8E4E4">
                        <table width="90%" border="0" cellspacing="3" cellpadding="3">
                            <tr>

                                <td width="100%">


                                    {$breadcrumbs}


                                    <!--<a href="index.asp">首页</a> <img src="__PUBLIC__/Xsc/zel/image/dot_dou.gif" width="7" height="7"/>-->
                                    <!--<a href=javascript:void(0); target=_self>发展与服务</a> <img src=image/dot_dou.gif> <a href=zelb.asp-->
                                    <!--target=_self>周恩来班</a>-->
                                    <!--<img src=image/dot_dou.gif> <a href=zelb_list.asp?class=95 target=_self>新闻动态</a>-->


                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td height="30" valign="top">


                                    <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="100%" height="20" valign="top">&nbsp;</td>
                                        </tr>


                                        <table width="100%" border="0" align="center" cellpadding="10" cellspacing="0">
                                            <tr>
                                                <td valign="top" class="T_FORM_TABLE" style="word-break:break-word">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td height="30" colspan="2" align="center" valign="top">
                                                                <FONT face=仿宋_GB2312 color=#ff0000 size=5><STRONG>
                                                                    {$post.post_top|is_top}{$post.post_title}
                                                                </STRONG></FONT></td>
                                                        </tr>

                                                    </table>
                                                    <table width="100%" border="0" cellspacing="2" cellpadding="2">
                                                        <tr>
                                                            <td height="10"></td>
                                                        </tr>
                                                    </table>
                                                    <table width="96%" height="29" border="0" align="center"
                                                           cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td align="center"><font color="#999999">&nbsp;

                                                                &nbsp;编辑:{$post['post_user']['user_nicename']}&nbsp;
                                                                阅读次数:{$post.post_view_count}&nbsp;
                                                                添加时间:{$post['post_date']}</font>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="1" colspan="3" bgcolor="#cccccc"></td>
                                                        </tr>
                                                    </table>
                                                    <table width="100%" border="0" cellspacing="2" cellpadding="2">
                                                        <tr>
                                                            <td height="10"></td>
                                                        </tr>
                                                    </table>

                                                    {$post.post_content}

                                                    <br/>
                                                    来自:学工处

                                                    </FONT> </td>
                                            </tr>

                                            <tr>
                                                <td align="center" valign="top">


                                                    <h4>
                                                        <br/>
                                                        上一篇:{$post['post_id']|get_previous_post2=$post['post_cat']|is_empty=没有了}
                                                        <br/>
                                                        下一篇:
                                                        {$post['post_id']|get_next_post2=$post['post_cat']|is_empty=没有了}
                                                    </h4>

                                                </td>
                                            </tr>

                                        </table>


                                    </table>


                                </td>
                            </tr>
                        </table>
                        <br></td>
                </tr>

            </table>
        </td>
    </tr>
</table>


<include file="Public:footer"/>

</div>

</body>
</html>