<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8"/>
    <title>加入我们 |{:get_opinion('title')} </title>
    <meta name="description" content="{:get_opinion('description')}"/>
    <meta name="keywords" content="{:get_opinion('keywords')}"/>

    <meta name="author" content="Green Studio  2014"/>

    <include file="Public:head"/>

</head>

<body>

{:W('Common/mainMenu')}


<!-- Services / Srart
================================================== -->
<div class="page-title">

    <div class="container">

        <div class="twelve columns">
            <h1>加入我们！</h1>
        </div>

        <nav class="four columns">
            <ul class="breadcrumbs">
                <li><a href="{:U('/')}">首页</a></li>
                <li><i class="icon-angle-right"></i></li>
                <li>加入我们</li>
            </ul>
        </nav>

    </div>
</div>


<!-- About / Srart
================================================== -->
<section>
    <div style=" width:550px; text-align:center; margin:0 auto;">
        <div>
            <form id="contactform" class="rounded" method="POST" action="#">
                <h2 style=" color:#333;	text-shadow: 2px 2px 2px #ccc; display: block; font-weight: bold;">加入我们！</h2>
                </br>

                <div class="field">
                    <label for="name">姓名:</label>
                    <input type="text"
                           style=" width:300px; background-color: #FFF;  border: 1px solid #b9bdc1; "
                           class="input" name="name" id="name"/>
                </div>
                </br>
                <div class="field">
                    <label for="class">学号:</label>
                    <input type="text"
                           style=" width:300px; background-color: #FFF;  border: 1px solid #b9bdc1;"
                           class="input" name="class" id="class"/>
                </div>
                </br>
                <div class="field">
                    <label for="tel">电话:</label>
                    <input type="text"
                           style=" width:300px; background-color: #FFF;  border: 1px solid #b9bdc1;"
                           class="input" name="tel" id="tel"/>
                </div>
                </br>
                <div class="field">
                    <label for="email">邮箱:</label>
                    <input type="text"
                           style=" width:300px; background-color: #FFF;  border: 1px solid #b9bdc1;"
                           class="input" name="email" id="email"/>
                </div>
                </br>
                <div class="field" style="text-align:left;">
                    <label for="direction">方向:</label>

                    <div style="margin-left:130px;">

                        <input type="radio" name="direction" value="ui"/> UI设计&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(HTML
                        CSS JS PHOTOSHOP)
                        <br/>
                        <input type="radio" name="direction" value="mobile"/> 移动应用开发&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Android
                        WP)
                        <br/>
                        <input type="radio" name="direction" value="web"/> Web开发与云计算&nbsp;&nbsp;(PHP JAVA .NET)
                        <br/>
                        <input type="radio" name="direction" value="bigdata"/> 大数据与运维&nbsp;&nbsp;&nbsp;&nbsp;(Linux
                        Hadoop)
                    </div>
                </div>
                <br/>

                <div class="field">
                    <label for="message">自我介绍:</label>
                    <textarea class="input textarea" style="margin-left: 119px; width:300px; height:200px; resize:none"
                              name="message" id="message">
                    </textarea>
                </div>


                <input type="submit" class="button" value="提交"/>
            </form>
        </div>
    </div>
</section>

</div>
<!-- End of container -->


<include file="Public:footer"/>

<include file="Public:theme"/>

</body>
</html>
