<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>修改密码 | {:get_opinion('title')}</title>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        修改密码
                        <small>&nbsp;&nbsp;{$Think.config.title}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{:U('Admin/Index/myInfo')}">修改密码</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <form action="{:U('Admin/Index/changePassHandle')}" class="form-horizontal" method="post" id="newpassword">
                        <div class="control-group">
                            <label class="control-label">新密码</label>

                            <div class="controls">
                                <input type="password" placeholder="" class="m-wrap medium" name="password"
                                       id="password"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">确认新密码</label>

                            <div class="controls">
                                <input type="password" placeholder="" class="m-wrap medium" name="rpassword"
                                       id="rpassword"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <a href="javascript:;" class="btn blue" id="button"><i class="icon-ok"></i> 修改</a>
                        </div>
                    </form>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->

<include file="Public:foot"/>
<script>
    jQuery(document).ready(function () {
        App.init();
        TableManaged.init();

        $("#button").click(function () {
            if ($("#password").val() == '') {
                alert("密码不能为空！");
            }
            else if ($("#password").val() != $("#rpassword").val()) {
                alert("两次输入不一致！");
            }
            else {
                $("#newpassword").submit();
            }
        });
    });
</script>
</body>
<!-- END BODY -->
</html>