<div class="header">
    <div class="topbar">
        <ul>
        	<a href="http://www.dost.moe.edu.cn/dostplan/">国家首批“2011计划”重点建设高校</a>
            <!--
<li>
                <a href="">学生</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">教师</a>
            </li>
            <li class="line"></li>
            <li>
                <a href="">访客</a>
            </li>
-->
        </ul>
    </div>

    <div class="banner"><!--<div class="logo"></div>-->
        <div class="logo2011">
            <a href="{:U('/')}"> <img src="__PUBLIC__/2011college/images/2011_logo.png" style="border: none;"/>
            </a>
        </div>


        <div class="nav">
            {$home_menu}
        </div>
    </div>


</div>
