<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="/Green2013/Public/admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/Green2013/Public/admin/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
<link href="/Green2013/Public/admin/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/Green2013/Public/admin/assets/css/style-metro.css" rel="stylesheet" type="text/css"/>
<link href="/Green2013/Public/admin/assets/css/style.css" rel="stylesheet" type="text/css"/>
<link href="/Green2013/Public/admin/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="/Green2013/Public/admin/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="/Green2013/Public/admin/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/Green2013/Public/admin/assets/plugins/select2/select2_metro.css" />
<link rel="stylesheet" href="/Green2013/Public/admin/assets/plugins/data-tables/DT_bootstrap.css" />

<link href="/Green2013/Public/admin/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" type="text/css" />
<link href="/Green2013/Public/admin/assets/plugins/chosen-bootstrap/chosen/chosen.css" rel="stylesheet" type="text/css" />
<link href="/Green2013/Public/admin/assets/css/pages/profile.css" rel="stylesheet" type="text/css" />
<link href="/Green2013/Public/css/tab.css" rel="stylesheet" type="text/css" />

<!-- END PAGE LEVEL STYLES -->
<link rel="shortcut icon" href="/Green2013/Public/images/logo.png" />

