<div class="foot">
    <div class="footmid">
        <ul>
            <li><a href="{:getSingleURLByID(106,'page')}" >关于我们  |</a></li>
            <li><a href="#" target="_blank">部长信箱 |</a></li>

            <li><a href="#" target="_blank">留言反馈 |</a></li>

            <li><a href="#" target="_blank">联系我们 |</a></li>

            <li><a href="{:U('Admin/Index/index')}" target="_blank">后台管理</a></li>
        </ul>
    </div>
    <div class="footmid2">
        <p>南京工业大学党委组织部 {:date('Y')}<a href="{:U('Index/index')}" ></a></p>
    </div>

</div>