/*CSS starts here*/

*{
    margin:0;
    padding:0;
}

body{
    margin:0;
    background:url(../pic/bg.png);}

h2{ font-size:.9em;
    line-height:30px;
    margin:0 0 0 8px;
    float:left;
}

h3{

    font-size:.75em;
    line-height:30px;
    margin:0 3px;
    float:right;
}

h3 a{
    color:#333;
}

div{ border:solid 0 #F00;
}

li{ border:solid 0 #00FF00;
    display:block;}

a{ text-decoration:none;}

a:hover{text-decoration:underline;}

/*+++++++++++++++++++++++++++++++++++++*/

.head{
    width:1024px;
    height:140px;
    background-image:url(../pic/head.jpg);
    margin:0 auto;}

.nav{
    width:1024px;
    height:40px;
    background:url(../pic/nav.gif) repeat-x;
    margin:0 auto;
    padding-bottom:0;}

.nav ul{
    text-align:center;
}

.nav li{
    width:78px;
    float:left;
    text-align:center;
    background:url(../pic/fg.png) no-repeat right center;

}

.nav a{
    font-size:1em;
    line-height:40px;
    color:#FFF;
}

/*+++++++++++++++++++++++++++++++++++++*/

.box1{  width:1004px;
    height:300px;
    background-color:#FFF;
    margin:0 auto;
    padding: 10px;}

.leftbox1{
    border:solid #f9d853;
    border-width:0  1px 1px 1px;
    width:200px;
    height:299px;
    float:left;
}

.sidetop{
    width:200px;
    height:30px;
    background:url(../pic/top.gif) repeat-x;
}

li a{
    font-size:.8em;
    line-height:1.5em;
    color:#000;
}

.list{
    height:250px;
    margin:10px 10px 0 10px;
}

.listm{
    float:left;
    width:275px;
    height:250px;
    margin:10px 0 0 0;
}

.list li{
    padding:0 0 0 10px;
    background:url(../pic/dot.gif) no-repeat 0 8px;
}

.list1 li{
    padding:0 0 0 10px;
    background:url(../pic/dot.gif) no-repeat 0 8px;
}

.listm li{
    padding:0 0 0 10px;
    background:url(../pic/dot.gif) no-repeat 0 8px;
}

.midbox1{
    border: solid #CCC;
    border-width:0 1px 1px 1px;
    width:578px;
    height:299px;
    float:left;
    margin:0 0 0 10px;
}


.midtop{
    width:578px;
    height:30px;
    background:url(../pic/topm.gif) repeat-x;
}


/*------pics-----
.pic {
    width:270px;
    height:210px;
    float:left;
    background-color:#CCC;
    margin:10px 10px auto 10px;
    position:relative;
    overflow:hidden;
}*/

#banner {margin:10px 10px auto 10px; position:relative; float:left; width:270px; height:210px; overflow:hidden;float:left;}
#banner_list img {border:0; text-align: center; margin: 0 auto;}
#banner_bg {position:absolute; bottom:0;background-color:#000;height:30px;filter: Alpha(Opacity=30);opacity:0.3;z-index:1000;cursor:pointer; width:270px; }
#banner_info{position:absolute; bottom:0; left:5px; line-height:30px;color:#fff;z-index:1001}
#banner_text {position:absolute;width:120px;z-index:1002; right:3px; bottom:3px;}
#banner ul {position:absolute;list-style-type:none;filter: Alpha(Opacity=75);opacity:0.75; border:1px solid #fff;z-index:1002;margin:0; padding:0; bottom:3px; right:5px;}
#banner ul li { padding:0 8px;float:left;display:block;color:#FFF;border:#fff 1px solid;background-color:#aaa; cursor:pointer}
#banner ul li.on{ background-color:#900}
#banner_list a{position:absolute;}

#banner2 {margin:10px 10px auto 10px; position:relative; float:left; width:270px; height:210px; overflow:hidden;float:left;}
#banner_list2 img {border:0; text-align: center; margin: 0 auto;}
#banner_bg2 {position:absolute; bottom:0;background-color:#000;height:30px;filter: Alpha(Opacity=30);opacity:0.3;z-index:1000;cursor:pointer; width:270px; }
#banner_info2{position:absolute; bottom:0; left:5px; line-height:30px;color:#fff;z-index:1001}
#banner_text2 {position:absolute;width:120px;z-index:1002; right:3px; bottom:3px;}
#banner2 ul {position:absolute;list-style-type:none;filter: Alpha(Opacity=75);opacity:0.75; border:1px solid #fff;z-index:1002;margin:0; padding:0; bottom:3px; right:5px;}
#banner2 ul li { padding:0 8px;float:left;display:block;color:#FFF;border:#fff 1px solid;background-color:#aaa; cursor:pointer}
#banner2 ul li.on{ background-color:#900}
#banner_list2 a{position:absolute;}

.rightbox1{
    width:202px;
    height:300px;
    float:right;
}

.rightbox2{
    width:200px;
    height:149px;
    border: solid #f9d853;
    border-width:0 1px 1px 1px;
    float:right;
}

.list1{
    height:100px;
    margin:10px 10px 0 10px;
}

/*++++++++++++++++++++++++++++++++*/

.box2{	width:1004px;
     height:200px;
     background-color:#FFF;
     margin:0 auto;
     padding: 10px;
 }

.box3{
    width:1004px;
    height:200px;
    background-color:#FFF;
    margin:0 auto;
    padding: 10px;
}

.leftbox2{
    width:200px;
    height:199px;
    border: solid #f9d853;
    border-width:0 1px 1px 1px;
    float:left;
}

.leftbox3{
    width:200px;
    height: auto;
    background-color: #ffffff;
    float:left;
}

.midbox2{
    width:580px;
    height:200px;
    float:left;
    margin:0 0 0 10px;
}

.midbox3{
    width:283px;
    height:199px;
    float:left;
    border: solid #CCC;
    border-width:0 1px 1px 1px;
    margin:0 10px 0 0;}

.midbox4{
    width:283px;
    height:199px;
    float:left;
    border: solid #CCC;
    border-width:0 1px 1px 1px;
}

.rightbox3{
    width:200px;
    height:200px;
    border: solid #f9d853;
    border-width:0 1px 1px 1px;
    float:right;
}


/*++++++++++++++++++++++++++++++++*/

.list2{
    margin:10px 10px 0 10px;
}

.list2 li{
    padding:0 0 0 10px;
    background:url(../pic/dot.gif) no-repeat 0px 8px;
}

.selector{
    margin:10px;
}

.piclink{
    height:40px;
    width:198px;
}

.piclink img{
    border:none;}

.midtop2{
    width:283px;
    height:30px;
    background:url(../pic/topm.gif) repeat-x;}

/*++++++++++++++++++++++++++++++++*/

.foot{
    width:1024px;
    height:100px;
    background:#bd0000;
    margin:0 auto;
}

.footmid{
    width:350px;
    height:40px;
    margin:0 auto;}

.footmid ul{
    text-align:center;
}

.footmid li{
    width:70px;
    float:left;
    text-align:center;

}

.footmid a{
    line-height:40px;
    font-size:.8em;
    color:#FFF;
}

.footmid2{
    text-align:center;
    margin:20px 0 0 0;
}

.footmid2 p{
    color:#FFF;
}

/*++++++++++++++++++++++++++++++++*/

.box{
    width:1004px;
    min-height: 500px;
    background:#FFF;
    margin:0 auto;
    padding: 10px;
}


.loca{
    font-size: .75em;
    color: #FFF;
    width:920px;
    height: 30px;
    margin: 10px auto;
    background:#bd0000;
    line-height: 30px;
    padding: 0 10px;
    float: left;
}

.loca ul{

}

.loca ul li{
    float: left;
}

.title{
    margin: 0 50px;
}

.loca ul li a{
    line-height: 30px;
    font-size: .75em;
    color: #FFF;
}

.page{
    margin:10px 50px;
}

.pageTitle{
    text-align: center;
}

.page h1{
    font-size: 1.5em;
    color: #bd0000;
}

.pageStitle{
    padding: 10px;
}

.pageCont p{
    PADDING-BOTTOM: 0px;
    TEXT-TRANSFORM: none;
    BACKGROUND-COLOR: rgb(255,255,255);
    TEXT-INDENT: 0px; MARGIN: 15px 0px;
    PADDING-LEFT: 0px; PADDING-RIGHT: 0px;
    FONT: 14px/23px;
    WHITE-SPACE: normal;
    LETTER-SPACING: normal;
    COLOR: rgb(51,51,51);
    WORD-SPACING: 0px;
    PADDING-TOP: 0px;
    -webkit-text-size-adjust: auto;
    -webkit-text-stroke-width: 0px"

}

/*++++++++++++++++++++++++++++++++++++*/
.box h1{
    font-size: 2em;
    color: #333333;
    padding: 20px 20px 20px 20px;
}

.listItem a{
    padding: 10px 10px 0 20px;
    font-size:1em;
    color:#000;
    display: block;
}

.box ul.listStyle{
    list-style-type:square;
}

/*li .red{
    color: red;
}*/

.red{
    color: red;
}