<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li><a href="{$module_url}">{$module}</a> <i
                                class="icon-angle-right"></i></li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box light-grey">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-globe"></i>{$action}
                            </div>
                        </div>

                        <div class="portlet-body">
                            <div class="clearfix">
                                <div class="btn-group">
                                    <a href="{:U('Weixin/User/updatenew')}">
                                        <button type="submit" class="btn green" name="postAdd" value='1'>
                                            <i class="icon-plus"></i>更新用户信息
                                        </button>
                                    </a>

                                </div>

                                <div class="btn-group">
                                    <a href="{:U('Weixin/User/updateall')}">
                                        <button class="btn purple">
                                            <i class="icon-plus"></i>同步用户
                                        </button>
                                    </a>

                                </div>

                            </div>
                            <table class="table table-striped table-bordered table-hover"
                                 >
                                <thead>
                                <tr>
                                    <th style="width: 8px;">openid</th>
                                    <th>昵称</th>
                                    <th>地区</th>
                                    <th style="width:75px;">头像</th>
                                    <th style="width:130px;">关注时间</th>
                                    <th style="width:200px;">操作</th>

                                </tr>
                                </thead>

                                <tbody>
                                <foreach name="posts" item="v">
                                    <tr class="odd gradeX">
                                        <td><input type="checkbox" class="checkboxes" value="{$v['post_id']}"
                                                   name="posts[]"/>
                                        </td>
                                        <td><a href="{:U('Admin/Posts/posts', array('id' => $v['post_id']))}"
                                               title="{$v.post_title}">{$v.post_title}</a></td>
                                        <td>
                                            <a href="{:U('Admin/access/editUser', array('aid' => $v['post_user']['user_id']))}">{$v.post_user.user_nicename}</a>
                                        </td>
                                        <td>
                                            分类:
                                            <volist name="v['post_cat']" id="v_pcs" empty="无分类">
                                                <a class="btn mini grey" href="{:U('Admin/Posts/category', array('id' => $v_pcs['cat_id']))}">{$v_pcs['cat_name']}</a>&nbsp;&nbsp;
                                            </volist>
                                            标签:
                                            <volist name="v['post_tag']" id="v_pts" empty="无标签">
                                                <a class="btn mini grey" href="{:U('Admin/Posts/tag', array('id' => $v_pts['tag_id']))}">{$v_pts['tag_name']}</a>&nbsp;&nbsp;
                                            </volist>
                                        </td>
                                        <td>{:getTimestamp($v['post_date'],'Y-m-d H:i') }</td>
                                        <td>
                                            <a class="btn mini" href="{:U('Admin/Posts/posts', array('id' => $v['post_id']))}">编辑</a>
                                            &nbsp;&nbsp;&nbsp;

                                            <a class="btn mini blue" href="{:U('Home/Post/'.$v['post_type'], array('info' => $v['post_id']))}" target="_blank">查看</a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a class="btn mini purple" href="{:U('Admin/Posts/unverifiedHandle', array('id' => $v['post_id'],'post_status' => 'unverified'))}">审核</a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a class="btn mini red" href="{:U('Admin/Posts/preDel', array('id' => $v['post_id']))}">删除</a>
                                        </td>


                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                            <div class="pagination">
                                <ul> {$pager}</ul>
                            </div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>

<script>
    jQuery(document).ready(function () {
        App.init();
        TableManaged.init();

    });
</script>


</body>
<!-- END BODY -->
</html>