<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box light-grey">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-globe"></i>{$action}
                            </div>
                        </div>

                        <div class="portlet-body">
                            <div class="clearfix">
                                <div class="btn-group">
                                    <a href="{:U('Weixin/User/updatenew')}">
                                        <button type="submit" class="btn green" name="postAdd" value='1'>
                                            <i class="icon-plus"></i>更新用户信息
                                        </button>
                                    </a>

                                </div>

                                <div class="btn-group">
                                    <a href="{:U('Weixin/User/updateall')}">
                                        <button class="btn purple"  >
                                            <i class="icon-plus"></i>同步用户
                                        </button>
                                    </a>

                                </div>

                            </div>
                            <table class="table table-striped table-bordered table-hover"
                                   id="sample_1">
                                <thead>
                                <tr>
                                    <th style="width: 8px;">openid</th>
                                    <th>昵称</th>
                                    <th>地区</th>
                                    <th style="width:75px;">头像</th>
                                    <th style="width:130px;">关注时间</th>
                                    <th style="width:200px;">操作</th>

                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="user_list" item="v">
                                    <tr class="odd gradeX">
                                        <td> {$v.openid}</td>
                                        <td>{$v.nickname}</td>
                                        <td>{$v.country}-{$v.province}-{$v.city}</td>
                                        <td><img src="{$v.headimgurl}"></td>
                                        <td>{:date ('Y-m-d H:i',$v['subscribe_time']) }</td>
                                        <td>

                                            <a class="btn green" href="{:U('Weixin/User/detail',array('openid'=>$v['openid']))}">查看用户</a>

                                            <a class="btn blue" href="{:U('Weixin/User/chat',array('openid'=>$v['openid']))}">查看对话</a>

                                            <a class="btn" href="{:U('Weixin/Message/send',array('openid'=>$v['openid']))}">发送消息</a>

                                        </td>


                                    </tr>
                                </foreach>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>
    jQuery(document).ready(function () {
        App.init();
        TableManaged.init();

    });
</script>
</body>
<!-- END BODY -->
</html>
