<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <form action="{:U('Admin/System/indexHandle')}" name="change_System" class="form-horizontal"
                          method="post">
                        <div class="control-group">
                            <label class="control-label">网站地址</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="site_url"
                                       value="{:get_opinion('site_url')}"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">网站标题</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="title"
                                       value="{:get_opinion('title')}"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">网站关键词</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="keywords"
                                       value="{:get_opinion('keywords')}"/>
                                <span class="help-inline">多个关键词用英文逗号,分隔</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">网站描述信息</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="description"
                                       value="{:get_opinion('description')}"/>
                                <span class="help-inline">一般是一句话描述你的网站</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">网站底部信息</label>
                            <textarea class="" id="post_content" name="foot" style="margin-left:18px; width:23em;"
                                      rows="6">{:get_opinion('foot')}</textarea>
                            <span class="help-inline">版权信息、统计代码</span>
                        </div>

                        <div class="control-group">
                            <label class="control-label">是否开启注册</label>

                            <div class="controls">

                                <label class="radio">

                                    <switch name="users_can_register">
                                        <case value="1"><input type="radio" name="users_can_register"
                                                               checked="checked" value="1"/></case>
                                        <case value="0"><input type="radio" name="users_can_register" value="1"/></case>

                                        <default/>
                                        <input type="radio" name="users_can_register"
                                               checked="checked" value="1"/>
                                    </switch>
                                    是


                                </label>


                                <label class="radio">
                                    <switch name="users_can_register">
                                        <case value="1"><input type="radio" name="users_can_register" value="0"/></case>
                                        <case value="0"><input type="radio" name="users_can_register" checked="checked"
                                                               value="0"/></case>

                                        <default/>
                                        <input type="radio" name="users_can_register" checked=
                                                value="0"/>
                                    </switch>
                                    否
                                </label>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn blue"><i class="icon-ok"></i> 修改</button>
                        </div>
                    </form>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
</body>
<!-- END BODY -->
</html>
