<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--><html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD --><head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta name="description" content="GreenCMS"/>
<meta name="keywords" content="GreenCMS"/>
<include file="Public:head"/>

<title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
	<!-- BEGIN HEADER -->
	<div class="header navbar navbar-inverse navbar-fixed-top">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="navbar-inner">
			<div class="container-fluid">
				<!-- BEGIN LOGO -->
				<a class="brand" href="{:U('Admin/Index/index')}">
				<img src="__PUBLIC__/admin/assets/img/logo.png" alt="logo" />
				</a>
				<!-- END LOGO -->
				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
				<img src="__PUBLIC__/admin/assets/img/menu-toggler.png" alt="" />
				</a>          
				<!-- END RESPONSIVE MENU TOGGLER -->            
				<!-- BEGIN TOP NAVIGATION MENU -->              
				<ul class="nav pull-right">
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<img alt="" src="__PUBLIC__/admin/assets/img/avatar1_small.jpg" />
					<span class="username">{$username}</span>
					<i class="icon-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{:U('Admin/Index/index')}"><i class="icon-user"></i>个人信息</a></li>
						<li class="divider"></li>
						<li><a href="{:U('Admin/Login/logout')}"><i class="icon-key"></i>退出</a></li>
					</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
				<!-- END TOP NAVIGATION MENU --> 
			</div>
		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
	<div class="page-container row-fluid">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar nav-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->        
{:W('Common/sideBar')}
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN PAGE CONTAINER-->        
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">  
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">
						{$action}<small>&nbsp;&nbsp;{:get_opinion('title')}</small>
					</h3>
					<ul class="breadcrumb">
						<li>
							<a href="{$module_url}">{$module}</a>
							<i class="icon-angle-right"></i>
						</li>
						<li><a href="{$action_url}">{$action}</a></li>
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid">
					<div class="span12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <form action="{:U('Admin/Webinfo/indexHandle')}" name="change_webinfo" class="form-horizontal" method="post">
                            <div class="control-group">
                                <label class="control-label">网站地址</label>
                                <div class="controls">
                                    <input type="text" placeholder="" class="m-wrap large" name="site_url" value="{:C('site_url')}" />
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">网站标题</label>
                                <div class="controls">
                                    <input type="text" placeholder="" class="m-wrap large" name="title" value="{:C('title')}" />
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">网站关键词</label>
                                <div class="controls">
                                    <input type="text" placeholder="" class="m-wrap large" name="keywords" value="{:C('keywords')}" />
                                    <span class="help-inline">多个关键词用英文逗号,分隔</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">网站描述信息</label>
                                <div class="controls">
                                    <input type="text" placeholder="" class="m-wrap large" name="description" value="{:C('description')}" />
                                    <span class="help-inline">多个描述用英文逗号,分隔</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">网站底部信息</label>
                                <textarea class="" id="post_content" name="foot" style="margin-left:18px; width:23em;" rows="6">{:C('foot')}</textarea>
                                <span class="help-inline">版权信息、统计代码</span>
                            </div>
                            <div class="control-group">
                                <label class="control-label">是否开启注册</label>
                                                               
                                <div class="controls">
                                
								<label class="radio">
							
								<switch name="users_can_register">
									<case value="1">	<input type="radio" name="users_can_register" checked="checked" value="1" /></case>
									<case value="0">	<input type="radio" name="users_can_register" value="1" /></case>
									<default />
								</switch> 
								是
								
								
								</label>
								
								
								<label class="radio">
								
								<switch name="users_can_register">
									<case value="1"><input type="radio" name="users_can_register" value="0"  /></case>
									<case value="0"><input type="radio" name="users_can_register" checked="checked" value="0"  /></case>
									<default />
								</switch>
								否
								</label>  
							</div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn blue"><i class="icon-ok"></i> 修改</button>
                            </div>
                        </form>
					<!-- END EXAMPLE TABLE PORTLET-->
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
			<!-- END PAGE CONTAINER-->
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
	<include file="Public:foot"/>  
	<script>
		jQuery(document).ready(function() {       
		   App.init();
		});
	</script>
</body>
<!-- END BODY -->
</html>
