<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <form action="{:U('Admin/System/kvsetHandle')}" name="change_System" class="form-horizontal"
                          method="post">


                        <div class="control-group">
                            <label class="control-label">开启TRACE调试</label>

                            <div class="controls">

                                <label class="radio">

                                    <switch name="SHOW_PAGE_TRACE">
                                        <case value="1"><input type="radio" name="SHOW_PAGE_TRACE"
                                                               checked="checked" value="1"/></case>
                                        <case value="0"><input type="radio" name="SHOW_PAGE_TRACE" value="1"/></case>

                                        <default/>
                                        <input type="radio" name="SHOW_PAGE_TRACE"
                                               checked="checked" value="1"/>
                                    </switch>
                                    是

                                </label>


                                <label class="radio">
                                    <switch name="SHOW_PAGE_TRACE">
                                        <case value="1"><input type="radio" name="SHOW_PAGE_TRACE" value="0"/></case>
                                        <case value="0"><input type="radio" name="SHOW_PAGE_TRACE" checked="checked"
                                                               value="0"/></case>

                                        <default/>
                                        <input type="radio" name="SHOW_PAGE_TRACE"
                                               value="0"/>
                                    </switch>
                                    否
                                </label>



                            </div>


                        </div>


                        <div class="control-group">
                            <label class="control-label">链接模式</label>

                            <div class="controls">
                                <input  type="number" placeholder="不知道请填0" class="m-wrap large" name="home_url_model"
                                       value="{:get_kv('home_url_model',true)}"/>
                                <span class="help-inline">普通模式0, PATHINFO模式1, REWRITE模式2, 兼容模式3</span>

                            </div>


                        </div>

                        <div class="control-group">
                            <label class="control-label">文章链接模式</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="home_post_model"
                                       value="{:get_kv('home_post_model',true)}"/>
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">TAG链接模式</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="home_tag_model"
                                       value="{:get_kv('home_cat_model',true)}"/>
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">CAT链接模式</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="home_cat_model"
                                       value="{:get_kv('home_tag_model',true)}"/>
                            </div>
                        </div>


                        <div class="form-actions">
                            <button type="submit" class="btn blue"><i class="icon-ok"></i> 修改</button>
                        </div>


                    </form>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
</body>
<!-- END BODY -->
</html>
