<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <form action="{:U('Admin/System/setEmailConfigHandle')}" name="change_System"
                          class="form-horizontal" method="post">
                        <div class="control-group">
                            <label class="control-label">邮件发送模式</label>

                            <div class="controls">
                                <label class="radio">

                                    <switch name="send_mail">
                                        <case value="1"><input type="radio" name="send_mail" checked="checked"
                                                               value="1"/></case>
                                        <case value="0"><input type="radio" name="send_mail" value="1"/></case>
                                        <default/>
                                        <input type="radio" name="send_mail" checked="checked" value="1"/>
                                    </switch>
                                    SMTP函数发送
                                </label>
                                <label class="radio">

                                    <switch name="send_mail">
                                        <case value="1"><input type="radio" name="send_mail" value="0"/></case>
                                        <case value="0"><input type="radio" name="send_mail" checked="checked"
                                                               value="0"/></case>
                                        <default/>
                                    </switch>
                                    mail模块发送
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">邮件服务器</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="smtp_host"
                                       value="{:C('smtp_host')}"/>
                                <span class="help-inline">smtp.domain.com</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">邮件发送端口</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="smtp_port"
                                       value="{:C('smtp_port')}"/>
                                <span class="help-inline">默认为25</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">发件人地址</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="smtp_user"
                                       value="{:C('smtp_user')}"/>
                                <span class="help-inline">你的邮箱帐号</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">验证用户名</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="from_email"
                                       value="{:C('from_email')}"/>
                                <span class="help-inline">与发件人地址相同</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">验证密码</label>

                            <div class="controls">
                                <input type="password" placeholder="" class="m-wrap large" name="smtp_pass"
                                       value="{$smtp_pass}"/>
                                <span class="help-inline">你的邮箱密码</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">测试邮件</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="smtp_test"
                                       value="{$smtp_test}"/>
                                <span class="help-inline">test@163.com</span>&nbsp;&nbsp;
                                <a href="#" class="btn red"><i class="icon-ok"></i> 测试</a>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn blue"><i class="icon-ok"></i> 修改</button>
                        </div>
                    </form>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
</body>
<!-- END BODY -->
</html>
