<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {$action} | {:get_opinion('title')}</title>

    <include file="Public:head"/>

</head>
<body class="skin-blue">

{:W('Common/header')}

<div class="wrapper row-offcanvas row-offcanvas-left">
    {:W('Common/sideMenu')}


    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->


        <section class="content-header">
            <h1>
                {$action}
                <small>{$Think.config.title}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{$module_url}"><i class="fa fa-dashboard"></i> {$module}</a></li>
                <li class="active">{$action}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-8">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h3 class="box-title">{$action}</h3>Beta
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="well" style="padding-left: 50px;line-height: 30px;font-size: 20px">

                                UID: {$user.user_id} <br/>
                                用户名: {$user.user_nicename} <br/>
                                电子邮箱: {$user.user_email} <br/>
                                个人主页: {$user.user_url} <br/>
                                加入时间: {$user.user_registered} <br/>
                                自我介绍: {$user.user_intro} <br/>
                                用户角色: {$user['role_info'][0]["name"]} <br/>
                                文章数量: {$PostCount} 篇<br/>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->

<include file="Public:foot"/>

</body>
</html>