<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8"/>
    <title>{:get_opinion('title')} </title>
    <meta name="description" content="{:get_opinion('description')}"/>
    <meta name="keywords" content="{:get_opinion('keywords')}"/>
    <meta name="author" content="greenstudio"/>
    <include file="Public:head"/>


</head>

<body>

{:W('Common/mainMenu')}


<!-- Title Bar / Srart
================================================== -->
<div class="page-title">
    <div class="container">

        <div class="sixteen columns">
            <h1>404 Error</h1>
        </div>

    </div>
</div>
<!-- Title Bar / End
================================================== -->

<!-- Elements / Srart
================================================== -->
<section class="faq">
    <div class="container">

        <div class="sixteen columns">

            <div class="error404">
                <p class="big">404</p>

                <p>{$message}</p>
            </div>

        </div>

    </div>
</section>
<!-- Elements / End
================================================== -->
<include file="Public:footer"/>

<include file="Public:theme"/>

</body>
</html>