<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8"/>
    <title>{:get_opinion('title')} </title>
    <meta name="description" content="{:get_opinion('keywords')}"/>
    <meta name="author" content="Green Studio 2014"/>

    <include file="Public:head"/>
    <script src="__PUBLIC__/Vena/js/switcher.js" type="text/javascript"></script>

</head>

<body>
{:W('Common/mainMenu')}


<!--<div class="fullwidthbanner-container">-->
<!--<img style="width: 100%;" src="__PUBLIC__/Vena/images/index/Refresh_Banner.png">-->
<!--</div>-->


<div id="slider" class="swipe fullwidthbanner-container" style="visibility: visible;">
    <ul class="swipe-wrap" style="width: 5464px;">
        <li data-index="0" style="width: 1366px; left: 0px; transition: 400ms; -webkit-transition: 400ms; -webkit-transform: translate(-580px, 0px) translateZ(0px);">
            <img src="__PUBLIC__/Vena/images/index/Banner1.jpg" alt=""></li>
        <li data-index="1" style="width: 1366px; left: -1366px; transition: 400ms; -webkit-transition: 400ms; -webkit-transform: translate(0px, 0px) translateZ(0px);">
            <img src="__PUBLIC__/Vena/images/index/Banner1.jpg" alt=""></li>
        <li data-index="2" style="width: 1366px; left: -2732px; transition: 400ms; -webkit-transition: 400ms; -webkit-transform: translate(580px, 0px) translateZ(0px);">
            <img src="__PUBLIC__/Vena/images/index/Banner1.jpg" alt=""></li>
        <li data-index="3" style="width: 1366px; left: -4098px; transition: 400ms; -webkit-transition: 400ms; -webkit-transform: translate(-580px, 0px) translateZ(0px);">
            <img src="__PUBLIC__/Vena/images/index/Banner1.jpg" alt=""></li>

    </ul>
    <div class="swipe-navi">
        <div class="swipe-left" onclick="mySwipe.prev()"><i class="icon-chevron-left"></i></div>
        <div class="swipe-right" onclick="mySwipe.next()"><i class="icon-chevron-right"></i></div>
    </div>
</div>

<br/>

<div class="container">
    <div class="carousel-intro">
        <h3>我们的关注</h3>

        <div class="clearfix"></div>
    </div>


    <div class="two-thirds column">
        <ul class="serviceboxes">

            <li>
                <div class="service-icon"><img src="__PUBLIC__/Vena/images/icons/camera.png" alt=""></div>
                <h3>Web应用开发</h3>

                <p>GreenCMS 是一个开源的PHP网站框架<br/>
                    简化企业级应用开发和敏捷WEB应用开发.</p>
            </li>

            <li>
                <div class="service-icon"><img src="__PUBLIC__/Vena/images/icons/responsive.png" alt=""></div>
                <h3>OpenStak与KVM相关研究</h3>

                <p> OpenStack是一个云平台管理的项目.<br/>
                    KVM是一个开源的系统虚拟化模块.</p>
            </li>

            <li>
                <div class="service-icon"><img src="__PUBLIC__/Vena/images/icons/notes.png" alt=""></div>
                <h3>UI设计与网页制作</h3>

                <p>专业的UI设计，简单大方.<br/>
                    采用先进的HTML5与Jquery设计制作响应式布局的Web页面.</p>
            </li>

            <li>
                <div class="service-icon"><img src="__PUBLIC__/Vena/images/icons/clock.png" alt=""></div>
                <h3>移动应用开发</h3>

                <p>致力于移动应用的开发.<br/>
                    主要面向Android与WindowsPhone平台</p>
            </li>

        </ul>
    </div>

    <!-- Services / End
    ================================================== -->

    <!-- Why this template? / Srart
    ================================================== -->
    <div class="one-third column tabletfull">
        <div class="notice">
            <h3>为什么选择我们?</h3>

            <p style="margin-bottom: 7px">
                绿荫工作室致力于Web应用开发,OpenStak与KVM相关研究,UI设计与网页制作与移动应用开发,如果你对这些领域有兴趣,欢迎加入我们,我们有:</p>
            <ul class="check-list">
                <li>优秀学长指导</li>
                <li>项目实践机会</li>
                <li>轻松的学习氛围</li>
                <li>免费的IPv6 OpenVPN</li>
            </ul>
        </div>
    </div>

</div>


<div class="container">

    <div class="carousel-intro">
        <h3>我们的作品</h3>

        <div class="clearfix"></div>
    </div>


    <section class="jcarousel recent-work-jc" style="height: 264px;"> <!--data-jcarousel="true"  -->
        <ul style="left: 0px;">
            <!-- Recent Work Item -->
            <li class="four columns">
                <a href="#" class="recent-item">
                </a>
                <figure><a href="#" class="recent-item">
                </a>

                    <div class="hold medium"><a href="#" class="recent-item">
                        <img src="__PUBLIC__/Vena/greencms/elb.png" alt="">
                    </a>

                        <!--<a href="__PUBLIC__/Vena/greencms/elb.png" class="hover-zoom swipebox"><i class="icon-search"></i></a>
                        --><a href="https://play.google.com/store/apps/details?id=com.zkcsoft.elderphonelite"
                              class="hover-link">
                            <i class="icon-link"></i></a>
                    </div>
                    <figcaption class="item-description">
                        <h5>E老宝</h5>
                        <span>专为中老年人设计的安卓手机桌面</span>
                    </figcaption>
                </figure>

            </li>

            <!-- Recent Work Item -->
            <li class="four columns">
                <a href="#" class="recent-item">
                </a>
                <figure><a href="#" class="recent-item">
                </a>

                    <div class="hold medium"><a href="#" class="recent-item">
                        <img src="__PUBLIC__/Vena/greencms/greencms.png" alt="">
                    </a>

                        <!--<a href="__PUBLIC__/Vena/greencms/greencms.png" class="hover-zoom swipebox"><i class="icon-search"></i></a>  -->
                        <a href="http://www.greencms.net" class="hover-link"><i class="icon-link"></i></a>
                    </div>
                    <figcaption class="item-description">
                        <h5>GreenCMS V1</h5>
                        <span>新一代开源内容管理系统</span>
                    </figcaption>
                </figure>

            </li>

            <!-- Recent Work Item -->
            <li class="four columns">
                <a href="#" class="recent-item">
                </a>
                <figure><a href="#" class="recent-item">
                </a>

                    <div class="hold medium"><a href="#" class="recent-item">
                        <img src="__PUBLIC__/Vena/greencms/bookshare.png" alt="">
                    </a>
                        <a href="http://proxy.njut.asia/bookshare/member/login" class="hover-link"><i
                                class="icon-link"></i></a>
                    </div>
                    <figcaption class="item-description">
                        <h5>书享网</h5>
                        <span>基于现代互联网和无线传感技术的个人书籍管理与社区图书分享平台</span>
                    </figcaption>
                </figure>

            </li>

            <!-- Recent Work Item -->
            <li class="four columns">
                <a href="#" class="recent-item">
                </a>
                <figure><a href="#" class="recent-item">
                </a>

                    <div class="hold medium"><a href="#" class="recent-item">
                        <img src="__PUBLIC__/Vena/greencms/xgw.png" alt="">
                    </a>
                        <a href="http://202.119.250.122/" class="hover-link"><i class="icon-link"></i></a>
                    </div>
                    <figcaption class="item-description">
                        <h5>学工网</h5>
                        <span>南京工业大学信息学院学工网</span>
                    </figcaption>
                </figure>

            </li>


        </ul>
    </section>

</div>


<div class="promobar">
    <div class="container">
        <p style="font-size: 30px;">绿荫工作室<strong>致力于计算机相关领域研究</strong>.我们期待您的加入.</p>
        <br/>
        <a href="{:U('Form/apply')}" class="btn" style="width: 200px;"><i class="icon-thumbs-up"></i>JOIN US NOW！</a>
    </div>
</div>


<div class="one-third column tabletfull">

</div>


<include file="Public:footer"/>

<include file="Public:theme"/>


<script>
    $(document).ready(function () {

        setInterval("mySwipe.next()", 2000);
//setInterval这个函数会根据后面定义的1000既每隔1秒执行一次前面那个函数
//如果你用局部刷新，要用AJAX技术
    });


</script>


</body>
</html>
