<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <form action="{:U('Weixin/System/indexHandle')}" name="change_System" class="form-horizontal"
                          method="post">

                        <div class="control-group">
                            <label class="control-label">网站标题</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="title"
                                       value="{:get_opinion('title')}"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">订阅消息</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="Weixin_reply_subscribe"
                                       value="{:get_opinion('Weixin_reply_subscribe')}"/>
                                <span class="help-inline">当用户第一次关注时返回的内容</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">微信App_ID</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="Weixin_appid"
                                       value="{:get_opinion('Weixin_appid')}"/>
                                <span class="help-inline">公共平台后台查询</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">微信App_secret</label>

                            <div class="controls">
                                <input type="text" placeholder="" class="m-wrap large" name="Weixin_secret"
                                       value="{:get_opinion('Weixin_secret')}"/>
                                <span class="help-inline">公共平台后台查询</span>
                            </div>
                        </div>



                        <div class="control-group">
                            <label class="control-label">菜单</label>


                            <div class="controls">
                                <textarea style="height: 300px;" class="large m-wrap" rows="3" name="Weixin_menu">
                                    {:C('Weixin_menu')}</textarea>
                            </div>

                        </div>




                        <div class="form-actions">
                            <button type="submit" class="btn blue"><i class="icon-ok"></i> 修改</button>
                        </div>
                    </form>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
</body>
<!-- END BODY -->
</html>
