<!-- Main Menu / Start
================================================== -->
<header class="menu">

    <div class="container">

        <!-- Mobile Only Menu Button  -->
        <a href="#menu" class="menu-trigger"><i class="icon-reorder"></i></a>

        <!-- Logo  -->
        <a class="logo" href="{:U('/')}"><img
                src="__PUBLIC__/Vena/images/logo.png" alt="" title=""/></a>

        <!-- Navigation -->
        <nav>
            {$home_menu}

        </nav>
    </div>
    <!-- End of container -->
</header>
<!-- Main Menu / End
================================================== -->