<div style="text-align: center;color: #000;width: 100%;margin: 0 auto;background: #FFFFFF;" class="footer">
    <br/>
    <hr color="#2957a2" style="margin:0 auto;width: 99%;filter:alpha(opacity=0,finishopacity=100,style=1);height:1px" />
    <br/>

    南京工业大学 <a target="_blank" href="http://green.njtech.edu.cn">GreenStduio</a> 版权所有 ©{:date('Y')}
    <br/>
    <br/>


    <php>
        G('beginTime',$GLOBALS['_beginTime']);
        G('viewEndTime');
        echo "Load in ".G('beginTime','viewEndTime').'s with '. N('db_query').' db queries  and '.N('cache_read').' cache hits' ;


    </php>

    <br/>
    <br/>

</div>





{:hook('pageFooter', "")}
