<div style="text-align:  center;color: #000;width: 100%;  margin: 5px 0 0 0;background: #FFFFFF;" class="footer">
    <hr color="#2957a2" style="margin:0 auto;filter:alpha(opacity=0,finishopacity=100,style=1);height:1px" />
    <br/>


    南京工业大学  党委学生工作部 学生事务部  025-58139092 <br/>

    通信地址：南京市浦口区浦珠南路30号南京工业大学江浦校区行政楼学生事务部   <br/>



     Copyright  ©  <a target="_blank" href="http://green.njtech.edu.cn">GreenStduio</a>  {:date('Y')}  All Right reserved
    <br/>



    <br/>
    <br/>

</div>


<div id="greencms" class="greencms admin"
     style="height: 30px; float:left ; text-align: right; overflow: hidden;
     position: fixed; bottom: 0px; left: 0px;
     line-height: 30px; cursor: pointer; display: block;  ">

    <control access="Admin/Index/index">

        <a target="_blank" href="{:U('Admin/Index/index')}">
            <img style=" height:100%;"
                 src="__PUBLIC__/share/img/logo.png"/></a>
    </control>


</div>
