<!--<script language="javascript" src="__PUBLIC__/Xsc/static/jquery.js"></script>-->
<script language="javascript" src="__PUBLIC__/share/js/jquery-1.9.0.min.js"></script>

<!--<script type="text/javascript" src="__PUBLIC__/Xsc/static/index.js"></script>-->

<link href="__PUBLIC__/Xsc/static/reset.css" rel="stylesheet"/>
<link href="__PUBLIC__/Xsc/static/index.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Xsc/static/menu.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Xsc/static/popup.css" rel="stylesheet" type="text/css">
<!--<link href="__PUBLIC__/Xsc/static/css/common.css" rel="stylesheet"/>-->

<script type="text/javascript" src="__PUBLIC__/Xsc/static/js/jquery.KinSlideshow-1.2.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Xsc/static/js/popup_layer.js"></script>


<script type="text/javascript">
    $(function () {
        $("#slide").KinSlideshow({
            titleBar: { titleBar_height: 30, titleBar_bgColor: "#08355c", titleBar_alpha: 0.5 },
            titleFont: { TitleFont_size: 12, TitleFont_color: "#FFFFFF", TitleFont_weight: "normal" },
            btn: { btn_bgColor: "#FFFFFF", btn_bgHoverColor: "#1072aa", btn_fontColor: "#000000",
                btn_fontHoverColor: "#FFFFFF", btn_borderColor: "#cccccc",
                btn_borderHoverColor: "#1188c0", btn_borderWidth: 1 }
        });
    })
</script>

<meta name="renderer" content="webkit|ie-comp|ie-stand">


