
<div class="left-nav-item">
    <h3>热点索引</h3>
    <ul>

        <li><a class="{:is_active_cat(get_theme_opinion('id_1_2'))}" href="{:get_cat_url(get_theme_opinion('id_1_2'))}">{:get_theme_opinion('text_1_2')}</a></li>
        <li><a class="{:is_active_cat(get_theme_opinion('id_2_1'))}" href="{:get_cat_url(get_theme_opinion('id_2_1'))}">{:get_theme_opinion('text_2_1')}</a></li>
        <li><a class="{:is_active_cat(get_theme_opinion('id_2_3'))}" href="{:get_cat_url(get_theme_opinion('id_2_3'))}">{:get_theme_opinion('text_2_3')}</a></li>
        <li><a class="{:is_active_cat('103')}" href="{:U('home/cat/detail',array('info'=>'103'))}">理论学习</a></li>
        <li><a class="{:is_active_cat('104')}" href="{:U('home/cat/detail',array('info'=>'104'))}">先进典型</a></li>
        <!--<li><a href="{:U('Zel/Index/index')}">周恩来班</a></li>-->

        <li><a class="{:is_active_cat(get_theme_opinion('id_2_2'))}" href="{:get_cat_url(get_theme_opinion('id_2_2'))}">{:get_theme_opinion('text_2_2')}</a></li>

    </ul>
</div>