
<div class="left-nav-item">
    <!--<h3>站内搜索</h3>-->

    <form name="fr" id="fr" action="{:U('Home/Archive/search')}" method="get">
        <div style="width:190px;  height:26px; overflow:hidden; padding: 5px 2px 0px;float:left;">
            <input name="keyword" type="text" value="" style="   border: 1px solid #ccc;
 width:150px; height:13px; padding:5px 0 6px 0; line-height:13px; color:#666; outline:none;  text-indent:6px; font-family:'微软雅黑'; font-size:12px;float:left; background:0px;"/>
            <input name="" type="submit" value="搜索" style="  border: 1px solid #ccc;
; background:0px;  width:36px; cursor:pointer; height:26px; display:block; outline:none;">搜索</input>
        </div>
    </form>

</div>