<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {$action} | {:get_opinion('title')}</title>

    <include file="Public:head"/>

</head>
<body class="skin-blue">

{:W('Common/header')}

<div class="wrapper row-offcanvas row-offcanvas-left">
    {:W('Common/sideMenu')}


    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->


        <section class="content-header">
            <h1>
                {$action}
                <small>{:get_opinion('title')}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{$module_url}"><i class="fa fa-dashboard"></i> {$module}</a></li>
                <li class="active">{$action}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-10">

                    <!-- /.box-header -->
                    <div class="box-body">

                        <form action="{:U('Admin/System/saveHandle')}" name="change_System"
                              method="post">

                            <div class="form-group">
                                <label class="control-label">数据库查询缓存有效期</label>

                                <div class="controls">
                                    <input type="text" placeholder="" class="form-control large"
                                           name="DATA_CACHE_TIME" value="{:get_opinion('DATA_CACHE_TIME', true, 60)}"/>

                                    <span class="help-inline">单位:秒</span>

                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label">全局静态缓存有效期</label>

                                <div class="controls">
                                    <input type="text" placeholder="" class="form-control large"
                                           name="HTML_CACHE_TIME" value="{:get_opinion('HTML_CACHE_TIME', true, 600)}"/>

                                    <span class="help-inline">单位:秒</span>

                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label">静态缓存缓存</label>

                                <div class="controls">
                                    <switchopinioncontrol opinion_name="HTML_CACHE_ON">


                                    </switchopinioncontrol>
                                </div>
                            </div>



                            <div class="form-actions">
                                <button type="submit" class="btn btn-info"><i class="icon-ok"></i> 修改</button>
                            </div>

                        </form>


                    </div>
                </div>
            </div>


        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->

<include file="Public:foot"/>

</body>
</html>