<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {$action} | {:get_opinion('title')}</title>

    <include file="Public:head"/>

</head>
<body class="skin-blue">

{:W('Common/header')}

<div class="wrapper row-offcanvas row-offcanvas-left">
    {:W('Common/sideMenu')}


    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->


        <section class="content-header">
            <h1>
                {$action}
                <small>{:get_opinion('title')}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{$module_url}"><i class="fa fa-dashboard"></i> {$module}</a></li>
                <li class="active">{$action}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">

                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="row margin">
                            <table class="table table-bordered table-hover">
                                <tr>
                                    <th class="hidden-480">系统名称</th>
                                    <th class="hidden-480">系统版本</th>
                                    <th class="hidden-480">发布时间</th>
                                    <th class="hidden-480">官方网址</th>
                                </tr>
                                <tr>
                                    <td class="hidden-480">{:get_opinion('software_name')}</td>
                                    <td class="hidden-480">{:get_opinion('software_version',true)}</td>
                                    <td class="hidden-480">{:get_opinion('software_build',true)}</td>
                                    <td class="hidden-480"><a
                                            href="{:get_opinion('software_homepage')}">GreenCMS.net</a>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="row margin">

                            <form action="{:U('Admin/System/update')}" method="post">
                                <input name="version" type="hidden" value="{:get_opinion('software_build',true)}"/>

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success check_update">
                                        <i class="m-icon-swapright m-icon-white"></i>检测更新
                                    </button>
                                </div>

                            </form>

                        </div>


                    </div>
                </div>
            </div>


        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->

<include file="Public:foot"/>

</body>
</html>