<footer id="colophon" role="contentinfo">
    <div class="site-info">
        <a href="http://www.greencms.net/" title="优雅的个人发布平台">自豪地采用 GreenCMS</a>

        <p>
            <opinioncontrol realtime="false" opinion_name="speed_info" default="false">

                <php>
                    G('beginTime',$GLOBALS['_beginTime']);
                    G('viewEndTime');
                    echo "Load in ".G('beginTime','viewEndTime').'s with '. N('db_query').' db queries  and '.N('cache_read').' cache hits' ;


                </php>

            </opinioncontrol>


        </p>


    </div>
    <!-- .site-info -->
    {:hook('pageFooter', 'widget')}
</footer>


<div id="greencms" class="greencms admin"
     style="height: 30px; float:left ; text-align: right; overflow: hidden;
     position: fixed; bottom: 0px; left: 0px;
     line-height: 30px; cursor: pointer; display: block;  ">

    <control access="Admin/Index/index">


        <a target="_blank" href="{:U('Admin/Index/index')}">
            <img style=" height:100%;"
                 src="__PUBLIC__/share/img/logo.png"/></a>
    </control>


</div>