
<!--[if lt IE 9]>
<script src="__PUBLIC__/share/js/html5.js" type="text/javascript"></script>
<![endif]-->
<!--<link rel='stylesheet' id='twentytwelve-fonts-css' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&#038;subset=latin,latin-ext' type='text/css' media='all'/>-->
<link rel='stylesheet' id='twentytwelve-style-css' href='__PUBLIC__/Twentytwelve/style.css' type='text/css' media='all'/>
<!--[if lt IE 9]>
<link rel='stylesheet' id='twentytwelve-ie-css' href='__PUBLIC__/Twentytwelve/css/ie.css' type='text/css' media='all'/>
<![endif]-->
<style type="text/css">.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}

.blog-navi {
    display: block;
    float: left;
    margin-bottom: 50px;
    margin-left: 95px;
}

.blog-navi ul li {
    display: inline-block;
    /*float: left;*/
}

.blog-navi ul li a {
    display: block;
    margin-right: 4px;
    padding: 6px 11px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: #e5e8ea;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.blog-navi ul li a:hover,
.blog-navi ul li a.current {
    color: #fff;

}

.blog-navi ul li a:active,
.blog-navi ul li a.current:active {
    margin-top: 2px;
    margin-bottom: -2px;
}


</style>