<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title> {$post.post_title}|{:get_opinion('title')} </title>
    <meta name="description" content="{:get_opinion('description')}"/>
    <meta name="author" content="{$post.post_user.user_nicename}"/>
    <meta name="keywords"
          content='{:get_opinion("keywords")},<volist name="post.post_tag" id="tag">{$tag.tag_name}, </volist>'/>

    <include file="Public:head"/>
    <link href="__PUBLIC__/Xsc/static/article.css" rel="stylesheet" type="text/css">

</head>
<body>


{:W('Common/mainMenu',array('ul_attr'=>'class="menu"'))}

<div id="content" class="clearfix">

    <div class="article">
        <h1>{$post.post_top|is_top}{$post.post_title}</h1>
        <!-- Post Start -->

        <div class="main-info">
            <!-- Date -->
            <div class="date">
                发布时间:<span><a>{$post['post_date']|getTimeURL=$post['post_type']}</a> </span>

                浏览: <span>{$post.post_view_count}</span>

                <span>
                    <control access="Admin/Posts/posts">
                        <a href="{:U('Admin/Posts/posts',array('id'=>$post['post_id']))}">编辑</a>
                    </control>
                </span>

                </a>
            </div>


            <div class="post-content">{$post.post_content}</div>



        </div>


    </div>



</div>
<include file="Public:footer"/>

</body>
</html>