<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title> {$post.post_title}|{:get_opinion('title')} </title>
    <meta name="description" content="{:get_opinion('description')}"/>
    <meta name="author" content="{$post.post_user.user_nicename}"/>
    <meta name="keywords"
          content='{:get_opinion("keywords")},<volist name="post.post_tag" id="tag">{$tag.tag_name}, </volist>'/>

    <include file="Public:head"/>

</head>
<body>

<php>
    $xgxw = D('Cats', 'Logic')->getPostsByCat(7, 8);

    $ggtz = D('Cats', 'Logic')->getPostsByCat(8, 6);
    $xyfc = D('Cats', 'Logic')->getPostsByCat(10, 6);
    $llqy = D('Cats', 'Logic')->getPostsByCat(11, 6);
    $xjdx = D('Cats', 'Logic')->getPostsByCat(12, 6);

</php>

{:W('Common/mainMenu',array('ul_attr'=>'class="menu"'))}

<div id="content" class="clearfix">


    <!-- Title Bar / Srart
    ================================================== -->
    <div class="page-title">
        <div class="container">

            <div class="sixteen columns">
                <h1>{$post.post_top|is_top}{$post.post_title}</h1>
            </div>

        </div>
    </div>
    <!-- Title Bar / End
    ================================================== -->

    <!-- Elements / Srart
    ================================================== -->
    <div class="faq">
        <div class="container">

            <div class="sixteen columns">

                <!-- Post Start -->
                <article class="post">

                    <div class="main-info">
                        <!-- Date -->
                        <div class="date">
                            <span class="month">{$post.post_date|getTimeStamp='month'}月</span>
                            <span class="day">{$post.post_date|getTimeStamp='day'}</span>
                        </div>

                        <!-- Comments Number -->
                        <a href="#comments" class="commentsnumber">
                            浏览 <span>{$post.post_view_count}</span>

                        </a>
                    </div>

                    <div class="post-content">{$post.post_content}</div>

                </article>
                <!-- Post End -->

                <!-- About Author -->
                <article class="post-author">


                    <h4>
                        关于作者<a href="{$post.post_user.user_url}">{$post.post_user.user_nicename}</a>

                        <br />
                        上一篇:{$post['post_id']|get_previous_post=$post['post_cat']|is_empty=没有了}
                        <br />

                        下一篇: {$post['post_id']|get_next_post=$post['post_cat']|is_empty=没有了}




                    </h4>


                </article>


            </div>

        </div>

</div>
</div>


<include file="Public:footer"/>

</div>

</body>
</html>