<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title> {$post.post_title}|{:get_opinion('title')} </title>
    <meta name="description" content="{:get_opinion('description')}"/>
    <meta name="author" content="{$post.post_user.user_nicename}"/>
    <meta name="keywords"
          content='{:get_opinion("keywords")},<volist name="post.post_tag" id="tag">{$tag.tag_name}, </volist>'/>

    <include file="Public:head"/>
    <link href="__PUBLIC__/Xsc/static/article.css" rel="stylesheet" type="text/css">

</head>
<body>
{:hook('userHeader', "")}


{:W('Common/mainMenu',array('ul_attr'=>'class="menu"'))}

<div id="content" class="clearfix">

    <div class="article">
        <h1>{$post.post_top|is_top}{$post.post_title}</h1>
        <!-- Post Start -->

        <div class="main-info">
            <!-- Date -->
            <div class="date">
                作者 : <a
                    href="{$post.post_user.user_url}">{$post['post_user']['user_nicename']} ,
                发布时间:
                <span><a>{$post['post_date']|getTimeURL=$post['post_type']}</a> </span>
                ,
                分类:
                <volist name="post.post_cat"
                        id="cat"><a
                        href="{$cat.cat_id|getCatURLByID}">{$cat.cat_name}</a>,
                </volist>
                浏览: <span>{$post.post_view_count}</span>

                <span>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                <control access="Admin/Posts/posts">
                    <a href="{:U('Admin/Posts/posts',array('id'=>$post['post_id']))}">编辑</a>
                </control>
                </span>

            </a>
            </div>


            <div class="post-content">{$post.post_content}</div>


            <h4>
                <br/>
                上一篇:{$post['post_id']|get_previous_post=$post['post_cat']|is_empty='没有了'}
                <br/>
                下一篇: {$post['post_id']|get_next_post=$post['post_cat']|is_empty='没有了'}
            </h4>

        </div>


    </div>


</div>
<include file="Public:footer"/>

</body>
</html>