<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8"/>
    <title>{$title}|{:get_opinion('title')}</title>
    <meta name="description" content="{:get_opinion('description')}"/>
    <meta name="keywords" content="{:get_opinion('keywords')}"/>
    <include file="Public:head"/>

</head>
<body>

{:W('Common/mainMenu')}

<!-- Title Bar / Srart
================================================== -->
<div class="page-title">
    <div class="container">

        <div class="twelve columns">
            <h1>{$title}</h1>
        </div>

        <nav class="four columns">
            <ul class="breadcrumbs">
                <li><a href="{:U('/')}">Home</a></li>
                <li><i class="icon-angle-right"></i></li>
                <li>{$title}</li>
            </ul>
        </nav>

    </div>
</div>
<!-- Title Bar / End
================================================== -->

<!-- Blog / Srart
================================================== -->
<section class="blog">
    <div class="container">

        <div class="three_fourth column">

            <!-- -->
            <if condition="$res404 eq 0 ">

                <article class="post">
                    <div class="post-content medium clearfix">
                        没有相关文章
                        <div class="ten columns omega"></div>
                    </div>
                </article>


            </if>


            <volist name="postslist" id="post" empty="没有相关文章.."> <!-- Post Start -->
                <article class="post">

                    <div class="post-content medium clearfix">

                        <div class="eleven columns omega">
                            <!-- Title -->
                            <h2>
                                <a href="{$post.post_id|getSingleURLByID=$post['post_type']}">
                                    {$post.post_top|is_top}{$post.post_title}</a>
                            </h2>

                            <!-- Meta -->
                            <div class="meta clearfix">
								<span><img src="__PUBLIC__/Vena/images/icons/calendar.png"
                                           alt="date"/> {$post.post_date}</span> <span><img
                                    src="__PUBLIC__/Vena/images/icons/user.png" alt="author"/> 作者 : <a
                                    href="{$post.post_user.user_url}">{$post.post_user.user_nicename}</a></span>
								<span><img src="__PUBLIC__/Vena/images/icons/ribbon.png"
                                           alt="cat"/> 分类 :<volist name="post.post_cat" id="cat"><a
                                        href="{$cat.cat_id|getCatURLByID}">{$cat.cat_name}</a>,
                                </volist></span> <span><img
                                    src="__PUBLIC__/Vena/images/icons/ticket.png" alt="tags"/> 标签 : <volist
                                    name="post.post_tag" id="tag"><a
                                    href="{$tag.tag_id|getTagURLByID}">{$tag.tag_name}</a>,
                            </volist> </span> <span><img
                                    src="__PUBLIC__/Vena/images/icons/comments.png" alt="comments"/> <a
                                    href="{$post.post_id|getSingleURLByID=$post['post_type']}#comments">{$post.post_comment_count}条评论</a></span>
                                </span>
                            </div>

                            <!-- Content -->
                            <p>{$post.post_content|strip_tags|mb_substr=0,200,"UTF-8"}</p>

                            <!-- Read More -->
                            <a href="{$post.post_id|getSingleURLByID=$post['post_type']}" class="btn continue">Read
                                More</a>

                        </div>
                    </div>

                </article>
                <!-- Post End --> </volist>
            <!-- Navigation -->
            <div class="blog-navi nomargin">

                <ul>{$pager}
                </ul>
            </div>

        </div>
        <!-- Sidebar Start -->
        <div class="one_fourth column">

            <div id="sidebar">
                {:W('Widget/search')}
                {:W('Widget/categories')}
                {:W('Widget/tag')}
                {:W('Widget/aboutUs')}

            </div>
        </div>
        <!-- Sidebar End -->
    </div>
</section>
<!-- Blog / End
================================================== -->
<include file="Public:footer"/>

<include file="Public:theme"/>
</body>
</html>