<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>404 | {:get_opinion('title')} </title>
    <meta name="description" content="{:get_opinion('keywords')}"/>

    <include file="Public:head"/>

</head>
<body>
{:hook('userHeader', "")}


<php>
    $xgxw = D('Cats', 'Logic')->getPostsByCat(7, 8);

    $ggtz = D('Cats', 'Logic')->getPostsByCat(8, 6);
    $xyfc = D('Cats', 'Logic')->getPostsByCat(10, 6);
    $llqy = D('Cats', 'Logic')->getPostsByCat(11, 6);
    $xjdx = D('Cats', 'Logic')->getPostsByCat(12, 6);

</php>

{:W('Common/mainMenu',array('ul_attr'=>'class="menu"'))}
<div id="content" class="clearfix">

    <h1>{$message}</h1>


    <include file="Public:footer"/>

</div>

</body>
</html>