<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{:get_opinion('title')} </title>
    <meta name="description" content="{:get_opinion('keywords')}"/>

    <include file="Public:head"/>

</head>
<body>

<php>
    $xgxw = D('Cats', 'Logic')->getPostsByCat(7, 8);

    $ggtz = D('Cats', 'Logic')->getPostsByCat(8, 6);
    $xyfc = D('Cats', 'Logic')->getPostsByCat(10, 6);
    $llqy = D('Cats', 'Logic')->getPostsByCat(11, 6);
    $xjdx = D('Cats', 'Logic')->getPostsByCat(12, 6);

</php>

{:W('Common/mainMenu',array('ul_attr'=>'class="menu"'))}
<div id="content" class="clearfix">

<div id="slide" class="news-slide w2 ml20 fl">
    <a href="http://tw.njtech.edu.cn/index.php/Article/article?id=119" target="_blank"><img
            src="__PUBLIC__/Xsc/pictures/article/140303143837_9664.png" alt="我校916名青年志愿者参与第二届亚青会" width="725" height="357"/></a>
    <a href="http://tw.njtech.edu.cn/index.php/Article/article?id=108" target="_blank"><img
            src="__PUBLIC__/Xsc/pictures/article/140303141132_9683.png" alt="我校隆重举行五•四表彰典礼暨中华经典诵读比赛" width="725"
            height="357"/></a>
    <a href="http://tw.njtech.edu.cn/index.php/Article/article?id=107" target="_blank"><img
            src="__PUBLIC__/Xsc/pictures/article/140303084637_8360.jpg" alt="分享故事 共话成长——校长黄维院士与青年学生座谈" width="725"
            height="357"/></a>
</div>
<div class="right_box">
    <div class="header"><a href="{:getCatURLByID(7)}"
                           class="more">更多</a><span>学工新闻</span></div>
    <div class="body">
        <div class="box">


            <ul class="list1">

                <volist name="xgxw" id="v">
                    <li>
                        <a href="{$v['post_id']|getSingleURLByID}" title="{$v['post_title']}">{$v['post_title']|strip_tags|mb_substr=0,20,"UTF-8"}</a>

                    </li>
                </volist>


            </ul>
        </div>
    </div>

</div>


<table border="0" cellpadding="0" cellspacing="0" align="center">
<tbody>


<tr>
    <td>
        <div class="center_middle">
            <div class="left">

                <div class="left_half">
                    <div class="header">
                        <a href="{:getCatURLByID(8)}" target="_blank">更多+</a>

                        <div class="tip">公告通知</div>
                    </div>
                    <div class="body">
                        <ul>


                            <volist name="ggtz" id="v">
                                <li>
                                  <span>
                                        {$v.post_date|getTimeStamp='month'}-{$v.post_date|getTimeStamp='day'}</span>
                                    <a href="{$v['post_id']|getSingleURLByID}" title="{$v['post_title']}">{$v['post_title']|strip_tags|mb_substr=0,20,"UTF-8"}</a>

                                </li>
                            </volist>


                        </ul>
                    </div>
                </div>


                <div class="left_half">
                    <div class="header">
                        <a href="{:getCatURLByID(10)}" target="_blank">更多+</a>

                        <div class="tip">学院风采</div>
                    </div>
                    <div class="body">
                        <ul>
                            <volist name="xyfc" id="v">
                                <li>
                                  <span>
                                        {$v.post_date|getTimeStamp='month'}-{$v.post_date|getTimeStamp='day'}</span>
                                    <a href="{$v['post_id']|getSingleURLByID}" title="{$v['post_title']}">{$v['post_title']|strip_tags|mb_substr=0,20,"UTF-8"}</a>
                                </li>
                            </volist>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="cright">
                <div class="header">
                    <a href="" target="_blank">(图片需要替换)更多+</a>

                    <div class="tip">链接</div>
                </div>
                <div id="c3_right_2" class="body">

                    <a href=""
                       target="_blank">
                        <img src="__PUBLIC__/Xsc/pictures/zel.jpg" width="264" height="60" border="0"></a>


                    <a href=""
                       target="_blank">
                        <img src="__PUBLIC__/Xsc/pictures/tgdl.jpg" width="264" height="60" border="0"></a>


                    <a href=""
                       target="_blank">
                        <img src="__PUBLIC__/Xsc/pictures/hyb.jpg" width="264" height="60" border="0"></a>


                </div>
            </div>

        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="center_middle">
            <div class="left">
                <div class="left_half">
                    <div class="header">
                        <a href="{:getCatURLByID(11)}" target="_blank"> 更多+</a>

                        <div class="tip">理论前沿</div>
                    </div>
                    <div class="body">
                        <ul>

                            <volist name="llqy" id="v">
                                <li>
                                  <span>
                                        {$v.post_date|getTimeStamp='month'}-{$v.post_date|getTimeStamp='day'}</span>
                                    <a href="{$v['post_id']|getSingleURLByID}" title="{$v['post_title']}">{$v['post_title']|strip_tags|mb_substr=0,20,"UTF-8"}</a>
                                </li>
                            </volist>


                        </ul>
                    </div>
                </div>
                <div class="left_half">
                    <div class="header">
                        <a href="{:getCatURLByID(12)}" target="_blank">更多+</a>

                        <div class="tip">先进典型</div>
                    </div>
                    <div class="body">
                        <ul>

                            <volist name="xjdx" id="v">
                                <li>
                                  <span>
                                        {$v.post_date|getTimeStamp='month'}-{$v.post_date|getTimeStamp='day'}</span>
                                    <a href="{$v['post_id']|getSingleURLByID}" title="{$v['post_title']}">{$v['post_title']|strip_tags|mb_substr=0,20,"UTF-8"}</a>
                                </li>
                            </volist>


                        </ul>
                    </div>
                </div>

            </div>

            <div id="c4_right">
                <div id="c4_right_1">
                    <a href="#" target="_blank">
                        更多+</a>

                    <div class="tip">外部链接</div>
                </div>

                <div id="c4_right_2">
                    <ul>
                        <li><a href="#"
                               target="_blank">
                            投稿登陆</a></li>

                        <li><a href="#"
                               target="_blank">
                            奥蓝系统管理版</a></li>

                        <li><a href="#"
                               target="_blank">
                            奥蓝系统学生版</a></li>

                        <li><a href="#"
                               target="_blank">
                            下载专区</a></li>


                    </ul>
                    <br/>

                    <select style="width:100px" onchange="javascript:window.open(mlink.options[mlink.selectedIndex].value)" size="1" name="mlink">
                        <option>---|校内链接|---</option>

                        <option value="http://pharm.njtech.edu.cn/">药学院</option>

                        <option value="http://life-phar.njtech.edu.cn/">生物与制药工程学院</option>

                        <option value="http://jgzz.njtech.edu.cn">校部机关党委</option>

                        <option value="http://www.njtech.edu.cn">南京工业大学</option>

                        <option value="http://nrcb.njtech.edu.cn/">国家生化中心</option>

                        <option value="http://www.njtech.edu.cn/xb/home.htm">学报编辑部</option>

                        <option value="http://jjc.njtech.edu.cn/">基建处</option>

                        <option value="http://auditing.njtech.edu.cn/">审计处</option>

                        <option value="http://db.njtech.edu.cn/">党委办公室</option>

                        <option value="http://kjc.njtech.edu.cn/web/index.aspx">科技处</option>

                        <option value="http://bwc.njtech.edu.cn/">保卫处</option>

                        <option value="http://hqc.njtech.edu.cn/">后勤管理处</option>

                        <option value="http://hqjt.njtech.edu.cn/">后勤服务集团</option>

                        <option value="http://cqt.njtech.edu.cn/">常青藤</option>

                        <option value="http://ltx.njtech.edu.cn/">离退休工作处</option>

                        <option value="http://dag.njtech.edu.cn/">档案馆</option>

                        <option value="http://lib.njtech.edu.cn/">图书馆</option>

                        <option value="http://network.njtech.edu.cn/">信息中心</option>

                        <option value="http://tzb.njtech.edu.cn/">党委统战部</option>

                        <option value="http://cqt.njtech.edu.cn/jw/">校纪委</option>

                        <option value="http://cwc.njtech.edu.cn/">计划财务处</option>

                        <option value="http://ico.njtech.edu.cn/">国际合作处</option>

                        <option value="http://gh.njtech.edu.cn/">校工会</option>

                        <option value="http://tw.njtech.edu.cn/">校团委</option>

                        <option value="http://xsc.njtech.edu.cn/xsc2/index.asp">学生处</option>

                        <option value="http://zzb.njtech.edu.cn/">党委组织部</option>

                        <option value="http://xcb.njtech.edu.cn/">党委宣传部</option>

                        <option value="http://wzc.njtech.edu.cn/">资产与实验室管理处</option>

                        <option value="http://ghc.njtech.edu.cn/">规划发展处</option>

                        <option value="http://xb.njtech.edu.cn/">校长办公室</option>

                        <option value="http://jwc.njtech.edu.cn/index.asp">教务处</option>

                        <option value="http://rsc.njtech.edu.cn/">人事处</option>

                        <option value="http://www.njtech.edu.cn">学校主页</option>

                        <option value="http://gra.njtech.edu.cn/">研究生部</option>

                        <option value="http://www.njtech.edu.cn/jgy/index.htm">经济管理学院</option>

                        <option value="http://cce.njtech.edu.cn/">土木工程学院</option>

                        <option value="http://art.njtech.edu.cn/3/main.htm">艺术设计学院</option>

                        <option value="http://zdh.njtech.edu.cn/">自动化学院</option>

                        <option value="http://hgy.njtech.edu.cn">化学化工学院</option>

                    </select>

                    <br/>
                    <select style="width:100px" onchange="javascript:window.open(mlink2.options[mlink2.selectedIndex].value)" size="1" name="mlink2">
                        <option>---|校外链接|---</option>

                        <option value="http://www.moe.edu.cn">国家教育部门户网站</option>

                        <option value="http://www.chinaedu.edu.cn">中国教育信息网</option>

                        <option value="http://www.eol.cn">中国教育在线</option>

                        <option value="http://www.chsi.com.cn">中国高等教育学生信息网</option>

                        <option value="http://www.ec.js.edu.cn">江苏教育厅网站</option>

                        <option value="http://xgc.nju.edu.cn">南京大学学生工作处</option>

                        <option value="http://xsc.seu.edu.cn">东南大学学生工作处</option>

                        <option value="http://3434.njnu.edu.cn">南京师范大学学生工作处</option>

                    </select>
                </div>
            </div>

        </div>
    </td>
</tr>

</tbody>
</table>


<include file="Public:footer"/>

</div>
</body>
</html>