<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{:get_opinion('title')} </title>
    <meta name="description" content="{:get_opinion('keywords')}"/>

    <include file="Public:head"/>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .wrap {
            /*width: 320px;*/
            /*width: 95%;*/
            margin: 10px auto 0;
            border-bottom: 1px dashed #686868;
        }

        .body-top {
            width: 100%;
            max-height: 120px;

            /*height: 100px;*/
            margin-bottom: 10px;
        }

        .bt-imgbox {
            width: 40%;
            float: left;
        }

        .bt-img {
            width: 90%;
            height: 100px;
        }

        .bt-text {
            width: 60%;
            float: right;
        }

        .bt-title {
            color: #000000;
            height: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .bt-cont {
            height: 70px;
            overflow: hidden;
        }

        .clr {
            clear: both;
        }

        .box {

            /* background-color: #ffffff;*/
        }

        .text1, .text2, .text3, .text4, .text5, .text6 {
            font-family: '华文细黑';
            color: #FFFFFF;
            font-size: 35px;
            display: none;
        }


    </style>

</head>
<body>


<?php


?>

<php>
    //get_theme_opinion("id_1_1")

    $CatsLogic=new Common\Logic\CatsLogic();

    $id_1_1 = $CatsLogic->getPostsByCat(get_theme_opinion("id_1_1"), 8 ,0 ,false );
    $id_1_2 = $CatsLogic->getPostsByCat(get_theme_opinion("id_1_2"), 10 ,0 ,false );
    $id_2_1 = $CatsLogic->getPostsByCat(get_theme_opinion("id_2_1"), 10 ,0 ,false );
    $id_2_2 = $CatsLogic->getPostsByCat(get_theme_opinion("id_2_2"), 10 ,0 ,false );
    $id_2_3 = $CatsLogic->getPostsByCat(get_theme_opinion("id_2_3"), 10 ,0 ,false );


    $slider = D('Tags', 'Logic')->getPostsByTag(3, 10 ,0 ,false );


</php>

{:W('Common/mainMenu',array('ul_attr'=>'class="menu"'))}

<div style="clear:both;"></div>

<div id="content">

    <div style="margin: 0 auto;">

        <div class="head_box" style="width:500px;">

            <div id="slide" class="news-slide fl" style="">
                <volist name="slider" id="v" key="k">
                    {:get_post_thumbnail($v)}
                </volist>
            </div>
        </div>


        <!--<div class="head_box" style="width:  300px;">-->

            <!--<div class="header"><a href="{:get_cat_url(get_theme_opinion('id_1_1'))}"-->
                                   <!--class="more">更多</a><span>{:get_theme_opinion('text_1_1')}</span></div>-->
            <!--<div class="body">-->


                <!--&lt;!&ndash;<div style="clear:both;"></div>&ndash;&gt;-->


                <!--<div class="box" style="">-->


                    <!--<ul class="list1">-->

                        <!--<volist name="id_1_1" id="v" key="k">-->


                            <!--<li>-->
                                <!--<a href="{$v|get_post_url}" title="{$v['post_title']}">-->
                                    <!--<i>·</i>-->
                                    <!--{$v['post_title']|strip_tags|mb_substr=0,20,"UTF-8"}</a>-->
                                                    <!--<span>-->

                          <!--{$v['post_date']|mb_substr=5,5,"UTF-8"}-->

                        <!--</span>-->

                            <!--</li>-->


                        <!--</volist>-->


                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

        <div class="head_box" style="width:  540px; margin-left: 10px">

            <div class="header"><a href="{:get_cat_url(get_theme_opinion('id_1_2'))}"
                                   class="more">更多</a><span>{:get_theme_opinion('text_1_2')}</span></div>
            <div class="body">


                <div class="box">


                    <ul class="list1">

                        <volist name="id_1_2" id="v" key="k">


                            <li>
                                <a href="{$v|get_post_url}" title="{$v['post_title']}">
                                    <i>·</i>
                                    {$v['post_title']|strip_tags|mb_substr=0,30,"UTF-8"}</a>
                                &nbsp;&nbsp;
                        <span>
                        {$v['post_date']|mb_substr=0,10,"UTF-8"}
                        </span>

                            </li>


                        </volist>


                    </ul>
                </div>
            </div>

        </div>

    </div>

    <div style="clear:both;"></div>


    <div class="center_middle" style="">

        <div class="left_half">
            <div class="header" style="border-bottom: solid 3px #3686be;">
                <a href="{:get_cat_url(get_theme_opinion('id_2_1'))}">More</a>

                <div class="header_info">{:get_theme_opinion('text_2_1')}</div>
            </div>
            <div class="body">


                <div class="wrap">
                    <div class="body-top">
                        <div class="bt-imgbox">
                            <img
                                    src="{:get_post_img($id_2_1[0])}"
                                    class="bt-img">
                        </div>
                        <div class="bt-text">
                            <h3 class="bt-title"> {$id_2_1[0]['post_title']|strip_tags|mb_substr=0,100,"UTF-8"}</h3>

                            <p class="bt-cont"> {$id_2_1[0]['post_content']|strip_tags|mb_substr=0,150,"UTF-8"}</p>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>


                <ul>


                    <volist name="id_2_1" id="v" key="k">


                        <eq name="k" value="1">

                            <else/>

                            <li>

            <span>
              {$v.post_date|getTimeStamp='month'}-{$v.post_date|getTimeStamp='day'}</span>
                                <a href="{$v|get_post_url}" title="{$v['post_title']}">
                                    <i>·</i>
                                    {$v['post_title']|strip_tags|mb_substr=0,25,"UTF-8"}</a>

                            </li>
                        </eq>


                    </volist>


                </ul>
            </div>
        </div>


        <div class="left_half" style="width: 41%;">
            <div class="header" style="border-bottom: solid 3px #008287;">
                <a href="{:get_cat_url(get_theme_opinion('id_2_2'))}">More</a>

                <div class="header_info">{:get_theme_opinion('text_2_2')}</div>
            </div>
            <div class="body">


                <div class="wrap">
                    <div class="body-top">
                        <div class="bt-imgbox">
                            <img
                                    src="{:get_post_img($id_2_2[0])}"
                                    class="bt-img">
                        </div>
                        <div class="bt-text">
                            <h3 class="bt-title"> {$id_2_2[0]['post_title']|strip_tags|mb_substr=0,100,"UTF-8"}</h3>

                            <p class="bt-cont"> {$id_2_2[0]['post_content']|strip_tags|mb_substr=0,200,"UTF-8"}</p>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>


                <ul>
                    <volist name="id_2_2" id="v" key="k">

                        <eq name="k" value="1">

                            <else/>
                            <li>
                                <span>{$v.post_date|getTimeStamp='month'}-{$v.post_date|getTimeStamp='day'}</span>
                                <a href="{$v|get_post_url}" title="{$v['post_title']}">
                                    <i>·</i>
                                    {$v['post_title']|strip_tags|mb_substr=0,25,"UTF-8"}</a>
                            </li>
                        </eq>


                    </volist>

                </ul>
            </div>
        </div>


        <div class="left_half" style="width: 22%;   padding-right: 0%;">
            <div class="header" style="border-bottom: solid 3px #F4B300;">
                <a href="{:get_cat_url(get_theme_opinion('id_2_3'))}">More</a>

                <div class="header_info">{:get_theme_opinion('text_2_3')}</div>
            </div>
            <div class="body">
                <div class="wrap">
                    <div class="body-top">
                        <div class="bt-imgbox">
                            <img
                                    src="{:get_post_img($id_2_3[0])}"
                                    class="bt-img">
                        </div>
                        <div class="bt-text">
                            <h3 class="bt-title"> {$id_2_3[0]['post_title']|strip_tags|mb_substr=0,100,"UTF-8"}</h3>

                            <p class="bt-cont"> {$id_2_3[0]['post_content']|strip_tags|mb_substr=0,150,"UTF-8"}</p>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>


                <ul>
                    <volist name="id_2_3" id="v" key="k">

                        <eq name="k" value="1">

                            <else/>


                            <li>
            <!--<span>              {$v.post_date|getTimeStamp='month'}-{$v.post_date|getTimeStamp='day'}</span>-->
                                <a href="{$v|get_post_url}" title="{$v['post_title']}">
                                    <i>·</i>
                                    {$v['post_title']|strip_tags|mb_substr=0,25,"UTF-8"}</a>
                            </li>

                        </eq>
                    </volist>

                </ul>
            </div>
        </div>


    </div>


    <div style="clear:both;"></div>
    <div class="center_middle" style="height: 150px;margin-right: 1.5%;margin-left: 1%;">


        <div class="banner" id="indexbanner">
            <div class="ground"
                 style="display:block; background: url('http://33458.vhost49.boxcdn.cn/Public/2011college/images/slide.jpg') no-repeat no-repeat 100% 100%;;"></div>
            <div class="ground"
                 style="display: none; background: url('http://33458.vhost49.boxcdn.cn/Public/2011college/images/slide2.jpg') no-repeat no-repeat 100% 100%;;"></div>
            <div class="ground"
                 style="display: none; background: url('http://33458.vhost49.boxcdn.cn/Public/2011college/images/slide3.jpg') no-repeat no-repeat 100% 100%;;"></div>

            <div class="bannerinner">
                <a target="_blank" href="#" class="hrefbanner" id="hrefbanner1" style="display:block;">
                    <div class="describ" style="left:5%;top:60px"><span class="tpbg"></span>

                        <h3 class="tit">一切为了学生</h3>
                        <span class="content"></span>
                    </div>
                </a>
                <a target="_blank" href="#" class="hrefbanner" id="hrefbanner2" style="display:none;">

                    <div class="describ" style="left:5%;top:60px"><span class="tpbg"></span>

                        <h3 class="tit">一切为了学生</h3>
                        <span class="content"></span>
                    </div>
                    <div class="describ" style=left:35%;top:40px;"><span class="tpbg"></span>

                        <h3 class="tit">为了一切学生</h3>
                        <span class="content"></span>
                    </div>


                </a>
                <a target="_blank" href="#" class="hrefbanner" id="hrefbanner3" style="display: none;">

                    <div class="describ" style="left:5%;top:60px"><span class="tpbg"></span>

                        <h3 class="tit">一切为了学生</h3>
                        <span class="content"></span>
                    </div>
                    <div class="describ" style=left:35%;top:40px;"><span class="tpbg"></span>

                        <h3 class="tit">为了一切学生</h3>
                        <span class="content"></span>
                    </div>
                    <div class="describ" style="left:65%;top:20px"><span class="tpbg"></span>

                        <h3 class="tit">为了学生一切</h3>
                        <span class="content"></span>
                    </div>

                </a>


                <a class="left"></a>
                <a class="right"></a>
              <span class="lights">
                  <a class="focused"></a>
                  <a></a>
                  <a></a>

 </span></div>
        </div>


    </div>


    <div style="clear:both;"></div>


    <div class="center_middle" style="">

        <div class="left_half" style="width: 74%;padding-bottom: 0px" id="c4_right_2">
            <div class="header" style="border-bottom: solid 3px #78BA00;">


                <div class="header_info">友情链接</div>
            </div>
            <div class="body" style="">

                <div style="text-align: center;padding-top: 20px;padding-bottom: 20px">
                    <friendlist link_group_id="4" num="6"></friendlist>
                </div>

            </div>
        </div>


        <div class="left_half" style="width: 21%;">
            <div class="header" style="border-bottom: solid 3px #252525;">


                <div class="header_info">服务链接</div>
            </div>
            <div class="body" style="padding-bottom: 30px">


                <div style="text-align: center;" id="links">

                    <friendlist link_group_id="5" num="10"></friendlist>
                </div>

                <div style="text-align: center">
                    <select style="width:100px" onchange="window.open(this.options[this.selectedIndex].value)"
                            size="1"
                            name="mlink">
                        <option>---|校内链接|---</option>


                        <optionfriendlist link_group_id="1"></optionfriendlist>


                    </select>

                    <select style="width:100px" onchange="window.open(this.options[this.selectedIndex].value)"
                            size="1"
                            name="mlink2">
                        <option>---|校外链接|---</option>


                        <optionfriendlist link_group_id="3"></optionfriendlist>


                    </select>

                </div>
            </div>
        </div>


    </div>

    <div style="clear:both;"></div>


</div>

<include file="Public:footer"/>


<script type="application/javascript">


    $(function () { //头部nav部分； $('.indexnav-content div.menu1').hover(function(){$(this).addClass('focuse');},function(){$(this).removeClass('focuse');}) //
        $('#indexbanner .bannerchoose').each(function () {
            var href = $(this).attr('href');
            if (href != "") {
                (new Image()).src = href;
            }
        })
        var bannerfadetime = 2000;
        var onbanner = false;
        if ($('#indexbanner .bannerinner a.hrefbanner').length > 1) {
            window.indexp = {};
            (function () {
                indexp.num = $('#indexbanner .lights a').length;
                indexp.index = 0;
                indexscroll();
            }())
            $('#indexbanner .right').bind('click', function () {
                if ($('#indexbanner').is(":animated")) {
                    return false;
                }
                clearInterval(bannerinterval);
                indexp.index = (++indexp.index >= indexp.num ? 0 : indexp.index);
                //console.log(indexp.index);
                $('.ground').hide().eq(indexp.index).css('display', 'block').css('opacity', 0).animate({'opacity': 1}, bannerfadetime);
                $('#indexbanner .lights a').eq(indexp.index).addClass('focused').siblings('a').removeClass('focused');
                $('#indexbanner .bannerinner .hrefbanner').eq(indexp.index).show().siblings('.hrefbanner').hide();
                indexscroll();
            })
            $('#indexbanner .left').bind('click', function () {
                if ($('#indexbanner').is(":animated")) {
                    return false;
                }
                clearInterval(bannerinterval);
                indexp.index = (indexp.index == 0 ? indexp.num - 1 : --indexp.index);
                $('.ground').hide().eq(indexp.index).css('display', 'block').css('opacity', 0).animate({'opacity': 1}, bannerfadetime);
                $('#indexbanner .lights a').eq(indexp.index).addClass('focused').siblings('a').removeClass('focused');
                $('#indexbanner .bannerinner .hrefbanner').eq(indexp.index).show().siblings('.hrefbanner').hide();
                indexscroll();
            })
            $('#indexbanner .lights a').bind('click', function () {
                indexp.index = $(this).index();
                clearInterval(bannerinterval);
                $('.ground').hide().eq(indexp.index).css('display', 'block').css('opacity', 0).animate({'opacity': 1}, bannerfadetime);
                $('#indexbanner .lights a').eq(indexp.index).addClass('focused').siblings('a').removeClass('focused');
                $('#indexbanner .bannerinner .hrefbanner').eq(indexp.index).show().siblings('.hrefbanner').hide();
                indexscroll();
            })

            $('.index-colum .li-1 .news .tit').hover(
                    function () {
                        $(this).addClass('bordernone');
                        $(this).parents('.news').eq(0).siblings('.news').find('.con').stop().hide().end().find('.tit').removeClass('bordernone');
                        $(this).next('.con').fadeIn();
                    },
                    function () {
                    }
            )
        }
        function indexscroll() {
            bannerinterval = setInterval(function () {
                if (onbanner)return;
                indexp.index = (++indexp.index >= indexp.num ? 0 : indexp.index);
                $('#indexbanner .lights a').eq(indexp.index).addClass('focused').siblings('a').removeClass('focused');
                // $('#indexbanner .bannerinner .describ').eq(indexp.index).show().siblings('.describ').hide();
                //console.log($('#indexbanner .bannerchoose').eq(indexp.index).attr('style'));
                $('.ground').hide().eq(indexp.index).css('display', 'block').css('opacity', 0).animate({'opacity': 1}, bannerfadetime);
                $('#indexbanner .lights a').eq(indexp.index).addClass('focused').siblings('a').removeClass('focused');
                console.log("indexp.index:" + indexp.index);
                console.log("indexp.num:" + indexp.num);
                $('#indexbanner .bannerinner .hrefbanner').eq(indexp.index).show().siblings('.hrefbanner').hide();
            }, 3500)
        }

//    $("#indexbanner").mouseover(function(){onbanner=true});
//    $("#indexbanner").mouseout(function(){onbanner=false})


    })


</script>

</body>
</html>