<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script language="javascript" src="__PUBLIC__/Xsc/static/jquery.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/Xsc/static/js/jquery-1.3.2.min.js"></script>-->
    <title>南京工业大学学生工作部(处) | xsc.njut.edu.cn</title>
    <meta name="keywords" content="南京工业大学,南京工业大学学生工作部(处)">
    <script type="text/javascript" src="__PUBLIC__/Xsc/static/index.js"></script>
    <link href="__PUBLIC__/Xsc/static/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Xsc/Resources/css/reset.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Xsc/Resources/css/common.css"/>
    <script src="__PUBLIC__/Xsc/Resources/js/common.js" type="text/javascript"></script>
    <script type="text/javascript" src="__PUBLIC__/Xsc/Resources/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Xsc/Resources/js/jquery.KinSlideshow-1.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#headerlist li').hover(function () {
                $(this).children('ul').stop(true, true).show('fast');
            }, function () {
                $(this).children('ul').stop(true, true).hide('fast');
            });

            $('#headerlist li').hover(function () {
                $(this).children('div').stop(true, true).show('fast');
            }, function () {
                $(this).children('div').stop(true, true).hide('fast');
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#slide").KinSlideshow({
                titleBar: { titleBar_height: 30, titleBar_bgColor: "#08355c", titleBar_alpha: 0.5 },
                titleFont: { TitleFont_size: 12, TitleFont_color: "#FFFFFF", TitleFont_weight: "normal" },
                btn: { btn_bgColor: "#FFFFFF", btn_bgHoverColor: "#1072aa", btn_fontColor: "#000000",
                    btn_fontHoverColor: "#FFFFFF", btn_borderColor: "#cccccc",
                    btn_borderHoverColor: "#1188c0", btn_borderWidth: 1 }
            });
        })
    </script>
</head>
<body>
<div class="headerwrap">
    <div class="header">
        <div class="left">
            <script language="JavaScript">
                <!--
                var enabled = 0;
                today = new Date();
                var day;
                var date;
                if (today.getDay() == 0) day = "星期日"
                if (today.getDay() == 1) day = "星期一"
                if (today.getDay() == 2) day = "星期二"
                if (today.getDay() == 3) day = "星期三"
                if (today.getDay() == 4) day = "星期四"
                if (today.getDay() == 5) day = "星期五"
                if (today.getDay() == 6) day = "星期六"
                date1 = (today.getFullYear()) + "年" + (today.getMonth() + 1 ) + "月" + today.getDate() + "日 ";
                date2 = day;
                document.write(date1);//.fontsize为定义字号
                document.write(date2);
                //----->
            </script>
        </div>
        <div class="right"><span class="userarea">链接</span>
            <a href="#" target="_blank">链接</a>
            <a href="#" target="_blank">链接</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="userarea">链接</span>
            <a href="#">考生</a>
            <a href="#" target="_blank">老师</a>
            <a href="#">访客</a>


            <a href="#" target="_blank"><b>旧版主页</b></a>
        </div>
    </div>
    <div class="logoarea">
        <a class="logo" href="http://www.cau.edu.cn/index.html"><img src="__PUBLIC__/Xsc/images/logo.png" alt=""></a>

        <div class="searcharea">
            <div class="searchdiv clearfix">
                <div class="en"><a href="http://en.cau.edu.cn/" target="_blank">English Version</a>　　　|</div>
                <div class="searinput">
                    <form action="http://www.cau.edu.cn/jsearch/index.jsp?webid=1" method="get" name="qForm"
                          target="_blank" id="qForm"><input type="text" class="searchinput" value="全文检索" id="q"
                                                            name="q">
                        <input type="hidden" name="pagemode" value="result"><input type="hidden" name="appid" value="1"><input
                                type="hidden" name="style" value="1"><input type="hidden" name="ck" value="o"> <input
                                id="pos" type="hidden" name="pos" value="title,content"> <input id="webid" type="hidden"
                                                                                                name="webid"
                                                                                                value="1"><input
                                class="searchbtn" type="submit" value="" name="imageField2"></form>
                </div>

            </div>

        </div>
    </div>
</div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" background="static/bgxsc.jpg" align="center">
    <tbody>
    <tr>

        <td class="green_background">

            {:W('Common/mainMenu',array('ul_attr'=>'id="headerlist" class="first-menu"'))}


        </td>
    </tr>
    </tbody>
</table>
<div id="content" class="clearfix">

<div id="slide" class="news-slide w2 ml20 fl">
    <a href="http://tw.njtech.edu.cn/index.php/Article/article?id=119" target="_blank"><img src="__PUBLIC__/Xsc/Resources/pictures/article/140303143837_9664.png" alt="我校916名青年志愿者参与第二届亚青会" width="725" height="357"/></a>
    <a href="http://tw.njtech.edu.cn/index.php/Article/article?id=108" target="_blank"><img src="__PUBLIC__/Xsc/Resources/pictures/article/140303141132_9683.png" alt="我校隆重举行五•四表彰典礼暨中华经典诵读比赛" width="725" height="357"/></a>
    <a href="http://tw.njtech.edu.cn/index.php/Article/article?id=107" target="_blank"><img src="__PUBLIC__/Xsc/Resources/pictures/article/140303084637_8360.jpg" alt="分享故事 共话成长——校长黄维院士与青年学生座谈" width="725" height="357"/></a>
</div>


<div class="box w1 fl ml25">
    <div class="hd">
        <a href="http://tw.njtech.edu.cn/index.php/Lanmu/lanmu?id=26&page=1" class="more">更多</a><span>最新消息</span></div>
    <div class="ct">
        <div class="ct-top clearfix">
            <!--<div class="ct-top-title"><a href="http://tw.njtech.edu.cn/index.php/Article/article?id=214" title="我校第十三届校园文化艺术节开幕式隆重举行"">-->
            <!--我校第十三届校园文化艺术节开幕式隆...</a></div>-->
            <!--<div class="ct-top-summary">-->
            <!--阳春三月，草长莺飞。3月31日晚，我校第十三届校园文化艺术节开幕式暨校大学生艺术团话剧团第三届专场汇报演出在江浦校区大礼                </div>-->
            <!--<div class="ct-top-thumb"><a href="http://tw.njtech.edu.cn/index.php/Article/article?id=214">-->
            <!--<img src="__PUBLIC__/Xsc/Resources/pictures/article/140401091654_49.jpg" width="153" height="102" alt=""/></a></div>-->
            <!--</div>-->
            <ul class="list1">


                <li>
                    <a href="http://tw.njtech.edu.cn/index.php/Article/article?id=237" title="中国演讲协会副会长杨晓东先生作客我校大学生创业讲坛">
                        中国演讲协会副会长杨晓东先生作客我校大...</a></li>
                <li><a href="http://tw.njtech.edu.cn/index.php/Article/article?id=215" title="   南京大学康尔教授作客我校明德大讲堂">
                    南京大学康尔教授作客我校明德大讲...</a></li>
                <li><a href="http://tw.njtech.edu.cn/index.php/Article/article?id=205" title="台湾著名学者薛仁明作客我校明德大讲堂">
                    台湾著名学者薛仁明作客我校明德大讲堂</a></li>
                <li>
                    <a href="http://tw.njtech.edu.cn/index.php/Article/article?id=204" title="云岭大地新潮涌，志愿青春梦为帆 ——记我校首批研究生支教团 ">
                        云岭大地新潮涌，志愿青春梦为帆 ——记...</a></li>


                <li>
                    <a href="http://tw.njtech.edu.cn/index.php/Article/article?id=237" title="中国演讲协会副会长杨晓东先生作客我校大学生创业讲坛">
                        中国演讲协会副会长杨晓东先生作客我校大...</a></li>
                <li><a href="http://tw.njtech.edu.cn/index.php/Article/article?id=215" title="   南京大学康尔教授作客我校明德大讲堂">
                    南京大学康尔教授作客我校明德大讲...</a></li>
                <li><a href="http://tw.njtech.edu.cn/index.php/Article/article?id=205" title="台湾著名学者薛仁明作客我校明德大讲堂">
                    台湾著名学者薛仁明作客我校明德大讲堂</a></li>
                <li>
                    <a href="http://tw.njtech.edu.cn/index.php/Article/article?id=204" title="云岭大地新潮涌，志愿青春梦为帆 ——记我校首批研究生支教团 ">
                        云岭大地新潮涌，志愿青春梦为帆 ——记...</a></li>
            </ul>
        </div>
    </div>

</div>


<!--
<div class="banner" id="indexbanner">
    <div class="ground"
         style="background-image: url(images/lb/11.jpg);; display:block; background-position: 50% 0px; background-repeat: no-repeat no-repeat;"></div>
    <div class="ground"
         style="background-image: url(images/lb/1404012117574093991.jpg); display: none; background-position: 50% 0px; background-repeat: no-repeat no-repeat;"></div>
    <div class="ground"
         style="background-image: url(images/lb/1403211506065905041.jpg); display: none; background-position: 50% 0px; background-repeat: no-repeat no-repeat;"></div>
    <div class="ground"
         style="background-image: url(images/lb/1403211506065905041.jpg); display: none; background-position: 50% 0px; background-repeat: no-repeat no-repeat;"></div>
    <div class="ground"
         style="background-image: url(images/lb/1404012117574093991.jpg); display: none; background-position: 50% 0px; background-repeat: no-repeat no-repeat;"></div>


    <div class="bannerinner">
        <a target="_blank" href="#" class="hrefbanner" style="display:block;">
            <article class="describ" style="left:80px;top:30px"><span class="tpbg"></span>

                <h3 class="tit">牛有成话农业</h3>
                <span class="content">“农业是生存基础、是幸福指数，也是良师益友”——4月1日，北京市委常委、统战部部长牛有成做客名家论坛，与农大学子畅谈对农业的认识和思考。</span>
            </article>
        </a>
        <a target="_blank" href="#" class="hrefbanner" style="display:none;">
            <article class="describ" style="right:80px;top:50px"><span class="tpbg"></span>

                <h3 class="tit">恰同学少年，风华正茂</h3>
                <span class="content">3月30日，第十二次学生代表大会举行，人发学院传播111班宋宇齐以225票当选新一届学生会主席。</span></article>
        </a>
        <a target="_blank" href="#" class="hrefbanner" style="display: none;">
            <article class="describ" style="left:30px;top:30px"><span class="tpbg"></span>

                <h3 class="tit">“绿色”推进剂</h3>
                <span class="content">高海翔团队制备出具有更短点燃延迟时间且更加环保的自燃离子液体。《德国应用化学》审稿人称其“在空间推进及卫星推力调节领域的肼类推进剂替代品研究方面展示了一个里程碑式的成果”。</span>
            </article>
        </a>
        <a target="_blank" href="#" class="hrefbanner" style="display: none;">
            <article class="describ" style="left:30px;top:30px"><span class="tpbg"></span>

                <h3 class="tit">中国梦 ? 翰墨情</h3>
                <span class="content">3月20日，“中国梦 ? 翰墨情”书画展在我校文化艺术馆开展，国内60位书画家的100余幅作品参展。</span></article>
        </a>
        <a target="_blank" href="#" class="hrefbanner" style="display: none;">
            <article class="describ" style="left:30px;top:180px"><span class="tpbg"></span>

                <h3 class="tit">“垒球外交”</h3>
                <span class="content">我校垒球队韩晓斌教练与约翰?基总理互赠球队队服。橄榄球被视为新西兰的国民运动，“All Blacks”队是其国家队，曾在2011年夺得橄榄球世界杯冠军。</span>
            </article>
        </a>

        <a class="left"></a>
        <a class="right"></a>
              <span class="lights"> <a class="focused"></a> <a></a><a></a><a></a><a></a>
 </span></div>
</div>-->
<table style="width: 1140px;background: #FFFFFF;" border="0" cellpadding="0" cellspacing="0" align="center">
<tbody>
<tr>
    <td>
<tr>
    <td>
        <div class="center_middle" style="margin-left:auto; margin-right:auto;">
            <div class="left">
                <!--教学教研-->
                <div class="left_half">
                    <div class="header">
                        <a href="#" target="_blank">
                            <img src="__PUBLIC__/Xsc/images/more.jpg" width="82" height="57" border="0"></a>
                    </div>
                    <div class="body">
                        <ul>
                            <li><span>
                                        03-14</span><a href="#" title="" target="_blank">浦江学院举行让理想照进现实</a>
                            </li>

                            <li><span>
                                        02-19</span><a href="#" title="" target="_blank">浦举实、示范课、研究课授课...</a>
                            </li>

                            <li><span>
                                        12-08</span><a href="#" title="" target="_blank">环境学院办新生风采大赛</a>
                            </li>

                            <li><span>
                                        11-25</span><a href="#" title="" target="_blank">城建学院举办“新生杯”篮球赛 </a>
                            </li>

                            <li><span>
                                        11-18</span><a href="#" title="" target="_blank">城建学院举办“新生杯”篮球赛</a>
                            </li>

                            <li><span>
                                        09-25</span><a href="#" title="" target="_blank">机械学院学生会与新生见面会圆 </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!--教学教研结束-->
                <!--德育之窗-->
                <div class="left_half">
                    <div class="header">
                        <a href=""
                           target="_blank">
                            <img src="__PUBLIC__/Xsc/images/more.jpg" width="82" height="57" border="0"></a>
                    </div>
                    <div class="body">
                        <ul>

                            <li><span>
                                        03-24</span><a href="#"
                                                       title="" target="_blank">抵制毒品，参与禁毒</a></li>

                            <li><span>
                                        03-03</span><a href="#"
                                                       title="" target="_blank">机械学院赵旻喆同学在第五届</a>
                            </li>

                            <li><span>
                                        12-26</span><a href="#"
                                                       title="" target="_blank">交通学院举行“安居奖学金”颁.</a>
                            </li>

                            <li><span>
                                        12-22</span><a href="#"
                                                       title="" target="_blank">长江学者金太军教授应邀来我院.</a>
                            </li>

                            <li><span>
                                        12-03</span><a href="#"
                                                       title="" target="_blank">机械学院招生就业工作再次获得</a>
                            </li>

                            <li><span>
                                        11-20</span><a href="#"
                                                       title="我校开展“创卫宣传”社会实践活动" target="_blank">我校开展“创卫宣传”社会实践活动</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!--德育之窗结束-->
            </div>
            <!--学校专题专栏-->
            <div id="c3_right" class="right">
                <div id="c3_right_1" class="header">
                    <a href="" target="_blank">
                        <img src="__PUBLIC__/Xsc/images/more.jpg" width="55" height="47" border="0"></a></div>
                <div id="c3_right_2" class="body">

                    <a href=""
                       target="_blank">
                        <img src="http://xsc.njtech.edu.cn/image/zou.jpg" width="264" height="42" border="0"></a>

                    <a href=""
                       target="_blank">
                        <img src="" width="264" height="42" border="0"></a>

                    <a href=""
                       target="_blank">
                        <img src="" width="264" height="42" border="0"></a>

                    <a href=""
                       target="_blank">
                        <img src="" width="264" height="42" border="0"></a>

                </div>
            </div>
            <!--专题专栏结束-->
        </div>
    </td>
</tr>
<tr>
    <td>
        <div class="center_middle">
            <div class="left">
                <div class="left_half">
                    <div class="header">
                        <a href=""
                           target="_blank">
                            <img src="__PUBLIC__/Xsc/images/more.jpg" width="82" height="57" border="0"></a>
                    </div>
                    <div class="body">
                        <ul>

                            <li><span>
                                        04-04</span><a href="#"
                                                       title="" target="_blank">我校2014年艺术类招生校考</a>
                            </li>

                            <li><span>
                                        03-25</span><a href="#"
                                                       title=""
                                                       target="_blank">我校2014年高水平运动员招</a></li>

                            <li><span>
                                        06-25</span><a href="#"
                                                       title="" target="_blank">我校举办2014年自主选拔录</a>
                            </li>

                            <li><span>
                                        06-22</span><a href="#"
                                                       title=""
                                                       target="_blank">南京工业大学2014年自主选…</a></li>

                            <li><span>
                                        04-28</span><a href="#"
                                                       title="南京工业大学2014年艺术类"
                                                       target="_blank">南京工业大学2014年艺术类</a></li>

                            <li><span>
                                        04-16</span><a href="#"
                                                       title="" target="_blank">南京工业大学2014年艺术类</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!--招生考试结束-->
                <!--党建工会-->
                <div class="left_half">
                    <div class="header">
                        <a href=""
                           target="_blank">
                            <img src="__PUBLIC__/Xsc/images/more.jpg" width="82" height="57" border="0"></a>
                    </div>
                    <div class="body">
                        <ul>

                            <li><span>
                                        03-24</span><a href="#"
                                                       title="" target="_blank">苏州工业园区专场招聘会 拉开… </a>
                            </li>

                            <li><span>
                                        03-24</span><a href="#"
                                                       title="什么样的人可以申请入党？ " target="_blank">信息学院举办首场2014届毕？ </a></li>

                            <li><span>
                                        03-24</span><a href="#"
                                                       title="“百千万工程”就业指导公益巡… " target="_blank">“百千万工程”就业指导公益巡…</a>
                            </li>

                            <li><span>
                                        03-24</span><a href="#"
                                                       title="11月28日（周三）招聘会信…"
                                                       target="_blank">11月28日（周三）招聘会信…</a></li>

                            <li><span>
                                        03-24</span><a href="#"
                                                       title="11月23日（周五）招聘会信…  " target="_blank">11月23日（周五）招聘会信… </a>
                            </li>

                            <li><span>
                                        03-24</span><a href="#"
                                                       title="党的群众路线基本观点 " target="_blank">党的群众路线基本观点 </a></li>

                        </ul>
                    </div>
                </div>
                <!--党建工会结束-->
            </div>
            <!--学科建设-->
            <div id="c4_right">
                <div id="c4_right_1">
                    <a href="#" target="_blank">
                        <img src="__PUBLIC__/Xsc/images/more.jpg" width="82" height="57" border="0"></a></div>
                <div id="c4_right_2">
                    <ul>
                        <li><a href="#"
                               target="_blank">
                            语文组</a></li>

                        <li><a href="#"
                               target="_blank">
                            数学组</a></li>

                        <li><a href="#"
                               target="_blank">
                            外语组</a></li>

                        <li><a href="#"
                               target="_blank">
                            物理组</a></li>

                        <li><a href="#"
                               target="_blank">
                            化学组</a></li>

                        <li><a href="#"
                               target="_blank">
                            生物组</a></li>

                        <li><a href="#"
                               target="_blank">
                            政治组</a></li>

                        <li><a href="#"
                               target="_blank">
                            历史组</a></li>

                        <li><a href="#"
                               target="_blank">
                            地理组</a></li>

                        <li><a href="#"
                               target="_blank">
                            音乐组</a></li>

                        <li><a href="#"
                               target="_blank">
                            体育组</a></li>

                        <li><a href="#"
                               target="_blank">
                            美术组</a></li>

                        <li><a href="#"
                               target="_blank">
                            信息技术</a></li>

                        <li><a href="#"
                               target="_blank">
                            通用技术</a></li>

                        <li><a href="#"
                               target="_blank">
                            研究性学习</a></li>

                    </ul>
                </div>
            </div>
            <!--学科建设 结束-->
        </div>
    </td>
</tr>

</tbody>
</table>


<div style="text-align:center;" class="footer">
    <br/>
    南京工业大学 版权所有 ©2014
    <br/>

</div>


</body>
</html>