<footer>
    <section id="footer-main">
        <div class="container">

            <div class="one-fourth column">
                <h4>关于我们</h4>
                <hr class="smalline"/>
                <p>绿荫工作室成立于2003年是由一群专业、独特的IT精英组成的软件工作室
                    <br/>
                    绿荫的团队精神：不断完善自强、坚毅、稳健、自信.
                </p>

                <div class="clear"></div>
                <!-- <a style="padding-top: 15px; display: block;" href="about.html"><i
                    class="icon-info-sign"></i> Read More </a> -->
            </div>

            <div class="one-fourth column">
                <h4>最新消息</h4>
                <hr class="smalline"/>
                <recentlist num='5' ul_attr='class="footer-recent-news"'></recentlist>

            </div>

            <div class="one-fourth column">
                <h4>友情链接</h4>
                <hr class="smalline"/>

                <friendlist num='10' tag="Home" ul_attr='id="footer-recent-news"' ></friendlist>

            </div>

            <div class="one-fourth column">
                <h4>联系方式</h4>
                <hr class="smalline"/>
                <ul class="getintouch">
                    <li><i class="icon-map-marker"></i><strong>地址: </strong>信息学院学办620</li>
                    <li><i class="icon-phone"></i><strong>QQ群: </strong>123085170</li>
                    <li><i class="icon-envelope"></i><strong>电子邮件: </strong>admin@njut.asia</li>

                </ul>
            </div>

        </div>
    </section>

    <section class="footer-bar">
        <div class="container">
            <div class="nine  columns">
                <div class="footer-logo">
                    <img src="__PUBLIC__/Vena/images/logo.png" alt="" title=""/>
                    <span>
						2003-{:date('Y')} © Copyright <a href="{:get_opinion('site_url')}">{:get_opinion('software_author')}</a>
						@ <a
                            href="http://www.njtech.edu.cn/">NJUT</a><br/> <br/>  &nbsp;&nbsp; &nbsp;   Powered By
						<a href="{:get_opinion('software_homepage')}">GreenCMS {:get_opinion('software_version')}</a>
						&nbsp;&nbsp;&nbsp;<a href="{:U('Admin/Index/index')}">管理入口</a>
                          <br/> <br/>
					</span>

                </div>
            </div>

            <div class="seven columns">
                <ul class="footer-links">
                    <li><a href="http://page.renren.com/601038207"><i class="icon-twitter"></i></a></li>
                    <li><a
                            href="https://www.facebook.com/pages/Green-Studio/504741962894684"><i
                            class="icon-facebook"></i></a></li>

                    <li><a href="#"><i class="icon-google-plus"></i></a></li>


                </ul>

            </div>
        </div>
    </section>
</footer>
<!-- ==================================================
Footer / End -->
{:get_opinion('foot')}