<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<!-- jQuery library -->
<script type="text/javascript" src="__PUBLIC__/share/js/jquery-1.9.0.min.js"></script>



<script type="text/javascript">
    var URL = "__URL__";
    var APP = "__APP__";
    var ROOT = "__ROOT__";
    var PUBLIC = "__PUBLIC__"+"/vena";
</script>


<!-- Scripts-->
<script type="text/javascript" src="__PUBLIC__/vena/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/vena/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="__PUBLIC__/vena/js/jquery.themepunch.revolution.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/vena/js/jquery.quovolver.js"></script>
 <script type="text/javascript" src="__PUBLIC__/vena/js/jquery.tooltipster.js"></script>
 <script type="text/javascript" src="__PUBLIC__/vena/js/jquery.isotope.min.js"></script>


<script type="text/javascript" src="__PUBLIC__/vena/js/jquery.jpanelmenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/vena/js/jquery.swipebox.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/vena/js/swipe.js"></script>
<script type="text/javascript" src="__PUBLIC__/vena/js/retina.js"></script>
<script type="text/javascript" src="__PUBLIC__/vena/js/custom.js"></script>


<!-- Style Files -->
<link rel="stylesheet" href="__PUBLIC__/vena/css/style.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="__PUBLIC__/vena/css/colors/1.css" id="color"/>


<script type="text/javascript" src="__PUBLIC__/vena/js/switcher.js"></script>