
<!-- Main Menu / Start
================================================== -->
<header class="menu">

	<div class="container">

		<!-- Mobile Only Menu Button  -->
		<a href="#menu" class="menu-trigger"><i class="icon-reorder"></i></a>

		<!-- Logo  -->
		<a class="logo" href="{:U('/')}"><img
			src="__PUBLIC__/vena/images/logo.png" alt="" title="" /></a>

		<!-- Navigation -->
		<nav>
			<ul class="navigation">
				<!-- <li class="search"><input class="searchform" type="search"
					value="" placeholder="Search" /></li>-->
				<li class="current"><a href="{:U('/')}">首页</a></li>

				<li><a href="{:getCatURLByID('15')}">科技新闻</a></li>
				<li><a href="" class="arrow">消息公告</a>
					<ul>
						<li><a href="{:getCatURLByID('17')}">作品发布</a></li>
						<li><a href="{:getCatURLByID('20')}">活动发布</a></li>
						<li><a href="{:getCatURLByID('16')}">公告发布</a></li>
					</ul></li>
				<li><a href="{:getCatURLByID('18')}">技术分享</a></li>

				<li><a href="{:getCatURLByID('19')}">成员介绍</a></li>


				<li><a href="#" class="arrow">归档</a>
					<ul>
						<li><a href="http://green.njut.edu.cn">旧版入口</a></li>
						<li><a href="{:U('Archive/single')}" class="arrow">所有文章</a>

							<ul>

								<volist name="posts" id="vo">
								<li><a href="{$vo.post_id|getSingleURLByID=single}">
										{$vo.post_title} </a></li>
								</volist>

							</ul></li>
						<li><a href="{:U('Archive/page')}" class="arrow">所有页面</a>

							<ul>

								<volist name="pages" id="vo">
								<li><a href="{$vo.post_id|getSingleURLByID=page}">
										{$vo.post_title} </a></li>
								</volist>

							</ul></li>



						<li><a href="#" class="arrow">所有分类</a>
							<ul>
								<volist name="cats" id="vo">
								<li><a href="{$vo.cat_id|getCatURLByID}">
										{$vo.cat_name} </a></li>
								</volist>
							</ul></li>


						<li><a href="#" class="arrow">所有标签</a>
							<ul>
								<volist name="tags" id="vo">
								<li><a href="{$vo.tag_id|getTagURLByID}">
										{$vo.tag_name} </a></li>
								</volist>
							</ul></li>



					</ul></li>


				<li><a href="" class="arrow">加入我们</a>
					<ul>
						<li><a href="{:getSingleURLByID('95','page')}">联系我们</a></li>
						<li><a href="{:U('Form/apply')}">加入我们</a>
					</ul></li>


			</ul>
		</nav>
	</div>
	<!-- End of container -->
</header>
<!-- Main Menu / End
================================================== -->