
<!-- STYLE SWITCHER / Start		   	  
=========================================== -->
<section id="style-switcher">
	<div>
	
		<h3>自定义你的主题</h3>
		<ul class="colors">
			<li><a href="#" class="color1 active"><img src="__PUBLIC__/vena/images/colors/1.png" alt="" /></a></li>
			<li><a href="#" class="color2"><img src="__PUBLIC__/vena/images/colors/2.png" alt="" /></a></li>
			<li><a href="#" class="color3"><img src="__PUBLIC__/vena/images/colors/3.png" alt="" /></a></li>
			<li><a href="#" class="color4"><img src="__PUBLIC__/vena/images/colors/4.png" alt="" /></a></li>
			<li><a href="#" class="color5"><img src="__PUBLIC__/vena/images/colors/5.png" alt="" /></a></li>
			<li><a href="#" class="color6"><img src="__PUBLIC__/vena/images/colors/6.png" alt="" /></a></li>
			<li><a href="#" class="color7"><img src="__PUBLIC__/vena/images/colors/7.png" alt="" /></a></li>
			<li><a href="#" class="color8"><img src="__PUBLIC__/vena/images/colors/8.png" alt="" /></a></li>
			<li><a href="#" class="color9"><img src="__PUBLIC__/vena/images/colors/9.png" alt="" /></a></li>
			<li><a href="#" class="color10"><img src="__PUBLIC__/vena/images/colors/10.png" alt="" /></a></li>
		</ul>

	</div>

	<div class="bottom">
		<a class="settings" href=""><img src="__PUBLIC__/vena/images/magic.png" alt="style it yourself!" /></a>
	</div>

</section>
<!-- STYLE SWITCHER / End		   	  
=========================================== -->