<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li><a href="{$module_url}">{$module}</a> <i
                                class="icon-angle-right"></i></li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box light-grey">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-globe"></i>{$action}
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="clearfix">
                                <div class="btn-group">
                                    <a href="{:U('Admin/Posts/addCategory')}">
                                        <button id="sample_editable_1_new" class="btn green">
                                            <i class="icon-plus"></i>添加新分类
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover"
                                   id="sample_1">
                                <thead>
                                <tr>
                                    <th style="width:8px;"><input type="checkbox"
                                                                  class="group-checkable"
                                                                  data-set="#sample_1 .checkboxes"/></th>
                                    <th >名称</th>
                                    <th align="left" class="tree">结构</th>
                                    <th>父类</th>
                                    <th>查看</th>
                                    <th>操作</th>

                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="category" item="v">
                                    <tr class="odd gradeX">
                                        <td style="width:8px;"><input type="checkbox" class="checkboxes" value="1"/>
                                        </td>
                                        <td><a href="{:U('Admin/Posts/editCategory', array('id' => $v['cat_id']))}"
                                                title="{$v.cat_name}">{$v.cat_name}</a></td>
                                        <td class="hidden-480"><a
                                                href="{:U('Admin/Posts/editCategory', array('id' => $v['cat_id']))}">{$v.cat_slug}</a>
                                        </td>
                                        <td>{$v['cat_father']['cat_name']|is_empty} &nbsp;</td>

                                        <td>
                                            <a class="btn mini green" href="{:U('Admin/Posts/index', array('cat' => $v['cat_id']))}">查看分类文章</a>
                                        </td>
                                        <td>
                                            <a class="btn mini" href="{:U('Admin/Posts/editCategory', array('id' => $v['cat_id']))}">编辑</a>
                                            <a class="btn mini red" href="{:U('Admin/Posts/delCategory', array('id' => $v['cat_id']))}">删除</a>

                                        </td>


                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>
    jQuery(document).ready(function () {
        App.init();
        TableManaged.init();
    });
</script>
</body>
<!-- END BODY -->
</html>