<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>安装程序 -- GreenCMS</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="'GreenCMS" name="description"/>
    <meta content="GreenCMS" name="keywords"/>
    <include file="Public:head"/>

    <style>.copyright .copy_title {
        text-align: center;
    }

    .copyright .agreement {
        margin: 10px auto auto 40px;
    }</style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
        <div class="container-fluid">
            <!-- BEGIN LOGO -->
            <a class="brand" href="{:U('Home/Index/index')}">
                <img src="__PUBLIC__/admin/assets/img/logo.png" alt="logo"/>
            </a>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <img src="__PUBLIC__/admin/assets/img/menu-toggler.png" alt=""/>
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->

            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar nav-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <!-- <div class="sidebar-toggler hidden-phone"></div> -->
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li class="start active">
            <a href="javascript:;">
                <i class="icon-home"></i><span class="title">安装程序</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li class=""><a>使用协议书</a></li>
                <li class="active"><a>环境测试</a></li>
                <li class=""><a>网站设置</a></li>
                <li class=""><a>安装</a></li>
                <li class=""><a>安装完成</a></li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
<!-- BEGIN PAGE -->
<div class="page-content">
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            安装程序
            <small>&nbsp;&nbsp;GreenCMS</small>
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="">安装程序</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="">使用协议书</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="">环境测试</a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row-fluid profile">
    <div class="span12">
        <!--BEGIN TABS-->
        <div class="tabbable tabbable-custom tabbable-full-width">
            <div class="tab-content">
                <div class="tab-pane row-fluid active" id="tab_1_1">
                    <div class="span9">
                        <div class="portlet box light-grey">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-globe"></i>服务器信息
                                </div>
                            </div>
                            <div class="portlet-body">
                                <form method="post">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th class="hidden-240">参数</th>
                                            <th class="hidden-240">值</th>
                                        </tr>
                                        </thead>
                                        <tbody id="server_info">
                                        <tr>
                                            <td><strong>服务器域名</strong></td>
                                            <td>{$sp_name}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>服务器操作系统</strong></td>
                                            <td>{$os_name}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>服务器解译引擎</strong></td>
                                            <td>{$server_software}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>PHP版本</strong></td>
                                            <td>{$php_version}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>系统安装目录</strong></td>
                                            <td>{$web_root}</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </form>
                            </div>

                        </div>
                        <!--end span9-->
                    </div>
                    <!--end tab-pane-->
                    <div class="tab-pane row-fluid active" id="tab_1_2">
                        <div class="span9">
                            <div class="portlet box light-grey">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-globe"></i>系统环境检测
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <form method="post">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th class="hidden-240">需开启的变量或函数</th>
                                                <th class="hidden-240">要求</th>
                                                <th class="hidden-240">实际状态及建议</th>
                                            </tr>
                                            </thead>
                                            <tbody id="system_env">
                                            <tr>
                                                <td>safe_mode</td>
                                                <td align="center">Off</td>
                                                <td><?php echo $sp_safe_mode; ?>
                                                    <small>(本系统不支持在<span class="STYLE2">非win主机的安全模式</span>下运行)</small>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>GD 支持</td>
                                                <td align="center">On</td>
                                                <td>{$sp_gd}
                                                    <small>(不支持将导致与图片相关的大多数功能无法使用或引发警告)</small>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>MySQL 支持</td>
                                                <td align="center">On</td>
                                                <td>{$sp_mysql}
                                                    <small>(不支持无法使用本系统)</small>
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </form>


                                </div>

                            </div>
                            <!--end span9-->
                        </div>
                        <!--end tab-pane-->
                        <div class="tab-pane row-fluid active" id="tab_1_3">
                            <div class="span9">
                                <div class="portlet box light-grey">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-globe"></i>目录权限检测
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <form method="post">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th class="hidden-240">目录名</th>
                                                    <th class="hidden-240">读取权限</th>
                                                    <th class="hidden-240">写入权限</th>
                                                </tr>
                                                </thead>
                                                <tbody id="dir_mod">
                                                <?php
																foreach($sp_testdirs as $d)
																{
															?>
                                                <tr>
                                                    <td><?php echo $d; ?></td>
                                                    <?php
 														      		$fulld = $web_root.str_replace('/*','',$d);

														      		$rsta = (is_readable($fulld) ? '<font color=green>
                                                    [√]读</font>' : '<font color=red>[×]读</font>');
                                                    $wsta = (TestWrite($fulld) ? '<font color=green>[√]写</font>' :
                                                    '<font color=red>[×]写</font>');
                                                    echo "
                                                    <td>$rsta</td>
                                                    <td>$wsta</td>
                                                    \r\n";
                                                    ?>
                                                </tr>
                                                <?php
																}
															?>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                            <div class="form-actions" style="text-align: center">
                                                <div class="span4">
                                                    <button type="button" class="btn green btn-next">
                                                        <i class="m-icon-swapright m-icon-white"></i>继续
                                                    </button>
                                                </div>
                                                <div class="span4">
                                                    <button type="button" class="btn red btn-back">
                                                        <i class="m-icon-swapright m-icon-white"></i>
                                                        后退
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                                <!--end span9-->
                            </div>
                            <!--end tab-pane-->
                        </div>
                    </div>
                    <!--END TABS-->
                </div>
            </div>
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
</div>

</div>
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="footer-inner">
        &copy; 2014. Powered By GreenCMS
    </div>

</div>
<!-- END FOOTER -->
<include file="Public:foot"/>

<script>
    jQuery(document).ready(function () {
        $('.btn-next').click(function () {
            window.location.href = '{:U("Install/Index/step3")}';
        });
        $('.btn-back').click(function () {
            window.location.href = '{:U("Install/Index/step1")}';
        });
    });
</script>
</body>
<!-- END BODY -->
</html>