<table width="924" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td height="2" align="center" valign="top" bgcolor="#FFFFFF"></td>
    </tr>
    <tr>
        <td height="82" align="center" valign="top" bgcolor="#9B0000">
            <table width="98%" border="0" align="center" cellpadding="2" cellspacing="2">
                <tr>
                    <td width="100%" align="center" valign="top" background="__PUBLIC__/Xsc/zel/image/bottombg.gif">
                        <font color="#ffffff">南京工业大学学生工作部(处)&copy;版权所有 ©{:date('Y')}<br/>

                            <a href="{:U('Admin/index/index')}" target="_blank"><img src="__PUBLIC__/Xsc/zel/image/gly.gif" width="20" height="20" border="0" align="absmiddle"/></a>
                        </font></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

