<link href="__PUBLIC__/Xsc/zel/image/ds.css" rel="stylesheet" type="text/css" media= "all " />
<style type="text/css">
    <!--
    .STYLE1 {
        color: #FFFFFF;
        font-weight: bold;
    }



    .footlist {
        text-align: center;
        width: 400px;
        margin: 20px auto;
    }

    .footlist li {
        display: inline;
        margin: 5px;
    }

    .footlist a {
        font-size: 16px;
        /*display: block;*/
        border: solid 1px #12870b;
        color: #237823;
        text-decoration: none;
        padding: 4px 8px;

    }


    .breadcrumbs {
        margin-bottom: 40px;
        /*margin-left: 65px;*/
    }

    .breadcrumbs li {
        float: left;
        font-size: 18px;
    }

    .breadcrumbs li a {
        float: left;
        font-size: 18px;
    }


    -->
</style>

<!-- jQuery library -->
<script type="text/javascript" src="__PUBLIC__/share/js/jquery-1.9.0.min.js"></script>