<div class="headerwrap">
    <div class="header" style=" margin: 0px auto !important;">
        <div class="left">
            <script language="JavaScript">
                <!--
                var enabled = 0;
                today = new Date();
                var day;
                var date;
                if (today.getDay() == 0) day = "星期日"
                if (today.getDay() == 1) day = "星期一"
                if (today.getDay() == 2) day = "星期二"
                if (today.getDay() == 3) day = "星期三"
                if (today.getDay() == 4) day = "星期四"
                if (today.getDay() == 5) day = "星期五"
                if (today.getDay() == 6) day = "星期六"
                date1 = (today.getFullYear()) + "年" + (today.getMonth() + 1 ) + "月" + today.getDate() + "日 ";
                date2 = day;
                document.write(date1);//.fontsize为定义字号
                document.write(date2);
                //----->
            </script>

        </div>
        <div class="right">
            <a href="http://www.njtech.edu.cn/" target="_blank">学校首页</a>
            <a href="#" target="_blank">旧版主页</a>


        </div>
    </div>
    <div class="logoarea">
        <a class="logo" href="{:U('Home/Index/index')}"><img src="__PUBLIC__/Xsc/images/logo.png" alt=""></a>
    </div>
</div>

<div class="green_nav" style=" ">

    <div class="head-nav">
        {$home_menu}
    </div>

</div>





