<div class="head-nav">
    {$home_menu}
</div>


<!--   <div class="head-nav">


            <ul id="headerlist" class="first-menu">
                <li><a>首页</a></li>
                <li><a href="#">部门简介</a>
                    <ul style="display: none;" class="second-menu">
                        <li><a href="#" class="heads">部门职责</a>
                        </li>
                        <li><a href="#" class="heads">机构设置</a>

                        </li>
                        <li><a href="#" class="heads">科室工作</a>
                        </li>
                        <li><a href="#" class="heads">服务公约</a>
                        </li>
                        <li><a href="#" class="heads">部门荣誉</a>
                        </li>
                    </ul>
                </li>


            </ul>

        </div>-->