<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->

        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <h4>数据库中共有{$tables}张表，共计{$total}</h4>
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <form method="post" action="{$formUrl}">
                        <table
                                class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="width: 8px;">选择</th>
                                <th>表名</th>
                                <th class="hidden-240">表用途</th>
                                <th class="hidden-480">记录行数</th>
                                <th class="">引擎类型</th>
                                <th class="">字符集</th>
                                <th class="">表大小</th>
                            </tr>
                            </thead>
                            <tbody id="cache_table">
                            <volist name="list" id="tab">
                                <tr align="center">
                                    <td><input type="checkbox" class='groupclass' name="table[]" value="{$tab.Name}"/>
                                    </td>
                                    <td align="left">{$tab.Name}</td>
                                    <td>{$tab.Comment}</td>
                                    <td>{$tab.Rows}</td>
                                    <td>{$tab.Engine}</td>
                                    <td>{$tab.Collation}</td>
                                    <td>{$tab.size}</td>
                                </tr>
                            </volist>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="form-actions" style="text-align: center">
                            <div class="span4">
                                <button type="submit" class="btn green">
                                    <i class="m-icon-swapright m-icon-white"></i>开始备份
                                </button>
                            </div>

                            <div class="span2">
                                <button type="button" class="btn" id="checkall">全选</button>
                            </div>
                            <div class="span2">
                                <button type="button" class="btn red" id="check_cancel">取消</button>
                            </div>
                            <div class="span2">
                                <button type="button" class="btn blue" id="check_reverse">反选</button>
                            </div>
                        </div>

                    </form>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>
    jQuery(document).ready(function () {
        $("#cache_table :checkbox").attr("checked", true);

        App.init();
        TableManaged.init();

        $("#checkall").click(function () { //":checked"匹配所有的复选框
            $("#cache_table :checkbox").attr("checked", true); //"#div1 :checked"之间必须有空格checked是设置选中状态。如果为true则是选中fo否则false为不选中
            $("span").addClass("checked");
        });
        $("#check_cancel").click(function () {
            $("#cache_table :checkbox").attr("checked", false);
            $("span").removeClass("checked");
        });
        //理解用迭代原理each（function(){}）
        $("#check_reverse").click(function () {
            $("#cache_table :checkbox").each(function () {

                $(this).attr("checked", !$(this).attr("checked"));
                $(this).parentsUntil('div').toggleClass("checked");


                //!$(this).attr("checked")判断复选框的状态：如果选中则取反
            });
        });
    });
</script>
</body>
<!-- END BODY -->
</html>