<!--导航栏-->
<div class="nav">



    <!--<ul>-->
        <!--<li><a href="{:U('Index/index')}" >首&nbsp;页</a></li>-->
        <!--<li><a href="{:getSingleURLByID(106,'page')}" >关于我们</a></li>-->
        <!--<li><a href="#" >工大党校</a></li>-->
        <!--<li><a href="#" >组织建设</a></li>-->
        <!--<li><a href="#" >基层党建</a></li>-->
        <!--<li><a href="#" >先进典型</a></li>-->
        <!--<li><a href="#" >干部工作</a></li>-->
        <!--<li><a href="#" >文件汇编</a></li>-->
        <!--<li><a href="#" >入党导航</a></li>-->
        <!--<li><a href="#" >在线培训</a></li>-->
        <!--<li><a href="#" >满意组工</a></li>-->
        <!--<li><a href="#" >在线培训</a></li>-->
    <!--</ul>-->



    <ul>
        <volist name="home_menu" id="menu_item">
            <li><a href="{$menu_item['menu_abs_url']}">{$menu_item['menu_name']}</a></li>
        </volist>


    </ul>





</div>

