<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<html>
<head>
    <title>{$post['post_title']} -- {:C('title')}</title>
    <meta charset="utf-8"/>
    <include file="Public:head"/>
</head>

<body>
{:W('Common/mainMenu')}

<div class="content">

    <div class="title" style="text-align:center;margin-top:20px;font-size:30px">
        {$post['post_title']}
    </div>

    <br/>
    <br/>

    <div class="article">
        {$post['post_content']}
    </div>

</div>

    <include file="Public:foot"/>

</body>
</html>