<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> {$post.post_title}|{:get_opinion('title')} </title>
    <meta name="description" content="{:get_opinion('description')}">
    <meta name="keywords" content="{:get_opinion('keywords')}"/>
    <meta name="author" content="greenstudio"/>

    <meta name="viewport" content="width=device-width">

    <include file="Public:head"/>
    <style>.thumbnail > img {
        max-width: 50%;
    }</style>
    {:hook('pageHeader', "")}

</head>

<body>
{:hook('userHeader', "")}
{:W('Widget/menuHead')}


<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <h1>{$post.post_title}</h1>
            </div>

        </div>
    </div>
</section>
<!-- / .title -->

<section class="container">


    <section id="about-us" class="container main">
        <div class="row-fluid">
            <div class="span12">
                <div class="blog">


                    {:hook('Guestbook', $post)}


                </div>
            </div>

        </div>

    </section>


</section>


<include file="Public:bottom"/>

<include file="Public:footer"/>

<include file="Public:foot"/>
{:hook('pageFooter', "")}

</body>
</html>