<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{:get_opinion('title')} </title>
    <meta name="description" content="{:get_opinion('keywords')}"/>

    <include file="Public:head"/>


</head>
<body>
{:W('Common/mainMenu')}


<table width="924" height="690" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>


{:W('Widget/siderbar1')}




<td align="center" valign="top" bgcolor="#F8E4E4">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
    <td width="100%" height="38" valign="top" bgcolor="#F8E4E4">
        <table width="90%" border="0" cellspacing="3" cellpadding="3">
            <tr>

                <td width="100%">


                    {$breadcrumbs}


                    <!--<a href="index.asp">首页</a> <img src="__PUBLIC__/Xsc/zel/image/dot_dou.gif" width="7" height="7"/>-->
                    <!--<a href=javascript:void(0); target=_self>发展与服务</a> <img src=image/dot_dou.gif> <a href=zelb.asp-->
                                                                                                      <!--target=_self>周恩来班</a>-->
                    <!--<img src=image/dot_dou.gif> <a href=zelb_list.asp?class=95 target=_self>新闻动态</a>-->


                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
<td>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td height="30" valign="top">
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">






    <volist name="postslist" id="post" empty="没有相关文章.."> <!-- Post Start -->


        <tr>
            <td height="2" colspan="2" bgcolor="#ffffff"></td>
        </tr>
        <tr bgcolor="#FFFFFF" onMouseOver="style.backgroundColor='#E2F4FF'" onMouseOut="style.backgroundColor='#FFFFFF'">
            <td width="79%" height="28" valign="top">&nbsp;<img src="__PUBLIC__/Xsc/zel/image/menu_dot.gif" align="absmiddle"><a
                    href="{:U('Zel/Post/single',array('info' => $post['post_id']))}" target="_blank"
                    title="{$post['post_title']}"> {$post['post_title']|strip_tags|mb_substr=0,17,"UTF-8"}</a></td>
            <td width="21%" align="center" valign="top"><font color="#999999">{$post.post_date}</font></td>
        </tr>
        <tr>
            <td height="4" colspan="2" bgcolor="#ffffff"></td>
        </tr>
        <tr>
            <td height="1" colspan="2" background="__PUBLIC__/Xsc/zel/image/diandian.gif" bgcolor="#e9eff5"></td>
        </tr>

    </volist>



</table>


<div class="foot">
    <ul class="footlist">
        {$pager}
    </ul>
</div>


</td>
</tr>
</table>
<br></td>
</tr>

</table>
</td>
</tr>
</table>


<include file="Public:footer"/>

</div>

</body>
</html>