<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <h4>
                        当前版本{$versions["user_version"]} &nbsp; &nbsp; &nbsp; &nbsp;
                        最新版本{$versions["lastest_version"]}&nbsp; &nbsp; &nbsp; &nbsp;
                    </h4>
                    <br/>

                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="hidden-480">系统版本</th>
                            <th class="hidden-480">原始版本</th>
                            <th class="hidden-480">发布时间</th>
                            <th class="hidden-480">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="versions['file_list']" item="v">
                            <tr>
                                <td class="hidden-480">{$v.version}</td>
                                <td class="hidden-480">{$v.build_from}</td>
                                <td class="hidden-480">{$v.version}</td>
                                <td class="hidden-480">

                                    <if condition="($v.build_from eq $versions['user_version'] ) ">
                                        <a class="btn mini green" href="{:U('Admin/System/updateHandle', array('version' => $v['version']))}">立即开始升级</a>
                                        &nbsp;&nbsp;&nbsp;
                                        <else/>
                                        <a class="btn mini red">不可从此版本升级</a>
                                        &nbsp;&nbsp;&nbsp;

                                    </if>


                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
</body>
<!-- END BODY -->
</html>
