<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<html>
<head>
    <title>{$title} -- {:C('title')}</title>
    <meta charset="utf-8"/>
    <include file="Public:head"/>
</head>

<body>
{:W('Common/mainMenu')}

<div class="content content-grey">
	<div class="content-container">

        <div class="left-nav">
            <h3> 没有子分类 </h3>

        </div>
	<div class="content-thin content-with-left-nav">
    <div class="title">
        当前位置：

        {$breadcrumbs}



    </div>


    <div class="article article-list">


        <div class="three_fourth column">

            <!-- -->
            <if condition="$res404 eq 0 ">
                <div class="post">
                    <div class="post-content medium clearfix">
                        没有相关文章
                        <div class="ten columns omega"></div>
                    </div>
				</div>

            </if>


            <volist name="postslist" id="post" empty="没有相关文章.."> <!-- Post Start -->
                <div class="post">

                    <div class="post-content medium clearfix">

                        <div class="eleven columns omega">
                            <!-- Title -->
                            <h2>
                                <a href="{$post.post_id|getSingleURLByID=$post['post_type']}">
                                    {$post.post_top|is_top}{$post.post_title}</a>                                                                          <a style="float:right">   {$post['post_date']}</a>                                        
                            </h2>

                            <!-- Meta -->
                            <div class="meta clearfix"><!--
								<span><img src="__PUBLIC__/Vena/images/icons/calendar.png"
                                           alt="date"/>  {$post['post_date']}</span>  -->                                     <!--<span><img
                                    src="__PUBLIC__/Vena/images/icons/user.png" alt="author"/> 作者 : <a
                                    href="{$post.post_user.user_url}">{$post.post_user.user_nicename}</a></span>
								<span><img src="__PUBLIC__/Vena/images/icons/ribbon.png"
                                           alt="cat"/> 分类 : <volist name="post.post_cat" id="cat"><a
                                        href="{$cat.cat_id|getCatURLByID}">{$cat.cat_name}</a>,
                                </volist></span>  </span>  -->
                               
                            </div>
                            <!-- Content
                            <p>{$post.post_content|strip_tags|mb_substr=0,200,"UTF-8"}</p>
 -->
                            <!-- Read More
                            <a href="{$post.post_id|getSingleURLByID=$post['post_type']}" class="btn continue">阅读全文>></a>
 -->
                        </div>
                    </div>

                </div>
                <!-- Post End --> </volist>

        </div>
            <!-- Navigation -->
            <div class="blog-navi nomargin">

                <ul>{$pager}
                </ul>
            </div>

</div>
    </div>
    
	</div>
</div>
    <include file="Public:foot"/>
</body>
</html>