<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">

                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <form action="{$form_action}" name="change_System" class="form-horizontal"
                          method="post">

                        <div class="control-group">
                            <label class="control-label">action_type</label>

                            <div class="controls">
                                <input type="text" placeholder="action_type" class="m-wrap large" name="action_type" value="{$item.action_type}">
                                <span class="help-inline">可选:text,click</span>
                            </div>

                        </div>

                        <div class="control-group">
                            <label class="control-label">action_name</label>

                            <div class="controls">
                                <input type="text" placeholder="action_name"
                                       class="m-wrap large" name="action_name" value="{$item.action_name}">
                                <span class="help-inline">关键字或者是按钮id</span>

                            </div>

                        </div>

                        <div class="control-group">
                            <label class="control-label">reply_type</label>

                            <div class="controls">
                                <input type="text" placeholder="reply_type" class="m-wrap large" name="reply_type" value="{$item.reply_type}">

                                <span class="help-inline">可选image,news,text</span>

                            </div>

                        </div>

                        <div class="control-group">
                            <label class="control-label">reply_id</label>

                            <div class="controls">
                                <input type="text" placeholder="reply_id" class="m-wrap large" name="reply_id" value="{$item.reply_id}">
                                <span class="help-inline">回复消息的ID <a href="{:U('Weixin/Reply/index')}" target="_blank">点击这里查看ID</a> </span>

                            </div>

                        </div>


                        <div class="form-actions">
                            <button type="submit" class="btn blue"><i class="icon-ok"></i>{$action_name}</button>
                        </div>

                    </form>


                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
</body>
<!-- END BODY -->
</html>
