<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">

                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <form action="{$form_action}" name="change_System" class="form-horizontal"
                          method="post">

                        <div class="control-group" >
                            <label class="control-label">事件类型</label>

                            <div class="controls">


                                <select class="small m-wrap" tabindex="1" name="action_type" id="action_type" >
                                    <option value="text"
                                    <php>
                                        if($item['action_type']=='text')
                                        echo 'selected="selected"';
                                    </php>
                                    >文字</option>
                                    <option value="click"
                                    <php>
                                        if($item['action_type']=='click')
                                        echo 'selected="selected"';
                                    </php>
                                    >菜单点击</option>
                                </select>


                            </div>

                        </div>

                        <div class="control-group" id='key'>
                            <label class="control-label">按键</label>

                            <div class="controls">

                                <select class="small m-wrap" tabindex="1" name="action_name_key">
                                    {$buttom_option}
                                </select>

                                <span class="help-inline">仅在选择菜单条件下有效</span>

                            </div>
                        </div>

                        <div class="control-group" id='keyword'>
                            <label class="control-label">关键字</label>

                            <div class="controls">
                                <input type="text" placeholder="action_name"
                                       class="m-wrap large" name="action_name_keyword" value="{$item.action_name}">
                                <span class="help-inline">仅在选择关键字条件下有效</span>

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">回复类型</label>

                            <div class="controls">
                                <select class="small m-wrap" tabindex="1" name="reply_type">

                                    <option value="news"
                                    <php>
                                        if($item['reply_type']=='news')
                                        echo 'selected="selected"';
                                    </php>
                                    >图文</option>
                                    <option value="image"
                                    <php>
                                        if($item['reply_type']=='image')
                                        echo 'selected="selected"';
                                    </php>
                                    >图片</option>
                                    <option value="text"
                                    <php>
                                        if($item['reply_type']=='text')
                                        echo 'selected="selected"';
                                    </php>
                                    >文字</option>
                                </select>
                            </div>

                        </div>

                        <div class="control-group">
                            <label class="control-label">预设定消息的ID</label>

                            <div class="controls">
                                <input type="number" placeholder="reply_id" class="m-wrap large" name="reply_id" value="{$item.reply_id}">
                                <span class="help-inline">预设定消息的ID <a href="{:U('Weixin/Reply/index')}" target="_blank">点击这里查看ID</a> </span>

                            </div>

                        </div>


                        <div class="form-actions">
                            <button type="submit" class="btn blue"><i class="icon-ok"></i>{$action_name}</button>
                        </div>

                    </form>


                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script>
    jQuery(document).ready(function () {
        App.init();

        var action_type=$('#action_type option:selected').val();
        if(action_type=='text'){
            $('#key').fadeOut();
            $('#keyword').fadeIn();

        } else if(action_type=='click'){
            $('#key').fadeIn();
            $('#keyword').fadeOut();

        }

        $('#action_type').change(function(){
            var action_type=$('#action_type option:selected').val();

            if(action_type=='text'){
                $('#key').fadeOut();
                $('#keyword').fadeIn();

            } else if(action_type=='click'){
                $('#key').fadeIn();
                $('#keyword').fadeOut();

            }
        });

    });


</script>
</body>
<!-- END BODY -->
</html>
