<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="zh-CN">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="zh-CN">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title> {$post.post_title}|{:get_opinion('title')} </title>
    <meta name="description" content="{:get_opinion('description')}"/>
    <meta name="author" content="{$post.post_user.user_nicename}"/>
    <meta name="keywords" content='{:get_opinion("keywords")},<volist name="post.post_tag" id="tag">{$tag.tag_name}, </volist>'/>

    <include file="Public:head"/>

</head>

<body class="home blog custom-font-enabled single-author">
<div id="page" class="hfeed site">
    <header id="masthead" class="site-header" role="banner">
        <hgroup>
            <h1 class="site-title">
                <a href="{:get_opinion('site_url')}" title="Green" rel="home">{:get_opinion('title')}</a></h1>

            <h2 class="site-description">{:get_opinion('description')}</h2>
        </hgroup>

        <nav id="site-navigation" class="main-navigation" role="navigation">
            <h3 class="menu-toggle">菜单</h3>
            <a class="assistive-text" href="#content" title="跳至内容">跳至内容</a>
            {:W('Common/mainMenu')}
        </nav>
        <!-- #site-navigation -->

    </header>
    <!-- #masthead -->

    <div id="main" class="wrapper">
        <div id="primary" class="site-content">
            <div id="content" role="main">


                <article id="post-{$post.post_id}" class="post-{$post.post_id} post type-post status-publish format-standard">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="{$post.post_id|getSingleURLByID=$post['post_type']}" title=" {$post.post_top|is_top}{$post.post_title}" rel="bookmark">
                                {$post.post_top|is_top}{$post.post_title}</a>
                        </h1>

                    </header>
                    <!-- .entry-header -->

                    <div class="entry-content">
                        <p>{$post.post_content}</p>
                    </div>
                    <!-- .entry-content -->
                    <footer class="entry-meta">
                        本条目发布于
                        <a href="{$post.post_id|getSingleURLByID=$post['post_type']}" title="上午 4:23" rel="bookmark">
                            <time class="entry-date" datetime="{$post['post_date']}">
                                {$post['post_date']|getTimeURL=$post['post_type']}
                            </time>
                        </a>。属于
                        <volist name="post.post_cat" id="cat" empty="无分类..">
                            <a href="{$cat.cat_id|getCatURLByID}">{$cat.cat_name}</a>,
                        </volist>
                        分类 。标签：
                        <volist name="post.post_tag" id="tag" empty="无标签.">
                            <a href="{$tag.tag_id|getTagURLByID}">{$tag.tag_name}</a>,
                        </volist>
                            <span class="by-author">作者是 <span class="author vcard">
                            <a class="url fn n" href="{$post.post_user.user_url}" rel="author">{$post.post_user.user_nicename}</a></span>  。</span>

                    </footer>
                    <!-- .entry-meta -->
                </article>
                {:hook('documentDetailAfter', $post)}

                <!-- #post -->
            </div>


            <!-- #content -->
        </div>
        <!-- #primary -->

        <div id="secondary" class="widget-area" role="complementary">


            {:W('Widget/search')}
            {:W('Widget/tag')}

            {:W('Widget/categories')}
            {:W('Widget/aboutus')}


        </div>
        <!-- #secondary -->
    </div>
    <!-- #main .wrapper -->
    <include file="Public:footer"/>
    <!-- #colophon -->
</div>
<!-- #page -->

<script type='text/javascript' src='__PUBLIC__/Twentytwelve/js/navigation.js'></script>
</body>
</html>