<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{$title}|{:get_opinion('title')}</title>
    <meta name="description" content="{:get_opinion('description')}"/>
    <meta name="keywords" content="{:get_opinion('keywords')}"/>
    <link href="__PUBLIC__/Xsc/static/list.css" rel="stylesheet" type="text/css">

    <include file="Public:head"/>

    <style type="text/css">


    </style>

</head>
<body>


{:W('Common/mainMenu',array('ul_attr'=>'class="menu"'))}

<div id="content" class="clearfix">


    <div class="left-nav">



        <div class="left-nav-item">
            <h3>
                <a href="{$children['cat_id']|getCatURLByID}"
                   title=" {$children['cat_name']}"
                        > {$children['cat_name']}</a>


            </h3>
            <ul>

                <volist name="children['cat_children']" id="cat_children" empty="没有子分类">
                    <li>
                        <a href="{$cat_children['cat_children']['cat_id']|getCatURLByID}"
                           title="{$cat_children['cat_children']['cat_name']}"
                                >{$cat_children['cat_children']['cat_name']}</a>
                    </li>
                </volist>

            </ul>
        </div>



        <include file="Public:hotlink"/>
        <include file="Public:search"/>


    </div>



    <div class="title">
        <h1 >{$title}</h1>

        <ul class="breadcrumbs">{$breadcrumbs}</ul>
    </div>


    <div class="article-list">

        <!-- Blog / Srart
        ================================================== -->
        <div class="Titlelists">


            <if condition="$res404 eq 0 ">

                <div class="Titlelist">

                    <h2>
                        没有相关文章
                    </h2>
                </div>


            </if>


            <volist name="postslist" id="post" empty="没有相关文章.."> <!-- Post Start -->

                <div class="Titlelist">
                    <div class="Titlename">
                        <!-- Title -->
                        <h2>
                            <a href="{$post.post_id|getSingleURLByID=$post['post_type']}">
                                {$post.post_top|is_top}{$post.post_title}
                            </a>
                        </h2>
                    </div>
                    <div class="Titletip">
                        <div style="margin: 10px 20px 15px 10px;">

                            <p>{$post.post_content|strip_tags|mb_substr=0,300,"UTF-8"}</p>
                        </div>

                        <div style="margin: 10px 20px 15px 10px;">
                            <span>
                                   分类:

                                <volist name="post.post_cat"
                                        id="cat"><a
                                        href="{$cat.cat_id|get_cat_url}">{$cat.cat_name}</a>
                                    &nbsp;, &nbsp;
                                </volist>

                                  发布时间:

                                <a>{$post['post_date']|getTimeURL=$post['post_type']}</a> </span>
                            <!-- Read More -->
                            <a href="{$post.post_id|getSingleURLByID=$post['post_type']}" class="continue">查看全文</a>

                        </div>
                    </div>

                </div>
                <hr/>


            </volist>


            <div class="foot">
                <ul class="footlist">
                    {$pager}
                </ul>
            </div>
        </div>


    </div>


</div>


<div style="clear:both;"></div>

<include file="Public:footer"/>

</body>
</html>