<div class="footer">
    <div class="footer-inner">
        <a href="http://www.greencms.net">GreenCMS v2 </a>
        {$footer_content}
    </div>
    <div class="footer-tools">
        <a href="http://green.njut.asia">Powered By GreenStudio</a>
    </div>


    <SCRIPT LANGUAGE=javascript>
        function  a_confirm() {
            var msg = "您真的确定要这样做么吗？\n\n请确认！";
            if (confirm(msg)==true){
                return true;
            }else{
                return false;
            }
        }
    </SCRIPT>


</div>
