<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$title}|{:get_opinion('title')}</title>
    <meta name="description" content="{:get_opinion('keywords')}"/>
    <include file="Public:head"/>
</head>

<body class="home blog">

<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="site-navigation-inner col-12">
                <div class="navbar">


                    <!-- Your site title as branding in the menu -->
                    <a class="navbar-brand" href="{:get_opinion('site_url')}" title="{:get_opinion('title')}" rel="home">
                        {:get_opinion('title')} </a>

                    <!-- The WordPress Menu goes here -->

                </div>
                <!-- .navbar -->
            </div>
        </div>
    </div>
    <!-- .container -->
</nav>
<!-- .site-navigation -->


<header id="masthead" class="site-header" role="banner">
    <div class="container">
        <div id="social">
        </div>
        <h1>{$title}</h1>
    </div>
</header>
<!-- #masthead -->

<div class="main-content">
    <div class="container" id="content">
        <div class="row">
            <div class="main-content-inner col-12 col-lg-8">

                <p>{$message}</p>

                <div class="clear"></div>



            </div>
            <!-- close .main-content-inner -->


            <!-- close .*-inner (main-content or sidebar, depending if sidebar is used) -->
        </div>
        <!-- close .row -->
    </div>
    <!-- close .container -->
</div>
<!-- close .main-content -->
<div id="primery-footer">
    <div class="container">
    </div>

</div>


<include file="Public:footer"/>

<!-- close #colophon -->


</body>
</html>