.article {
    color: #000000;
    width: 780px;
    margin: 0px auto;
    padding: 10px 20px 10px 20px;
    float: left;
    border-left: 1px solid #EBEBEB;

}

.article h1 {
    text-align: center;
    font-size: 26px;
    margin: 14px 0 14px 0;
}

.article p {
    color: #000000;

    text-align: left;
    font-size: 14px;
    line-height: 180%;
    text-indent: 28px;

}


.article span {
    color: #000000;

    font-size: 18px;
    line-height: 180%;

}


.article .main-info{
    width: 750px;
    margin: 0 auto;
}

.article .main-info .date {

    margin: 15px auto;
    width: 600px;
    text-align: center;
    color: #4C4B4B;
}
.article .main-info a {

    color: #4C4B4B;
}

.article h4 {
    padding-left: 10px;

    font-size: 16px;
}

.article h4 a {
    font-size: 16px;
}


.post-content{
    padding-bottom: 20px;
}