
html {
    /*background: url(./images/bg.gif) repeat;*/
    /*background-color: #f2f2f2;*/
    margin: 0;
    padding: 0;
    /*max-width: 1366px;*/

}

body {
    margin: 0 auto;
    min-height: 800px;
    width: 1050px;

    /*	background-color:#FFFFFF;*/
    font-size: 12px;
    color: #666666;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;

}

a {
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

a i {
    font-size: 12pt;
    width: 1em;
    font-weight: bold;
    color: #379adc;
}

ul {
    list-style: none;
}

img {
    border: 0 none;
}

.green_nav {
    /*background-image: url(../images/1/indexnav.png);*/
    background: #206EAB;

    /*width: 1050px*/
    /*width: 1140px;*/
    margin: 0 auto;
}

.head-nav {

    /*width: 1050px;*/
    width: 100%;
    margin: 0 auto;
}

#headerlist {
    z-index: 10;
    height: 37px;
    /*background: green;*/

    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}

#headerlist li ul {
    z-index: 10;
    width: 177px;
    display: none;
}

#headerlist li ul li {
    float: none;
}

* html #headerlist li ul li {
    display: inline;
}

#headerlist li ul a {
    float: none;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    text-transform: capitalize;
}

#headerlist .height-auto {
    line-height: 15px;
    padding: 5px 10px;
}

.second-menu {
    position: absolute;
}

.first-menu {
}

.first-menu li {
    z-index: 10;
    float: left;
    position: relative;
}

.first-menu a {
    z-index: 10;
    color: white;
    float: left;
    display: block;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    /*background: white;*/
    background-image: url(../images/1/indexnav.png);

    /*border-top: 1px solid green;*/
    /*border-left: 1px solid green;*/
    /*border-bottom: 1px solid green;*/
    /*border-right: 1px solid green;*/
    font-size: 1.5em;
}

.first-menu a:hover {
    z-index: 10;
    background: #4698ca;
    border-top: 1px solid #5db1e0;
    border-left: 1px solid #5db1e0;
}

.first-menu li ul li a {
    background: white;
    color: #272727;

}

.second-menu {
    z-index: 10;
    top: 37px;
    left: 0;
    padding-left: 0;
}

* html .second-menu {
    right: -1px;
}

#sub {
    z-index: 10;
    width: 177px;
}

.center_middle {
    /*width: 1050px;*/
    /*height: 255px;*/
    /*width: 92%;*/
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

    display: inline;
}

.center_middle .left_half {
    padding-right: 25px;
    /*padding-left: 1%;*/
    margin-top: 10px;
    width: 375px;
    /*height: 255px;*/
    float: left;
    /*    border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;*/

}

.left_half:hover > .header .header_info {
    color: #066400;

}

.left_half:hover > .body {
    background-color: #fefefe;
}

.left_half .header {
    width: 100%;
    height: 40px;
    float: left;
    border-top: solid #3686be;
    border-bottom: solid 1px #3686be;
    /*background-color: #eaeaea;*/

}

.left_half .header .header_info {
    padding-left: 24px;
    margin-top: 5px;
    font-size: 20px;
    color: #1b58b8;
}

.left_half .header img {
    width: 35px;
    float: left;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 5px;
}

.left_half .header a {
    margin-top: 14px;
    margin-right: 20px;
    float: right;
    color: #1b58b8;
    font-size: 18px;
}

.left_half .body {
    width: 100%;

    float: left;
    /*height: 180px;*/
    background-color: #ffffff;

}

.left_half .body ul {
    /*padding-left: 10px;*/
    margin: 0 auto;

}

.left_half .body ul li {

    height: 30px;
    border-bottom: 1px dashed #d8d8d8;
    line-height: 30px;
    color: #676767;
    font-size: 12px;
    list-style: none;

    /*width: 97%;*/
    overflow: hidden;
}

.left_half .body ul li span {
    float: right;
    padding-right: 15px;
    line-height: 35px;
}


.left_half .body ul li a:hover {
    color: #0a5ab3;
}

.cright {
    width: 325px;
    height: 254px;
    float: right;
    margin-right: 2px;
    border-top: solid #2957a2;
    background-color: #f4f4f4;

    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.cright .header {
    width: 325px;
    height: 57px;
    float: left;

}

.cright .header a {
    margin-top: 20px;
    color: #2957a2;
    float: right;
    font-size: 20px;
    margin-right: 20px;
}

.cright .header .header_info {
    padding-left: 28px;
    color: #2957a2;
    font-size: 20px;
    margin-top: 20px;
}

.cright .body {
    float: left;
    width: 100%;
    background-color: #ffffff;

}

#c4_right_1 a {
    margin-top: 20px;
    float: right;
    color: #2957a2;
    font-size: 20px;
    margin-right: 20px;
}

#c4_right_1 .header_info {
    padding-left: 28px;
    color: #2957a2;
    font-size: 20px;
    margin-top: 20px;

}

#c4_right_2 ul {
    margin: 0 auto;
    /*width:  80%;*/

    padding-left: 0px;

    display:inline-block;white-space:nowrap;*display:inline;

    /*_margin: 8px 5px;*/
}

#c4_right_2 ul li {

    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -ms-transition-duration: 0s;

    height: 60px;

    width: 240px;
    text-align: center;

    /*background-color: #1967ae;*/

    /*height: 30px;*/


    margin: 8px 5px;

    /*padding: 10px;*/

    /*border: 2px solid #1967ae;*/
    background-color: #CECFCF;

    display:inline-block;vertical-align:top;*display:inline;*zoom:1;

}

#c4_right_2 ul li a {

    font-size: 18px;
    line-height: 30px;

    display: block;
    color: #383838;

    /*
        color: #1967ae;
    */
    text-decoration: none;
}

#c4_right_2 ul:hover {
    color: #ffffff;
}

#c4_right_2 ul li:hover {

    background-color: #266bae;
    color: #ffffff;
}

#c4_right_2 ul li a:hover {
    /*color: #d3d1c0;*/
    color: #ffffff;

    text-decoration: none;
}

.headerwrap {
    /*width: 1050px*/

    /*width: 1140px;*/
    margin: 0 auto;

    /*height: 140px;*/
    overflow: hidden;
    /*background: RGB(25, 103, 175) url(../images/1/headerbg.png) no-repeat center top;*/
    /*background: RGB(25, 103, 175) url(../images/1/headerbg.png) no-repeat center top;*/
    /*background: #56abee  url(../images/1/headbg-3.jpg) no-repeat center top;;*/
    /*background: #22427f;*/
}

.headerwrap .header {
    /*width: 940px;*/
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    /*color: #ced7ce;*/

    background: #eeeeee;


    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ececec',endColorStr='#e4e4e4',gradientType=1);

    background: -moz-linear-gradient(left, #ececec, #e4e4e4);

    background: -o-linear-gradient(left,#ececec, #e4e4e4);

    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#ececec), to(#e4e4e4));



}

.header .center_middle {
    float: left;
    display: inline;
}

.header .left {
    float: left;
    display: inline;;
    font-size: 13px;
    margin-left: 10px;
}

.header .right {
    float: right;
    display: inline;;
    font-size: 13px;
    margin-right: 10px;
}

.header .right .userarea {
    display: inline-block;
    text-indent: 8px;
    color: #fff3d8;
    font-weight: bold;

    /*width: 60px;*/
    height: 24px;
    margin-top: 5px;
    line-height: 24px;
    margin-left: 5px
}

.header .right a {
    /*color: #ced7ce;*/
    margin: 0 5px;
}

.header .right a:hover {
    color: #fff;
}

.headerwrap .logoarea {
    height: 130px;
    /*width: 940px;*/
    /*width: 80%;*/
    width: 100%;

    /*background-color: #379be9;*/
    margin: 0 auto;
    /*overflow: hidden;*/
    background-image: url('../images/banner3.png');
}

.headerwrap .logoarea .logo {
    width: 400px;
    float: left;
    display: block;
    /*margin: 5px auto 0;*/

}

.headerwrap .logoarea .logo img {
    padding-left: 10px;
    padding-top: 20px;
    /* height: 110px; */
}

.headerwrap .logoarea .searcharea {
    float: right;
    display: inline;
    margin-top: 40px;
    width: 318px;
}

.headerwrap .logoarea .searchdiv {
    height: 30px;
    float: right;
    display: inline;
}

.headerwrap .logoarea .searchdiv .en {
    position: relative;
    float: left;
    display: inline;
    line-height: 30px;
    color: #fff;
    padding-right: 20px
}

.headerwrap .logoarea .searchdiv .en a {
    color: #fff;
    font-size: 14px;
    font-weight: bold
}

.headerwrap .logoarea .searinput {
    width: 150px;
    height: 28px;
    overflow: hidden;
    border: 1px solid #fff;
    background: #fff;
    position: relative;
    float: left;
    display: inline;
}

.headerwrap .logoarea .searchinput {
    width: 110px;
    padding-left: 10px;
    height: 26px;
    border: 1px solid #fff;
    background: #fff;
    outline: none;
    font-size: 12px;
    line-height: 26px;
}

.headerwrap .logoarea .searchbtn {
    display: block;
    width: 28px;
    position: absolute;
    height: 28px;
    /*background: url(../images/1/indexbg.png) no-repeat 4px -43px;*/
    top: 0px;
    right: 0px;
    border: none;
}

.headerwrap .logoarea .advancedsearch {
    padding-right: 10px;
    line-height: 30px;
    color: #fff;
    /*background: url(../images/1/indexbg.png) no-repeat 53px -103px;*/
    float: left;
    display: inline;
    margin-left: 12px;
}

.headerwrap .logoarea a.advancedsearch:hover {
    color: #fff;
}

.headerwrap .logoarea .menu {
    float: right;
    clear: both;
    display: inline;
    line-height: 22px;
    margin-top: 12px;
    white-space: nowrap;
    font-size: 14px;
}

.headerwrap .logoarea .menu a {
    color: #e8efe7;
    margin-left: 12px;
}

.headerwrap .logoarea .menu a:hover {
    color: #fff;
}

#indexbanner {
    width: 100%;
    clear: both;
    height: 150px;
    position: relative;
    z-index: 5;
}

#indexbanner .bannerinner {
    width: 100%;
    z-index: 3;
    margin: 0px auto;
    height: 150px;
    /*position: relative;*/
    overflow: hidden;
}

#indexbanner .bannerinner a.hrefbanner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

#indexbanner .bannerinner .describ {
    display: block;
    position: absolute;
    z-index: 8;
    top: 155px;
    right: 90px;
    width: 300px;
    padding: 2px 10px 12px 10px;
    overflow: hidden;
}

#indexbanner .bannerinner .tit {
    /*text-align: center;*/
    font-family: \5FAE\8F6F\96C5\9ED1, sans-serif;
    color: #2f2f2f;
    font-size: 40px;
    line-height: 70px;
    height: 60px;
    font-weight: normal
}

#indexbanner .bannerinner .content {
    line-height: 20px;
    display: block;
    color: #444;
    overflow: hidden;
}

#indexbanner .bannerinner .describ .tpbg {
    width: 1000px;
    height: 1000px;
    position: absolute;
    z-index: -1;
    background: #fff;
    opacity: 0.50;
    filter: alpha(opacity=50);
    top: 0;
    left: 0;
}

#indexbanner .left, #indexbanner .center_middle, #indexbanner .right {
    /*background: url(../images/1/indexbg.png) no-repeat;*/
    position: absolute;
    z-index: 6;
    background-position: -56px -104px;
    width: 46px;
    height: 76px;
    display: block;
    top: 40px;
}

#indexbanner .center_middle {
    background-position: -50px -93px;
    left: 0px;
}

#indexbanner .left {
    background-position: -50px -93px;
    left: 0px;
}

#indexbanner .right {
    background-position: -102px -93px;
    right: 0px;
}

#indexbanner .center_middle:hover, #indexbanner .right:hover {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    border-radius: 5px;
}

#indexbanner .lights {
    float: left;
    display: inline;
    position: absolute;
    height: 16px;
    top: 120px;
    z-index: 5;
    right: 200px;
}

#indexbanner .lights a {
    float: left;
    display: inline;
    margin-right: 9px;
    background: #fff;
    border: 1px solid #969696;
    cursor: pointer;
    background-position: 0px -168px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    overflow: hidden
}

#indexbanner .lights a.focused {
    background: #008632;
    border: 1px solid #fff;
}

#indexbanner .ground {
    display: block;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    background: #f9f3e0 url(../images/1/banner.png) no-repeat center top;

}

.news-slide {
    /*width: 325px;*/
    /*width: 50%;*/
    width: 400px;

    /*height: 200px;*/
    overflow: hidden;
    position: relative;
}

.news-slide a img {
    width: 400px;
    /*width: 50%;*/
    height: 250px;
}

.slide {
    width: 400px;
    height: 210px;
    float: left;
    background: #ccc;
    margin-bottom: 20px;
    overflow: hidden;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

.head_box {
    /*border: 2px solid #1b68af;*/

    /*height: 310px;*/
    float: left;
    margin-top: 20px;

}

.head_box .header {

    border-top: solid 3px #3686be;
    border-bottom: solid 1px #3686be;

    /*width: 98%;*/
    margin: 0 auto;
    /*background: url(../pictures/title.png) 0 repeat-x;*/
    /*background-color: #f4f4f4;*/

    height: 40px;
    color: #1b58b8;
    line-height: 40px;
}

.head_box .header span {
    font-size: 20px;

    /*padding-left: 28px;*/
    margin-left: 5px;

}

.head_box .header a {
    color: #1b58b8;
    display: block;
    float: right;
    margin-right: 10px;
    width: 53px;
    /* height: 20px; */
    /* background: url(../images/more.png) 0 0 no-repeat; */
    /* text-indent: -9999px; */
    overflow: hidden;
    /* margin-top: 10px; */
}

.head_box .body {
    /*margin-top: 8px;*/
    padding: 8px 10px;
}

.head_box .body .box {
    /* float: left; */

    /* width: 10%; */

    /*height: 250px;*/
    overflow: hidden;

    border: none;
    /*padding-bottom: 14px;*/
    /*margin-bottom: 12px;*/
    display: block;
}

.head_box .body .box a {

}

.head_box .body .box a img {
    width: 140px;
    height: 40px;
    margin-bottom: 12px;
}

.head_box .body ul li {
    height: 25px;
    overflow: hidden;
    line-height: 25px;
}

.head_box .body ul li a {
    color: #000000;
    font-size: 14px;
    width: 60%;

}

.head_box .body ul li a:hover {
    color: #1b68af;

}

.head_box .body ul li span {
    float: right;
}

.head_box .body .box .list1 {
    /*width: 95%;*/

    /*height: 100px;*/
    /*margin: 10px 0 0 0;*/
    /*border-bottom: 1px dashed #d8d8d8;*/

}

#content {
    /*width: 1050px;*/
    /* width: 1140px; */
     background: #F6F6F6;
    /*background: url(./images/bg.gif) repeat;*/
    margin: 0 auto;
    padding-bottom: 10px;
    border: 1px solid #e7eaed;
    /*padding-left: 1%;*/
    /*padding-right: 1%;*/
}

.preBtn {
    position: absolute;
    top: 140px;
    left: 30px;
    cursor: pointer;
    width: 54px;
    height: 54px;
    background: url(./images/preBtn.png) 0 0 no-repeat;
}

.nextBtn {
    position: absolute;
    top: 140px;
    right: 30px;
    cursor: pointer;
    width: 54px;
    height: 54px;
    background: url(./images/nexttn.png) 0 0 no-repeat;
}

.news-title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #cacaca;
    font-size: 18px;
    line-height: 55px;
    z-index: 999;
    padding: 0 15px;
}

.news-title-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 55px;
    width: 724px;
    background: #000000;
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    opacity: 0.4;
    z-index: 99;
}

.w1 {
    width: 350px;
    margin-top: 25px;
}

.w2 {
    width: 725px;
    margin-top: 25px;
}

.w3 {
    width: 1100px;
    margin-top: 25px;
}

.fr {
    float: right;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.mt {
    margin-top: 20px;
}

.post-content {
    min-height: 300px;

    font-size: 16px;

}

#links ul li {

    line-height: 30px;
    height: 30px;

}






.left-nav{
    float: left;
    width: 200px;
    margin-top: 10px;

}



.left-nav-item{
    width: 190px;
    border: 1px solid #EBEBEB;
    margin: 0 auto 10px;

}



.left-nav h3 {
    /*height: 50px;*/
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    /*background-color: #fff;*/
    /*color: #517693;*/
    color: #fff;
    background-color: #517693;

    /*border-bottom: 5px solid #517693;*/

    /*margin: 0 5px;*/
}

.left-nav h3 a{
    /*height: 50px;*/
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    /*background-color: #fff;*/
    /*color: #517693;*/
    color: #fff;
    background-color: #517693;

    /*border-bottom: 5px solid #517693;*/

    /*margin: 0 5px;*/
}

.left-nav ul {
    /*padding-right: 5px;*/
}

.left-nav ul li {
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #517693;
    font-size: 16px;
    list-style: none;
    /*border-left: 5px solid #517693;*/

}

.left-nav ul li:hover {
    border-left: 5px solid #e5e5e5;
}


.left-nav ul li a {
    display: block;
    color: #507693;
    border-bottom: 1px solid #ddd;
}

.left-nav ul li a:hover {
    background-color: #D3D3D3;
}
