.title {
    /*width: 1140px;*/
    /*width: 90%;*/
    margin: 0 auto;
}

.title h1 {
    padding-top: 10px;
    margin-left: 20px;
    font-size: 30px;
}

.breadcrumbs {
    margin-left: 35px;
}

.breadcrumbs li {
    float: left;
    font-size: 15px;
}

.breadcrumbs li a {
    float: left;
    font-size: 15px;
}

.blog {
    width: 1000px;
    margin: 20px auto;
}

.Titlenamelist {
    width: 1000px;
}

.Titlename {
    width: 1000px;
    margin-top: 20px;
    /*float: left;*/
}

.Titlename a {
    color: rgb(70, 70, 70);

}

.Titlename h2 a {
    margin: 20px 10px 20px 10px;

    font-size: 22px;
    font-weight: bold;
    color: #4D4D4D;
}

.Titlename h2 a:hover {
    color: #336ec5;
}

.Titletip {

    margin: 15px 10px 20px 10px;
}

.continue {
    float: right;
}

.foot {
    width: 1000px;
}

.footlist {
    text-align: center;
    width: 400px;
    margin: 20px auto;
}

.footlist li {
    display: inline;
    margin: 5px;
}

.footlist a {
    font-size: 16px;
    /*display: block;*/
    border: solid 1px #AAAAEE;
    color: #1A63BA;
    text-decoration: none;
    padding: 4px 8px;

}


/*display: block;*/
