<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title> 投稿统计 |{:get_opinion('title')} </title>
    <meta name="description" content="{:get_opinion('description')}"/>
    <meta name="author" content="{$post.post_user.user_nicename}"/>
    <meta name="keywords"
          content='{:get_opinion("keywords")},<volist name="post.post_tag" id="tag">{$tag.tag_name}, </volist>'/>

    <include file="Public:head"/>
    <link href="__PUBLIC__/Xsc/static/article.css" rel="stylesheet" type="text/css">

    <style type="text/css">

table{

    text-align: center;
    border-collapse: collapse;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 0px;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;

    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;

    width: 750px;



}

td , tr ,th ,thead,tbody{
    text-align: center;

    border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;

    font-size: 18px;

}
table a{


    font-size: 18px;

}


    </style>


</head>
<body>


{:W('Common/mainMenu',array('ul_attr'=>'class="menu"'))}

<div id="content" class="clearfix">


    <div class="left-nav">

        <include file="Public:hotlink"/>
        <include file="Public:search"/>

    </div>


    <div class="article">
        <h1>投稿统计</h1>
        <!-- Post Start -->
        <hr />

        <div class="main-info"style="">
            <!-- Date -->








                <form action="{:get_addon_url('Postcount/Postcount/count')}" method="post">
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <td>
                                文章统计检索
                            </td>
                            <td>
                                <select name="year_start">
                                    <option value="{$year_start}" selected>{$year_start}</option>
                                    <for start="2000" end="2100">
                                        <option value="{$i}">{$i}</option>
                                    </for>
                                </select>年
                               <select name="month_start">
                                <option value="{$month_start}" selected>{$month_start}</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="%%">所有</option>
                            </select> 月至 <select name="year_end">
                                <option value="{$year_end}" selected>{$year_end}</option>
                                <for start="2000" end="2100">
                                    <option value="{$i}">{$i}</option>
                                </for>
                            </select>年
                                <select name="month_end">
                                <option value="{$month_end}" selected>{$month_end}</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="%%">所有</option>
                            </select> 月
                            </td>





                            <td>
                                <input type="submit" name="submit" value="检索">
                            </td>
                        </tr>
                    </table>
                </form>



                <table
                        class="table table-striped table-bordered table-hover">
                    <thead>

                    <tr>
                        <!-- <th style="width: 8px;">选择</th> -->
                        <th style="width: 300px;">用户名</th>
                        <th>用户组</th>
                        <!--<th>统计时段</th>-->
                        <th>此段文章数量</th>
                    </tr>
                    </thead>
                    <tbody id="cache_table">
                    <foreach name="user_list" item="v" key='k'>
                        <tr align="center"><!--|del_sql=###-->
                            <!-- <td><input type="checkbox" name="backupFiles" value="{$v.post_id}"/>
                            </td> -->
                            <td style="width: 300px">
                                <a href="">{$v.user_nicename}</a>
                            </td>
                            <td>{$v['role_info'][0]['name']}</td>
                            <!--<td>{$v.date}</td>-->
                            <td>{$v.post_count}篇</td>

                        </tr>
                    </foreach>
                    </tbody>

                </table>









        </div>




    </div>


</div>

<div style="clear:both;"></div>

<include file="Public:footer"/>

</body>
</html>