<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {$post.post_title}|{:get_opinion('title')} </title>
    <meta name="keywords" content='{:get_opinion("keywords")},<volist name="post.post_tag" id="tag">{$tag.tag_name}, </volist>'/>
    <include file="Public:head"/>
</head>

<body class="home blog">

<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="site-navigation-inner col-12">
                <div class="navbar">


                    <!-- Your site title as branding in the menu -->
                    <a class="navbar-brand" href="{:get_opinion('site_url')}" title="{:get_opinion('title')}" rel="home">
                        {:get_opinion('title')} </a>

                    <!-- The WordPress Menu goes here -->


                </div>
                <!-- .navbar -->
            </div>
        </div>
    </div>
    <!-- .container -->
</nav>
<!-- .site-navigation -->


<header id="masthead" class="site-header" role="banner">
    <div class="container">
        <div id="social">
        </div>
        <h1>{$post.post_title} </h1>
    </div>
</header>
<!-- #masthead -->

<div class="main-content">
    <div class="container" id="content">
        <div class="row">
            <div class="main-content-inner col-12 col-lg-12">
                <div class="col-12">
                    <article id="{$post.post_id}" class="post-{$post.post_id} post type-post status-publish format-standard hentry">
                        <header class="page-header">
                            <div class="post-thumb-home">
                            </div>
                            <h2 class="page-title">


                            </h2>

                            <div class="entry-meta">
                                <span class="posted-on">Posted on        {$post['post_date']}

                                 </span>

                            </div>
                            <!-- .entry-meta -->
                        </header>
                        <!-- .entry-header -->

                        <div class="entry-content auto-content">
                            {$post.post_content}
                        </div>
                        <!-- .entry-content -->


                        <!-- .entry-meta -->

                    </article>
                </div>
                <!-- #post-## -->


                <div class="clear"></div>


            </div>
            <!-- close .main-content-inner -->


            <!-- close .*-inner (main-content or sidebar, depending if sidebar is used) -->
        </div>
        <!-- close .row -->
    </div>
    <!-- close .container -->
</div>

<include file="Public:footer"/>
<!-- close #colophon -->

<!--<script type='text/javascript' src='__PUBLIC__/RootStrap/auto.js'></script>-->


</body>
</html>