<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<ul class="sidebar-menu">


    <li class="active">
        <a href="#"><i class="fa fa-th"></i>
            <span>首页</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>

        <ul class="treeview-menu">
            <li class="active"><a href="/green2014/index.php?m=admin&c=index&a=index">仪表盘</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=index&a=changepass">修改密码</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=posts&a=add">添加文章</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=index&a=main">返回首页</a></li>
        </ul>
    </li>
    <li class=""><a href="#">
        <i class="fa fa-th"></i>
        <span>文章页面</span>
        <i class="fa fa-angle-left pull-right"></i>

    </a>
        <ul class="treeview-menu">
            <li class="active"><a href="/green2014/index.php?m=admin&c=posts&a=index">所有文章</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=posts&a=page">页面列表</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=posts&a=category">分类管理</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=posts&a=tag">标签管理</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=posts&a=add">添加文章</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=posts&a=reverify">未通过</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=posts&a=unverified">待审核</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=posts&a=recycle">回收站</a></li>
        </ul>
    </li>
    <li class=""><a href="#">
        <i class="fa fa-th"></i>
        <span>数据缓存</span>
        <i class="fa fa-angle-left pull-right"></i>

    </a>
        <ul class="treeview-menu">
            <li class=""><a href="/green2014/index.php?m=admin&c=data&a=db">数据库设置</a></li>
            <li class="active"><a href="/green2014/index.php?m=admin&c=data&a=index">数据库备份</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=data&a=restore">数据库导入</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=data&a=ziplist">数据库压缩</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=data&a=repair">数据库优化</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=data&a=cache">缓存设置</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=data&a=clear">缓存清理</a></li>
        </ul>
    </li>
    <li class=""><a href="#">
        <i class="fa fa-th"></i>
        <span>文件附件</span>
        <i class="fa fa-angle-left pull-right"></i>

    </a>
        <ul class="treeview-menu">
            <li class=""><a href="/green2014/index.php?m=admin&c=media&a=file">文件管理</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=media&a=backupfile">文件备份</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=media&a=restorefile">文件恢复</a></li>
        </ul>
    </li>
    <li class=""><a href="#">
        <i class="fa fa-th"></i>
        <span>定制中心</span>
        <i class="fa fa-angle-left pull-right"></i>

    </a>
        <ul class="treeview-menu">
            <li class=""><a href="/green2014/index.php?m=admin&c=custom&a=plugin">插件管理</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=custom&a=theme">主题管理</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=custom&a=menu">菜单管理</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=custom&a=links">链接管理</a></li>
        </ul>
    </li>
    <li class=""><a href="#">
        <i class="fa fa-th"></i>
        <span>用户权限</span>
        <i class="fa fa-angle-left pull-right"></i>

    </a>
        <ul class="treeview-menu">
            <li class="active"><a href="/green2014/index.php?m=admin&c=access&a=index">用户管理</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=access&a=guest">游客管理</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=access&a=nodelist">节点管理</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=access&a=rolelist">角色管理</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=access&a=adduser">添加用户</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=access&a=addnode">添加节点</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=access&a=addrole">添加角色</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=access&a=loginlog">登陆记录</a></li>
        </ul>
    </li>
    <li class=""><a href="#">
        <i class="fa fa-th"></i>
        <span>小工具</span>
        <i class="fa fa-angle-left pull-right"></i>

    </a>
        <ul class="treeview-menu">
            <li class="active"><a href="/green2014/index.php?m=admin&c=tools&a=index">可用工具</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=tools&a=wordpress">从wordpress导入</a></li>
        </ul>
    </li>
    <li class="last"><a href="#">
        <i class="fa fa-th"></i>
        <span>系统设置</span>
        <i class="fa fa-angle-left pull-right"></i>

    </a>
        <ul class="treeview-menu">
            <li class="active"><i class="fa fa-angle-double-right"></i><a
                    href="/green2014/index.php?m=admin&c=system&a=index">站点设置</a></li>
            <li class=""><i class="fa fa-angle-double-right"></i><a href="/green2014/index.php?m=admin&c=system&a=post">文章设置</a>
            </li>
            <li class=""><i class="fa fa-angle-double-right"></i><a href="/green2014/index.php?m=admin&c=system&a=url">链接设置</a>
            </li>
            <li class=""><i class="fa fa-angle-double-right"></i><a href="/green2014/index.php?m=admin&c=system&a=safe">安全选项</a>
            </li>
            <li class=""><i class="fa fa-angle-double-right"></i><a
                    href="/green2014/index.php?m=admin&c=system&a=email">邮箱配置</a></li>
            <li class=""><i class="fa fa-angle-double-right"></i><a
                    href="/green2014/index.php?m=admin&c=system&a=green">系统设置</a></li>
            <li class=""><i class="fa fa-angle-double-right"></i><a
                    href="/green2014/index.php?m=admin&c=system&a=update">系统升级</a></li>
            <li class=""><i class="fa fa-angle-double-right"></i><a href="/green2014/index.php?m=admin&c=system&a=info">系统信息</a>
            </li>
        </ul>
    </li>

    <li class="active">
        <a href="index.html">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>

    <li class="active"><a href="javascript:;">
        <i class="icon-home"></i>
        <span class="title">首页</span>
        <span class="arrow "></span>

    </a>
        <ul class="sub-menu">
            <li class="active"><a href="/green2014/index.php?m=admin&c=index&a=index">仪表盘</a></li>

            <li class=""><a href="/green2014/index.php?m=admin&c=index&a=changepass">修改密码</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=posts&a=add">添加文章</a></li>
            <li class=""><a href="/green2014/index.php?m=admin&c=index&a=main">返回首页</a></li>
        </ul>
    </li>


    <li>
        <a href="pages/widgets.html">
            <i class="fa fa-th"></i> <span>Widgets</span>
            <small class="badge pull-right bg-green">new</small>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i>
            <span>Charts</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="pages/charts/morris.html"><i class="fa fa-angle-double-right"></i> Morris</a></li>
            <li><a href="pages/charts/flot.html"><i class="fa fa-angle-double-right"></i> Flot</a></li>
            <li><a href="pages/charts/inline.html"><i class="fa fa-angle-double-right"></i> Inline charts</a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-laptop"></i>
            <span>UI Elements</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="pages/UI/general.html"><i class="fa fa-angle-double-right"></i> General</a></li>
            <li><a href="pages/UI/icons.html"><i class="fa fa-angle-double-right"></i> Icons</a></li>
            <li><a href="pages/UI/buttons.html"><i class="fa fa-angle-double-right"></i> Buttons</a></li>
            <li><a href="pages/UI/sliders.html"><i class="fa fa-angle-double-right"></i> Sliders</a></li>
            <li><a href="pages/UI/timeline.html"><i class="fa fa-angle-double-right"></i> Timeline</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-edit"></i> <span>Forms</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="pages/forms/general.html"><i class="fa fa-angle-double-right"></i> General Elements</a>
            </li>
            <li><a href="pages/forms/advanced.html"><i class="fa fa-angle-double-right"></i> Advanced
                Elements</a></li>
            <li><a href="pages/forms/editors.html"><i class="fa fa-angle-double-right"></i> Editors</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-table"></i> <span>Tables</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="pages/tables/simple.html"><i class="fa fa-angle-double-right"></i> Simple tables</a>
            </li>
            <li><a href="pages/tables/data.html"><i class="fa fa-angle-double-right"></i> Data tables</a></li>
        </ul>
    </li>
    <li>
        <a href="pages/calendar.html">
            <i class="fa fa-calendar"></i> <span>Calendar</span>
            <small class="badge pull-right bg-red">3</small>
        </a>
    </li>
    <li>
        <a href="pages/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <small class="badge pull-right bg-yellow">12</small>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-folder"></i> <span>Examples</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="pages/examples/invoice.html"><i class="fa fa-angle-double-right"></i> Invoice</a></li>
            <li><a href="pages/examples/login.html"><i class="fa fa-angle-double-right"></i> Login</a></li>
            <li><a href="pages/examples/register.html"><i class="fa fa-angle-double-right"></i> Register</a>
            </li>
            <li><a href="pages/examples/lockscreen.html"><i class="fa fa-angle-double-right"></i> Lockscreen</a>
            </li>
            <li><a href="pages/examples/404.html"><i class="fa fa-angle-double-right"></i> 404 Error</a></li>
            <li><a href="pages/examples/500.html"><i class="fa fa-angle-double-right"></i> 500 Error</a></li>
            <li><a href="pages/examples/blank.html"><i class="fa fa-angle-double-right"></i> Blank Page</a></li>
        </ul>
    </li>
</ul>


</body>
</html>