<table width="924" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td height="2" bgcolor="#ffffff"></td>
    </tr>
    <tr>
        <td height="370" colspan="2" valign="top" background="__PUBLIC__/Xsc/zel/image/zhouenlai.jpg">
            <table width="100%" height="346" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="183" colspan="2" valign="top">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="69%" height="105" align="center" valign="top">&nbsp;</td>
                                <td width="31%">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="29" valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="7%" height="37">&nbsp;</td>
                                            <td width="13%" align="center" valign="top">
                                                <a href="{:U('Zel/Index/index')}" class=m_enlai>首页</a></td>
                                            <td width="2%" align="center" valign="top">&nbsp;</td>
                                            <td width="13%" align="center" valign="top">
                                                <a href="{:U('Zel/cat/detail',array('info'=>8))}" class=m_enlai2>新闻动态</a></td>
                                            <td width="2%" align="center" valign="top">&nbsp;</td>
                                            <td width="13%" align="center" valign="top">
                                                <a href="{:U('Zel/cat/detail',array('info'=>8))}" class=m_enlai2>活动开展</a></td>
                                            <td width="2%" align="center" valign="top">&nbsp;</td>
                                            <td width="13%" align="center" valign="top">
                                                <a href="{:U('Zel/cat/detail',array('info'=>8))}" class=m_enlai2>风采展示</a></td>
                                            <td width="2%" align="center" valign="top">&nbsp;</td>
                                            <td width="13%" align="center" valign="top">
                                                <a href="{:U('Zel/cat/detail',array('info'=>8))}" class=m_enlai2>理论园地</a></td>
                                            <td width="2%" align="center" valign="top">&nbsp;</td>
                                            <td width="13%" align="center" valign="top">
                                                <a href="{:U('Zel/cat/detail',array('info'=>8))}" class=m_enlai2>资料下载</a></td>
                                            <td width="2%" align="center" valign="top">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="center">
                                    <table width="90%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="180" height="25">
                                                {:hook('pageHeader', 'Widget')}


                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="51%" height="146" align="center">
                        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="400" height="140">
                            <param name="movie" value="__PUBLIC__/Xsc/zel/image/zhouenlaifont.swf"/>
                            <param name="quality" value="high"/>
                            <param name="wmode" value="Transparent"/>
                            <embed src="__PUBLIC__/Xsc/zel/image/zhouenlaifont.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="400" height="140"></embed>
                        </object>
                    </td>
                    <td width="49%" align="right">
                        <!--<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="455" height="147">-->
                            <!--<param name="movie" value="__PUBLIC__/Xsc/zel/image/starss.swf"/>-->
                            <!--<param name="quality" value="high"/>-->
                            <!--<param name="wmode" value="Transparent"/>-->
                            <!--<embed src="__PUBLIC__/Xsc/zel/image/starss.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="455" height="147"></embed>-->
                        <!--</object>-->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>