<td width="260" height="400" align="center" valign="top" bgcolor="#F8E4E4">
    <table width="237" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td height="18" background="__PUBLIC__/Xsc/zel/image/zou_left.jpg">&nbsp;</td>
        </tr>
        <tr>
            <td align="center" valign="top" background="__PUBLIC__/Xsc/zel/image/zou_left_line.jpg">


                <table width="215" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="235" valign="top">
                            <table width="200" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="211" height="46" colspan="2" align="center"
                                        background="__PUBLIC__/Xsc/zel/image/zouenlai_t2.jpg" class="white">
                                        通知公告
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="100%" border="0" cellspacing="1" cellpadding="1">
                                <tr>
                                    <td width="100%" height="200" valign="top">
                                        <MARQUEE onmouseover=this.stop()
                                                 onmouseout=this.start() scrollAmount=2
                                                 direction=up height=200 weight="194">
                                            <table width="98%" border="0" cellpadding="1" cellspacing="1">

                                                <volist name="ggtz" id="v">
                                                    <tr>
                                                        <td width="100%" height="22">
                                                            ·<a href="{:U('Zel/Post/single',array('info' => $v['post_id']))}"
                                                                target="_blank" title="{$v['post_title']}">{$v['post_title']|strip_tags|mb_substr=0,20,"UTF-8"}</a>
                                                            <font color=#666666>[{$v.post_date|getTimeStamp='month'}-{$v.post_date|getTimeStamp='day'}]</font>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="1"
                                                            background="__PUBLIC__/Xsc/zel/image/diandian.gif"></td>
                                                    </tr>


                                                </volist>


                                            </table>
                                        </marquee>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" valign="top">
                                        <a href="{:U('Zel/Cat/detail', array('info' => 8))}" target="_blank"><img
                                                src="__PUBLIC__/Xsc/zel/image/more2.gif" border="0"></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
                <table width="215" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="235" valign="top">
                            <table width="200" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="211" height="46" colspan="2" align="center"
                                        background="__PUBLIC__/Xsc/zel/image/zouenlai_t2.jpg" class="white">
                                        周恩来班简介
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="100%" border="0" cellspacing="1" cellpadding="1">
                                <tr>
                                    <td width="100%" height="156" align="right" valign="top">
                                        <TABLE border="0" cellSpacing="0" cellPadding="0" width="98%">
                                            <TBODY>
                                            <TR>
                                                <TD width="100%" vAlign="top">
                                                    <img src="__PUBLIC__/Xsc/zel/image/zouenlaixiang.jpg" width="100"
                                                         height="134" hspace="3" vspace="3" border="0" align="left">

                                    <span class="reg"><P&nbsp;
                                            style=&quot;LINE-HEIGHT:&nbsp;2;&nbsp;TEXT-INDENT:&nbsp;35px&quot;>
                                        <FONT&nbsp; face=仿宋_GB2312><FONT&nbsp; size=3>创建“周恩来班”活动是由中共中央文献研究室周恩来邓颖超研究中心和中共代表团南京梅园新村纪念馆于1985年发起和指导的群众性教育活动，其指导思想是坚持以伟人风范为榜样，以伟人精神教育人。</FONT><FONT&nbsp;
                                                size=3>我校“周恩来班”由中共中央文献研究室周恩来邓颖超研究中心授予，以凝聚力强、整体建设好、班风正、学风好的班级为对象，是学校自然班的至高荣誉。</FONT><FONT&nbsp;
                                                size=3>创建“周恩来班”活动，旨在带动全校良好班风、学风的形成，提高我校精神文明建设和思想政治教育工作水平。</FONT></FONT>
                                    </P></span></TD>
                                            </TR>
                                            </TBODY>
                                        </TABLE>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="213" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="235" valign="top"><img src="__PUBLIC__/Xsc/zel/image/diann.jpg" width="102"
                                                          height="52"></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="100%" border="0" cellspacing="1" cellpadding="1">
                                <tr>
                                    <td width="100%" height="88" align="center" valign="top"
                                        background="__PUBLIC__/Xsc/zel/image/linkbg.jpg">
                                        <table width="92%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td height="25" align="center" valign="top">
                                                    <select style="width:200px"
                                                            onchange="window.open(this.options[this.selectedIndex].value)"
                                                            size="1"
                                                            name="mlink">
                                                        <option>---|校内链接|---</option>
                                                        <optionfriendlist cat="校内链接"></optionfriendlist>
                                                    </select>
                                                    <br></td>
                                            </tr>
                                            <tr>
                                                <td height="25" align="center" valign="top">
                                                    <select style="width:200px"
                                                            onchange="window.open(this.options[this.selectedIndex].value)"
                                                            size="1"
                                                            name="mlink2">
                                                        <option>---|校外链接|---</option>
                                                        <optionfriendlist cat="校外链接"></optionfriendlist>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>


            </td>
        </tr>
        <tr>
            <td height="25" background="__PUBLIC__/Xsc/zel/image/zou_left_bottom.jpg">&nbsp;</td>
        </tr>
    </table>
    <script language=javascript>
        function opencat(cat, img) {
            if (cat.style.display == "none") {
                cat.style.display = "";
                img.src = "__PUBLIC__/Xsc/zel/image/gray_jian.gif";
            } else {
                cat.style.display = "none";
                img.src = "__PUBLIC__/Xsc/zel/image/gray_jia.gif";
            }
        }
    </script>
</td>

