<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css" />

    <title>{$action} | {:get_opinion('title')}</title>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->


        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {$action}
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>

                        <li>
                            <a href="{:U('Admin/Custom/plugin')}">插件管理</a>
                            <i class="icon-angle-right"></i>
                        </li>

                        <li><a href="{$action_url}">{$action}</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <form method="post" action="{:U('Admin/Custom/updateHook')}" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">钩子名称</label>
                            <div class="controls">
                                <input type="text" placeholder="Example" class="m-wrap large" name="name" value="{$info['name']}" />
                                <span class="help-inline">需要在程序中先添加钩子，否则无效</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">钩子描述</label>
                            <div class="controls">
                                <textarea name="description" class="large m-wrap" rows="3" placeholder="钩子的描述信息">{$info['description']}</textarea>
                                <span class="help-inline">钩子的描述信息</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">钩子类型</label>
                            <div class="controls">
                                <select name="type" class="small m-wrap" tabindex="1">
                                    <present name="info.type">
                                        <eq name="info.type" value="1">
                                            <option value="1">视图</option>
                                            <option value="2">控制器</option>
                                        <else />
                                            <option value="2">控制器</option>    
                                            <option value="1">视图</option>
                                        </eq>
                                    <else />
                                        <option value="1">视图</option>
                                        <option value="2">控制器</option>
                                    </present>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{$info.id}">
                        <div class="form-actions success_info">
                            <button type="submit" class="btn green" target-form="form-horizontal">确定</button>
                            <button type="button" class="btn" onclick="javascript:history.back(-1);return false;">返回</button>                            
                        </div>
                    </form>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->
<include file="Public:foot"/>
<script type="text/javascript" src="__PUBLIC__/admin/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script src="__PUBLIC__/admin/assets/scripts/form-components.js"></script>
<script>
    jQuery(document).ready(function () {
        App.init();
        FormComponents.init();

    });
</script>
</body>
<!-- END BODY -->
</html>
