@import url("reset.css");
@import url("grid.css");
@import url("font.css");
@import url("slider.css");
@import url("tooltips.css");
@import url("switcher.css");
@import url("form.css");

a.logo {
    display: block;
    padding: 8px 0;
    width: 200px;
    float: left;
    margin-left: 10px;
}

a.logo img {
    display: block;
}

.fullwidthbanner-container {
    width: 100% !important;
    position: relative;
    padding: 0;
    max-height: 540px !important;
    overflow: hidden;
    margin-bottom: 50px;
}

/* .menu Navigation
===================================== */
.menu {
    display: block;
    position: relative;
    z-index: 999;
}

.menu ul {
    float: right;
    margin-right: 10px;
}

.menu ul a {
    float: left;
}

.menu ul ul a {
    float: none;
}

.menu ul ul {
    zoom: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    line-height: 23px;
    display: none\9; /* IE8 Hack */
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    top: 80%;
}

.menu li:hover > ul {
    zoom: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    display: block\9;
    text-shadow: none;
    filter: none;
    top: 100%;
    top: 81% \9;
}

.menu ul:after {
    content: "";
    clear: both;
    display: block;
}

.menu ul li {
    float: left;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.menu ul li a {
    display: block;
    padding: 24px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family: "Microsoft YaHei", sans-serif;
}

/* Arrow Down */
.menu .arrow {
    position: relative;
}

.menu .arrow:after {
    content: "";
    position: absolute;
    width: 0px;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    height: 0px;
    border-style: solid;
    border-width: 3px 3px 0 3px;
    border-color: #FFF transparent transparent transparent;
}

/* Arrow Left */
.menu ul li ul li .arrow {
    position: relative;
}

.menu ul li ul li .arrow:after {
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    position: absolute;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #fff;
}

/* Drop-Down Menu */
.menu ul ul {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    width: 170px;
    padding-top: 10px;
}

.menu ul ul li a {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 13px;
    padding: 11px 18px;
    color: #fff;
    font-weight: normal;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.menu ul ul li {
    float: none;
    position: relative;
    transition: none;
    -transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.menu ul ul li {
    padding: 3px;
}

.menu ul ul:before {
    content: "";
    border-style: solid;
    border-width: 0 9px 9px 9px;
    height: 0px;
    position: absolute;
    left: 15px;
    top: 5px;
    width: 0px;
    -webkit-transform: rotate(360deg);
}

.menu ul ul li:first-child {
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.menu ul ul li:last-child {
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

.menu ul ul li a:active,
.menu ul ul li a:hover {
    color: #FFF;
    text-shadow: none;
    filter: none;
}

.menu ul ul ul {
    top: 0;
    padding-left: 5px;
    padding-left: 0 px\9;
    padding-top: 1px;
    position: absolute;
    left: 100%;
}

.menu ul ul ul:before {
    content: "";
    border: none;
}

.menu li ul li:hover > ul {
    top: 0;
}

/* Responsive Menu  
===================================== */
a.menu-trigger {
    display: none;
    position: absolute;
    font-size: 21px;
    top: 9px;
    left: 9px;
    color: #e9f0f4;
}

.search {
    background: #2f4357;
    color: #fff;
    display: none;
}

input.searchform {
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    line-height: 23px;
    padding: 10px 0 11px 13px;
    text-indent: 0;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: textfield;
    outline: none;
    width: 100%;
    font-weight: 400;
}

input.searchform::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

input.searchform::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

input.searchform:-ms-input-placeholder {
    color: #fff;
    zoom: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}

.search:after {
    content: "\f002";
    font-family: "FontAwesome";
    color: #E9F0F4;
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 19px;
}

#jPanelMenu-menu {
    background: #2c3e50;
}

#jPanelMenu-menu li a {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #E9F0F4;
    padding: 13px;
    display: block;
}

#jPanelMenu-menu li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

#jPanelMenu-menu li ul li a {
    padding: 13px 30px;
}

#jPanelMenu-menu li ul li:last-child {
    border-bottom: none;
}

#jPanelMenu-menu li ul li ul li a {
    padding: 13px 45px;
}

/* Contact Forms and Comment Forms */
/* comment Form */
.form {
    margin-bottom: 50px;
}

.form h4 {
    font-size: 15px;
    font-weight: 700;
}

.form form {
    margin-top: 25px;
}

.form form .field {
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.form form .field.field-last {
    margin-right: 0;
}

.form form .field label {
    display: block;
    margin-bottom: 2px;
}

.form form .field label small {
    font-size: 13px;
}

.form form .field input {
    display: block;
    width: 100%;
    border: none;
    background: #f5f5f5;
    height: 44px;
    width: 260px;
    padding-left: 20px;
    font-family: "Open Sans", sans-serif;
    color: #6F7275;
    outline: none;
    transition: all 200ms;
    -moz-transition: all 200ms;
    -webkit-transition: all 200ms;
}

.form form textarea {
    height: 210px;
    width: 840px;
    max-width: 840px;
    padding: 20px;
    padding-top: 20px;
    font-family: "Open Sans", sans-serif;
    color: #6F7275;
}

.form form .field input:focus,
.form form textarea:focus {
    background: #ebf1f4;
}

.form form button.btn {
    float: right;
    margin-top: 20px;
    padding: 10px 30px;
}

/* Services at Homepage
===================================== */
.serviceboxes {
    display: block;
    overflow: hidden;
    margin-top: 10px;
}

.serviceboxes li {
    margin-bottom: 20px;
    width: 380px;
    display: inline-block;
    float: left;
    min-height: 100px;
}

.serviceboxes li p {
    margin-left: 85px;
}

.serviceboxes li:nth-child(even) {
    margin-left: 10px;
}

.serviceboxes li:nth-child(odd) {
    margin-right: 10px;
}

.serviceboxes li .service-icon {
    margin-right: 20px;
    margin-bottom: 5px;
    float: left;
    overflow: hidden;
    width: 65px;
    margin-top: 3px;
}

.serviceboxes li h3 {
    font-size: 15px;
    margin-bottom: 3px;
    margin-top: 5px;
}

.notice {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 30px;
}

.notice h3 {
    margin-bottom: 7px;
    font-size: 16px;
}

/* Recent Works  
===================================== */
.carousel-intro {
    margin-bottom: 20px;
}

.carousel-intro h3 {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}

.carousel-navi {
    float: right;
    margin-right: 10px;
}

.arrow-left,
.arrow-right,
a.go-to-portfolio {
    width: 23px;
    height: 23px;
    display: inline-block;
    float: left;
    background-color: #53657e;
    margin-left: 3px;
    color: #6a81a0;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;

    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

a.go-to-portfolio i,
.arrow-left i,
.arrow-right i {
    font-size: 14px;
    display: block;
    padding-top: 4px;
    text-align: center;
}

a.go-to-portfolio i {
    padding-top: 5px;
}

.arrow-left.active,
.arrow-right.active {
    background-color: #2e3641;
    color: #e9f0f4;
    cursor: pointer;
}

.arrow-left.active:hover,
.arrow-right.active:hover {
    background-color: #2e3641;
}

a.go-to-portfolio {
    color: #fff;
}

a.go-to-portfolio:hover {
    color: #fff;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.recent-item {
    display: block;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.item-description {
    padding: 20px 0 23px 0;
    background: #fff;
    text-align: center;

    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.item-description h5 {
    font-size: 15px;
    font-weight: 700;
}

.item-description span {
    color: #7B8797;
    font-size: 12px;
    display: block;
}

.hold.medium {
    position: relative;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.hold.medium img {
    width: 100%;
    position: relative;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.hold.medium:hover img {
    zoom: 1;
    opacity: 0.25;
    filter: alpha(opacity=25);
}

.hold.medium a.hover-zoom,
.hold.medium a.hover-link {
    position: absolute;
    font-size: 17px;
    color: #FFF;
    width: 40px;
    height: 40px;
    text-align: center;
    zoom: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 120ms ease-in-out;
    -moz-transition: all 120ms ease-in-out;
    -o-transition: all 120ms ease-in-out;
    -ms-transition: all 120ms ease-in-out;
    transition: all 120ms ease-in-out;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.hold.medium a.hover-zoom i {
    font-size: 15px;
}

.hold.medium a.hover-zoom i,
.hold.medium a.hover-link i {
    margin-top: 11px;
}

.hold.medium a.hover-zoom {
    left: 103px;
    top: 55px;
}

.hold.medium a.hover-link {
    right: 103px;
    top: 85px;
}

.hold.medium a.hover-link.alone {
    right: 115px;
}

.hold.medium:hover a.hover-zoom,
.hold.medium:hover a.hover-link {
    zoom: 1;
    opacity: 0.9;
    filter: alpha(opacity=90);
    top: 75px;
}

/* Promo Bar  
===================================== */
.promobar {
    background-color: #f9f9f9;
    width: 100%;
    display: block;
    padding: 50px 0;
    margin: 15px 0;
}

.promobar p {
    padding-bottom: 12px;
    text-align: center;
    font-size: 19px;
}

.promobar .btn {
    margin: 0 auto;
    width: 90px;
    text-align: center;
    display: block;
}

/* Recent News
===================================== */
#recent-news {
    display: block;
    margin-top: 15px;
}

#recent-news h3 {
    margin-bottom: 15px;
}

.news-item {
    display: block;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.news-thumb {
    margin-bottom: 15px;
}

.news-thumb .swipe {
    margin-top: 0;
}

.news-thumb img {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.news-thumb a {
    display: block;
    opacity: 1;
    zoom: 1;
    filter: alpha(opacity=100);
    transition: all 200ms;
    -moz-transition: all 200ms;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    -ms-transition: all 200ms;
    -webkit-backface-visibility: hidden; /* little fix */
}

.news-thumb a:hover {
    opacity: 0.7;
}

.news-item a {
    display: block;
}

.news-item .date {
    display: block;
    float: left;
}

.news-item .date .month {
    font-family: "Lato", sans-serif;
    float: left;
    color: #FFF;
    width: 35px;
    text-align: center;
    font-size: 11px;
    padding: 2px 0;

    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    -ms-border-radius: 2px 2px 0 0;
}

.news-item .date .day {
    font-family: "Lato", sans-serif;
    float: left;
    background-color: #FFF;
    width: 35px;
    clear: both;
    text-align: center;
    font-size: 14px;
    padding: 5px 0 3px;
    font-weight: 700;

    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
    -ms-border-radius: 0 0 2px 2px;

    box-shadow: 0 1px 0 0 #EEE4D7;
    -moz-box-shadow: 0 1px 0 0 #EEE4D7;
    -webkit-box-shadow: 0 1px 0 0 #EEE4D7;
    -o-box-shadow: 0 1px 0 0 #EEE4D7;
    -ms-box-shadow: 0 1px 0 0 #EEE4D7;
}

.news-item .description {
    display: block;
    margin-top: 17px;
}

.news-item .description h4 a {
    font-size: 14px;
    line-height: 18px;
    color: #2C3E50;
    margin-left: 45px;
}

.news-item .description p {
    line-height: 19px;
    margin-top: 9px;
}

/* Testimonials Rotator */
.testimonials {
    margin-top: 15px;
}

.testimonials h3 {
    margin-bottom: 15px;
}

.testimonials blockquote {
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
}

.testimonials blockquote p {
    background: #f9f9f9;
    color: #5B5C61;
    font-size: 13px;
}

.bubble {
    background: #f9f9f9;
    padding: 15px 15px 7px;
    position: relative;
    overflow: hidden;
}

.testimonials blockquote cite,
.quote-author {
    display: block;
    font-size: 15px;
    padding: 4px 0;
    float: right;
    color: #343852;
}

/* Pages Default Options
===================================== */
.page-title {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #f9f9f9;
    padding: 20px 0;
    margin: 0 0 40px;
}

.page-title h1 {
    font-size: 22px;
    padding: 10px 0;
}

ul.breadcrumbs {
    float: right;
    text-align: right;
    margin-top: 15px;
}

ul.breadcrumbs {
    display: inline-block;
}

ul.breadcrumbs li {
    display: inline;
    float: left;
    margin: 0 2px;
}

/* About 
===================================== */
section.about .separator {
    margin: 15px 0;
}

section.about h2 {
    margin-bottom: 6px;
    display: block;
    margin-top: 15px;
}

section.about h3 {
    margin-bottom: 6px;
    margin-top: 10px;
    display: block;
}

section.about p.bigger {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 10px;
}

section.about .swipe {
    margin-top: 12px;
}

section.about .fullwidth {
    padding: 40px 0;
    margin: 55px 0;
    background: #f5f5f5;
}

.team {
    margin-top: 10px;
}

.team img {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.team h4, .team span {
    display: inline-block;
    margin: 15px 10px 8px 0;
}

section.about .skill-bar {
    background: #2e3641;
}

section.about article.our-process h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

section.about figure.process {
    margin-top: 30px;
}

section.about figure.process figcaption {
    text-align: center;
}

section.about figure.process img {
    margin: 0 auto 25px;
    display: block;
}

section.about figure.process figcaption h5 {
    font-size: 17px;
}

section.about figure.process figcaption p {
    font-size: 15px;
    margin: 0 10%;
}

/* 404 ERROR
================================================== */
.error404 p.big {
    font-size: 75px;
    font-weight: 300;
    text-align: center;
    margin: 140px 0 10px;
    line-height: 65px;
}

.error404 p {
    text-align: center;
    font-size: 21px;
    margin-bottom: 140px;
    font-weight: 300;
}

/* FAQ
================================================== */
.toggle {
    margin: 10px 0;
}

.toggle a.toggle-trigger {
    display: block;
    padding: 10px 0px 13px;
    position: relative;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #f9f9f9;
}

.toggle a.active {
    text-decoration: none;
    border-bottom: 2px solid #f9f9f9;
}

.toggle a.toggle-trigger:before {
    content: "\f068";
    margin-right: 10px;
    padding: 4px 5px;
    color: #fff;
    font-size: 14px;
    font-family: "FontAwesome";
    font-weight: normal;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.toggle a.active.toggle-trigger:before {
    content: "\f067";
}

.toggle .toggle-content p {
    padding: 10px 0 15px;
}

/* Blog
===================================== */
section.blog {
    margin-top: 40px;
}

.meta {
    font-size: 12px;
    display: block;
}

.meta img {
    margin-right: 5px;
    float: left;
}

.meta span {
    margin-bottom: 4px;
    float: left;
    margin-right: 8px;
}

article.post {
    overflow: hidden;
}

article.post .main-info {
    display: block;
    float: left;
    margin-right: 20px;
}

article.post .main-info .date {
    width: 75px;
    height: 75px;
}

article.post .main-info .date span.month {
    font-size: 14px;
    font-weight: 700;
    font-family: "Lato";
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
    text-align: center;
    padding-top: 15px;
    display: block;
}

article.post .main-info .date span.day {
    font-size: 32px;
    font-weight: 700;
    font-family: "Lato";
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
    text-align: center;
    display: block;
}

article.post .main-info a.commentsnumber {
    width: 75px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Lato";
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 12px 0 13px;
    display: block;
}

article.post .main-info a.commentsnumber:hover {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

article.post .main-info a.commentsnumber span {
    font-size: 32px;
    font-weight: 700;
    font-family: "Lato";
    color: #fff;
    text-align: center;
    display: block;
}

article.post .post-content a.thumbnail img {
    margin-bottom: 15px;
}

article.post .swipe {
    margin-top: 0;
}

article.post .post-content {
    margin-left: 95px;
    display: block;
    padding-bottom: 50px;
    margin-bottom: 60px;
    border-bottom: 2px solid #EEE;
}

article.post .post-content h2 a {
    font-size: 20px;
    font-weight: 700;
    font-family: "Microsoft YaHei", "Lato";
    margin-top: 20px;
    margin-bottom: 8px;
    display: block;
}

article.post .post-content p {
    display: block;
}

article.post .post-content a.continue {
    margin-top: 8px;
}

.blog-navi {
    display: block;
    float: left;
    margin-bottom: 50px;
    margin-left: 95px;
}

.blog-navi ul li {
    display: inline-block;
    /*float: left;*/
}

.blog-navi ul li a {
    display: block;
    margin-right: 4px;
    padding: 6px 11px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: #e5e8ea;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.blog-navi ul li a:hover,
.blog-navi ul li a.current {
    color: #fff;

}

.blog-navi ul li a:active,
.blog-navi ul li a.current:active {
    margin-top: 2px;
    margin-bottom: -2px;
}

/* Medium Size Blog Style */
article.post .post-content.medium {
    margin-left: 0;
}

article.post .post-content.medium h2 a {
    margin-top: 0;
    margin-bottom: 10px;
}

.blog-navi.nomargin {
    margin-left: 0;
}

/* Single Blog Post */
ul.share-post {
    float: right;
    display: block;
}

ul.share-post li {
    display: inline-block;
    margin-top: 20px;
}

ul.share-post li a {
    width: 33px;
    height: 33px;
    display: block;
    color: #fff;
    position: relative;
}

ul.share-post li a .badge {
    position: absolute;
    width: 33px;
    height: 33px;
    z-index: 10;
    display: block;
    background: #f9f9f9;

    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;

    transition: all 250ms;
    -moz-transition: all 250ms;
    -webkit-transition: all 250ms;
}

ul.share-post li a .badge i {
    text-align: center;
    display: block;
    margin: 10px auto;
}

ul.share-post li a div.shares {
    display: block;
    text-align: center;
    width: 33px;
    font-size: 12px;
    padding: 1px 0;
    position: absolute;
    margin-top: 0;
    z-index: 1;

    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;

    transition: all 250ms;
    -moz-transition: all 250ms;
    -webkit-transition: all 250ms;
}

ul.share-post li a:hover div.shares {
    margin-top: 33px;
}

ul.share-post li a.twitter:hover div {
    background: #00acee;
    color: #fff;
}

ul.share-post li a.facebook:hover div {
    background: #3b5998;
    color: #fff;
}

ul.share-post li a.pinterest:hover div {
    background: #c8232c;
    color: #fff;
}

ul.share-post li a.gplus:hover div {
    background: #db4a39;
    color: #fff;
}

article.post .post-content h3 {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    margin-bottom: 5px;
}

article.post .post-content h4 {
    display: block;
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 5px;
}

article.post .post-content h5 {
    display: block;
    margin-top: 15px;
    font-size: 13px;
    margin-bottom: 5px;
}

article.post .post-content p.begin {
    font-size: 23px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 10px;
}

article.post .post-content code {
    display: block;
    clear: both;
    overflow: auto;
    padding: 5px 0px 5px 25px;
    margin: 15px 0;
    white-space: pre;
    background-color: #f5f5f5;
    font-family: "Andale Mono", Courier, "Courier New", monospace;
    font-size: 12px;
}

article.post-author {
    margin-left: 95px;
    padding-bottom: 70px;
    border-bottom: 2px solid #EEE;
    margin-bottom: 50px;
}

article.post-author .author-avatar {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

article.post-author h4 {
    font-size: 15px;
    font-weight: 700;
    margin-top: 8px;
    display: inline-block;
}

article.post-author p {
    margin-top: 5px;
}

/* Comments */
.comments {
    margin-bottom: 25px;
    margin-left: 95px;
}

.comments h4 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 25px;
}

.comments ul li .comment-avatar {
    float: left;
    width: 60px;
    height: 60px;
}

.comments ul li .comment-body {
    float: left;
    margin: -60px 0 0 81px;
    padding: 17px 20px 20px 20px;
    background: #f5f5f5;
    padding: 18px 23px;
    position: relative;
    display: inline-block;
    margin-bottom: 35px;
}

.comments ul li .comment-body .comment-meta {
    margin-bottom: 8px;
    display: block;
}

.comments ul li .comment-body .comment-meta cite {
    font-weight: 700;
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

.comments ul li .comment-body .comment-meta span {
    display: block;
    font-size: 11px;
    margin-top: 2px;
    color: #AAB3BD;
}

.comments ul li .comment-body .btn {
    padding: 3px 12px 4px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.comments ul li .comment-body:before {
    content: "";
    position: absolute;
    top: 23px;
    left: -9px;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: rgba(0, 0, 0, 0) #f5f5f5;
    display: block;
    width: 0;
    z-index: 1;
}

.comments ul li ul.replies {
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 25px;
}

/* Sidebar */
#sidebar {
    padding-left: 20px;
}

.widget {
    margin-bottom: 40px;
}

.widget h3 {
    margin-bottom: 10px;
}

.widget .search-icon {
    position: relative;
    display: block;
}

.widget .search-icon input {
    text-indent: 15px;
}

.widget .search-icon:after {
    content: "\f002";
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 14px;
    font-family: "FontAwesome";
    display: block;
}

.widget ul.categories-list li {
    display: block;
    border-bottom: 1px solid #EEE;
}

.widget ul.categories-list li a {
    padding: 10px 0;
    display: block;
}

.widget ul.categories-list li a:before {
    content: "\f054";
    font-size: 9px;
    font-family: "FontAwesome";
    margin-right: 9px;
    float: left;
    margin-top: 5px;
}

.widget ul.tags-list li {
    display: inline-block;
}

.widget ul.tags-list li a {
    color: #fff;
    display: block;
    padding: 5px 8px;
    margin: 2px 2px 2px 0;
    font-size: 12px;
}

/* Contact
================================================== */
.contact-sidebar {
    background: #f9f9f9;
    display: block;
    padding: 20px;
}

.contact-sidebar .widget ul {
    margin-bottom: 15px;
}

.contact-sidebar .widget ul li {
    margin-bottom: 2px;
}

.contact-sidebar .widget ul li i {
    margin-right: 3px;
}

.loading {
    background: url(../images/loader-white.gif) no-repeat;
    height: 48px;
    width: 48px;
    display: none;
    float: right;
    margin: 15px 30px 0 0;
}

.field input.validation-error,
textarea.validation-error {
    -webkit-box-shadow: inset 0px 0px 0px 2px #FF8181;
    -moz-box-shadow: inset 0px 0px 0px 2px #FF8181;
    box-shadow: inset 0px 0px 0px 2px #FF8181;
}

.field input.validation-error:focus,
textarea.validation-error:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.success-message {
    display: none;
}

#google-map {
    position: relative;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}

#google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
}

/* Portfolio
===================================== */
#section-portfolio {
    width: 100%;
    max-width: 1920px;
}

#section-portfolio h2 {
    text-align: center;
    padding: 60px 0 0;
}

.page-content.portfolio {
    padding: 10px 0 60px;
}

#filters {
    padding-bottom: 30px;
}

#filters li {
    color: #b7b7b7;
    font-weight: 700;
    display: inline-block;

    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

#filters li a {
    color: #b7b7b7;
    padding: 2px;
    display: block;
    font-size: 15px;
    padding: 12px 24px 12px 0;
    display: block;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

/* global portfolio styling */
.item {
    margin-bottom: 20px;
}

.hold img {
    width: 100%;
    position: relative;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.hold:hover img {
    zoom: 1;
    opacity: 0.25;
    filter: alpha(opacity=25);
}

.hold a.hover-zoom,
.hold a.hover-link {
    position: absolute;
    font-size: 17px;
    color: #FFF;
    width: 40px;
    height: 40px;
    text-align: center;
    zoom: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 120ms ease-in-out;
    -moz-transition: all 120ms ease-in-out;
    -o-transition: all 120ms ease-in-out;
    -ms-transition: all 120ms ease-in-out;
    transition: all 120ms ease-in-out;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.hold a.hover-zoom i {
    font-size: 15px;
}

.hold a.hover-zoom i,
.hold a.hover-link i {
    margin-top: 11px;
}

/* three columns styling */
.hold.big a.hover-zoom {
    left: 153px;
    top: 86px;
}

.hold.big a.hover-link {
    right: 153px;
    top: 126px;
}

.hold.big a.hover-link.alone {
    right: 170px;
}

.hold.big:hover a.hover-zoom,
.hold.big:hover a.hover-link {
    opacity: .9;
    zoom: 1;
    filter: alpha(opacity=90);
    top: 106px;
}

/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* Single Project Page
===================================== */
.project-images li {
    margin: 0 0 40px;
}

.project-images li a img {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.project-images li a img:hover {
    opacity: 0.8;
    zoom: 1;
    filter: alpha(opacity=80);
}

.project-details {
    padding: 20px 27px 15px;
    margin-bottom: 25px;
    background: #f9f9f9;
}

.project-details h2 {
    font-size: 18px;
    font-weight: 600;
    float: left;
    display: inline-block;
}

.project-details ul li {
    margin: 10px 0;
    font-size: 13px;
}

.project-details ul li span {
    font-weight: 700;
    font-family: "Lato", sans-serif;
    width: 85px;
    display: inline-block;
}

.project-details .btn {
    margin: 8px 0 5px;
}

.projects-navi {
    float: right;
    display: inline-block;
}

.projects-navi a {
    float: left;
    width: 23px;
    height: 23px;
    display: block;
    margin-left: 3px;
    color: #fff;

    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
}

.projects-navi .disabled {
    float: left;
    width: 23px;
    height: 23px;
    display: block;
    margin-left: 3px;
    background-color: #53657e;
    color: #6a81a0;
}

.projects-navi i,
.projects-navi .disabled i {
    font-size: 14px;
    display: block;
    text-align: center;
}

.projects-navi  i,
.projects-navi .disabled i {
    margin: 4px 0;
}

.grid i {
    margin: 5px 0;
}

.projects-navi a:hover i {
    color: #fff;
}

.project-description p {
    margin-bottom: 15px;
    margin-left: 5px;
}

/* Typography
===================================== */
#typography p {
    margin-bottom: 15px;
}

#typography h1,
#typography h2,
#typography h3,
#typography h4,
#typography h5,
#typography h6 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#typography .greybox {
    padding: 20px 25px;
}

#typography .greybox h3 {
    margin-top: 0;
}

#typography .greybox ul {
    margin-top: 15px;
    margin-bottom: 25px;
}

/* Elements */
.elements h3 {
    margin: 50px 0 15px;
}

.elements a.btn {
    margin-bottom: 10px;
    margin-right: 5px;
}

/* Icons 
===================================== */
#icons ul {
    float: left;
    margin-bottom: 40px;
}

#icons ul li {
    font-size: 14px;
    color: #595959;
    margin: 8px 0;
}

#icons ul li i {
    margin-right: 6px;
}

#icons ul.flat-icons li {
    display: inline-block;
    width: 50px;
    margin: 15px 10px;
}

/* Pricing Tables 
===================================== */
.plan h3 {
    width: 100%;
    height: 32px;
    font-size: 22px;
    padding: 20px 0;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.plan-price {
    font-size: 60px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding: 25px 0;
    position: relative;

}

.plan-price:after {
    content: "";
    position: absolute;
    border-width: 9px 9px 0;
    left: 50%;
    margin-left: -10px;
    bottom: -8px;
    border-style: solid;
    display: block;
    width: 0;
}

.plan-currency {
    font-size: 30px;
    color: #fff;
    position: absolute;
    margin: 0px -20px;
}

.plan-features {
    background: #fff;
    border: 1px solid #dadada;
    border-top: none;
    padding: 30px;
    font-size: 14px;
}

.plan-features ul li {
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
}

.plan-features a.btn {
    display: block;
    width: 70px;
    margin: 30px auto 0;
    text-align: center;
}

.plan-features a.btn:active {
    margin: 32px auto -2px;
}

/* - Standard Plan Style */
.standard {
    margin-top: 25px;
}

/* - Premium Plan Style */
.premium .plan-price {
    padding: 50px 0;
}

.premium .plan-features ul li {
    color: #434343;
}

/* - Ultimate Plan Style */
.ultimate {
    margin-top: 25px;
}

/* - Ultra Plan Style */
.ultra {
    margin-top: 25px;
}

/* Columns 
===================================== */
.fill {
    background: #788796;
    padding: 13px 0;
    margin: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

/* Footer
===================================== */
footer {
    width: 100%;
    background: #e9f0f4;
    margin-top: 50px;
}

footer h4 {
    padding-top: 50px;
    font-size: 15px;
}

footer h5 {
    color: #898989;
}

footer a {
    font-weight: 400;
}

footer hr.smalline {
    border: none;
    height: 2px;
    background: #c1cfd9;
    width: 32px;
    margin: 15px 0 10px;
}

.footer-bar {
    margin-top: 50px;
}

.footer-recent-news {
    display: block;
}

.footer-recent-news li a {
    padding: 7px 0;
    display: block;
    color: #2e3641;
}

.footer-recent-news li i {
    font-size: 14px;
}

#twitter-feed {
    line-height: 23px;
    display: block;
}

#twitter-feed li:before {
    content: "\f099";
    display: block;
    width: 27px;
    font-size: 16px;
    font-family: 'FontAwesome';
    position: absolute;
}

#twitter-feed li {
    margin: 0 0 15px 0;
    float: left;
}

a.tweet_time {
    color: #76808D;
    font-size: 15px;
    margin-left: 25px;
    float: left;
}

.getintouch li {
    margin-bottom: 10px;
}

.getintouch li i {
    margin-right: 4px;
}

.footer-logo {
    padding: 10px 0;
    display: inline-block;
}

.footer-logo img {
    max-width: 300px;
}

.footer-logo span {
    float: left;
    display: inline-block;
    font-size: 13px;
}

.footer-logo span {
    margin: 15px 20px 0;
    color: #fff;
}

.footer-links {
    display: inline-block;
    float: right;
    margin-top: 25px;
}

.footer-links li {
    display: inline;
    float: left;
}

.footer-links li a {
    font-size: 13px;
    display: inline;
    float: left;
    color: #fff;
    padding: 0 6px;
}

/* !
 *  =================================================
 *  				   Shortcodes
 *  There is a list of every shortcodes used in theme
 *  =================================================
 */

/* Tables
===================================== */

table.default-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: none;
    margin-bottom: 15px;
}

table.default-table th:first-child {
}

table.default-table th:last-child {
    border-right: 1px solid #E7E7E7;
}

table.default-table td:last-child {
    border-right: 1px solid #E7E7E7;
}

table.default-table th {
    border: 1px solid #E7E7E7;
    border-right: none;
    background-color: #F5F5F5;
    text-align: left;
    padding: 13px 15px 10px;
    color: #454545;
    vertical-align: top;
    font-size: 13px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

table.default-table td {
    padding: 10px 15px;
    border: #E7E7E7 1px solid;
    border-top: none;
    border-right: none;
}

table.default-table th:first-child {
    border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
}

table.default-table th:last-child {
    border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
}

table.default-table tr:last-child td:first-child {
    border-radius: 0 4px 0;
    -moz-border-radius: 0 4px 0;
    -webkit-border-radius: 0 4px 0;
}

table.default-table tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    -webkit-border-radius: 0 0 4px 0;
}

/* Notification Boxes
===================================== */
.alert {
    width: 100%;
    margin-bottom: 10px;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.alert p {
    padding: 15px 0;
    margin-left: 20px;
    font-size: 14px;
}

.close {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    float: right;
    margin-top: 14px;
    margin-right: 20px;
    color: #000;
    opacity: 0.3;
    zoom: 1;
    filter: alpha(opacity=30);

    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.close:hover {
    opacity: 0.5;
    zoom: 1;
    filter: alpha(opacity=50);
}

/* Colors */
.error {
    background-color: #FF5454;
}

.error p {
    color: #fff;
}

.warning {
    background-color: #FFEB00;
}

.warning p {
    color: #857500;
}

.success {
    background-color: #aae457;
}

.success p {
    color: #455E22;
}

.info {
    background-color: #2ECDF5;
}

.info p {
    color: #fff;
}

/* Accordion
===================================== */
.accordion {
    background: #fff;
}

.accordion li a {
    margin: 0 auto 8px;
    padding: 15px 18px;
    display: block;
    position: relative;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #f5f5f5;
}

.accordion li a:after {
    content: "\f067";
    font-family: 'FontAwesome';
    position: absolute;
    right: 25px;
    top: 17px;
    font-size: 14px;
    font-weight: normal;
}

.accordion li p {
    margin: 15px 18px;
}

.accordion li a:hover,
.accordion li a.active {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.accordion li a.active:after {
    content: "\f068";
    font-family: 'FontAwesome';
    position: absolute;
    right: 25px;
    top: 17px;
    font-size: 14px;
    font-weight: normal;
}

.accordion li a:hover {
    color: #454545;
}

.accordion li a.active {
    color: #fff;
}

/* Skill Bars
===================================== */
.skill-bar {
    height: 42px;
    position: relative;
    margin: 0 0 8px 0;
    background: #f5f5f5;
    line-height: 33px;
    text-indent: 11px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.skill-bar-value {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: #94c1e0;
    overflow: visible !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.skill-bar-value .dot {
    position: absolute;
    right: -15px;
    top: -15px;
    background: #4C6475;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 11px;
    line-height: 29px;
    text-indent: 5px;
    color: #fff;
    z-index: 999;
}

.skill-bar-value .dot:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 10px;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #4C6475 rgba(0, 0, 0, 0);
    display: block;
    width: 0;
}

.skill-title {
    color: #fff;
    font-size: 13px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin-top: 5px;
}

/* Tooltips
===================================== */
.tooltip {
    font-weight: 600;
    cursor: default;
}

.tooltipster-default {
    border: 1px solid #454545;
    background: #454545;
    color: #fff;
}

/* Lists 
===================================== */

/*  Lists with "ok" or "check" icons */
.check-list {
    list-style-type: none;
    margin-bottom: 10px;
}

.check-list li {
    line-height: 23px;
    margin-left: 23px;
    font-size: 13px;
}

.check-list li:before {
    content: "\f00c";
    display: inline-block;
    width: 23px;
    margin-left: -23px;
    font-family: 'FontAwesome';
    font-size: 15px;
}

/*  Lists with "ok" or "check" icons in circle */
.check-circle-list {
    list-style-type: none;
    margin-bottom: 10px;
}

.check-circle-list li {
    line-height: 25px;
    margin-left: 23px;
    font-size: 15px;
    font-weight: 400;
}

.check-circle-list li:before {
    content: "\f05d";
    display: inline-block;
    width: 23px;
    margin-left: -23px;
    font-family: 'FontAwesome';
    font-size: 14px;
}

/*  Lists with plus "+" icons */
.plus-list {
    list-style-type: none;
    margin-bottom: 10px;
}

.plus-list li {
    line-height: 25px;
    margin-left: 23px;
    font-size: 15px;
    font-weight: 400;
}

.plus-list li:before {
    content: "\f067";
    display: inline-block;
    width: 23px;
    margin-left: -23px;
    font-family: 'FontAwesome';
    font-size: 14px;
}

/*  Lists with minus "-" icons */
.minus-list {
    list-style-type: none;
    margin-bottom: 10px;
}

.minus-list li {
    line-height: 25px;
    margin-left: 23px;
    font-size: 15px;
    font-weight: 400;
}

.minus-list li:before {
    content: "\f068";
    display: inline-block;
    width: 23px;
    margin-left: -23px;
    font-family: 'FontAwesome';
    font-size: 14px;
}

/*  Ordered Lists */
.ordered-list {
    margin-bottom: 10px;
    list-style-type: decimal;
}

.ordered-list li {
    line-height: 25px;
    margin-left: 23px;
    font-size: 15px;
    font-weight: 400;
}

/*  Ordered Lists */
.nested-list {
    list-style-type: none;
}

.nested-list li {
    line-height: 25px;
    margin-left: 23px;
}

.nested-list li:before {
    content: "\f101";
    display: inline-block;
    width: 18px;
    margin-left: -18px;
    font-family: 'FontAwesome';
    font-size: 14px;
}

.nested-list li ul {
    line-height: 25px;
    margin: 5px 0 !important;
}

.nested-list li ul li:before {
    content: "\f105";
    display: inline-block;
    width: 18px;
    margin-left: -18px;
    font-family: 'FontAwesome';
    font-size: 14px;
}

/* dropCap 
===================================== */
.dropcap {
    font-size: 50px;
    margin-right: 3px;
    padding-top: 10px;
    text-transform: uppercase;
    float: left;
    position: relative;
    top: 0px;
    left: -3px;
    padding-bottom: 11px;
    font-weight: 600;
}

/* Tabs
===================================== */
#tabs_container {
    border-bottom: 2px solid #e7e7e7;
}

#tabs {
    list-style: none;
    padding: 10px 0 9px;
}

#tabs li {
    display: inline;
}

#tabs li a {
    padding: 12px 14px 10px;
    text-decoration: none;
    background-color: #f5f5f5;
    border-bottom: none;
    outline: none;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 700;

    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;

    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

#tabs li a:hover {
    color: #454545;
    background-color: #f5f5f5;
}

#tabs li.active a {
    padding: 12px 14px 10px;
    border-bottom: none;
    color: #fff;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

#tabs li.active a:hover {
    border-bottom: none;
}

#tabs_content_container {
    border-top: none;
    padding: 15px 20px;
}

.tab_content {
    display: none;
}

/* Swipebox Lightbox 
============================== */
.swipebox {
    overflow: hidden !important;
}

#swipebox-overlay img {
    border: none !important;
}

#swipebox-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999 !important;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#swipebox-slider {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    display: none;
}

#swipebox-slider .slide {
    background: url("../images/loader.gif") no-repeat center center;
    height: 100%;
    width: 100%;
    line-height: 1px;
    text-align: center;
    display: inline-block;
}

#swipebox-slider .slide:before {
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right: -1px;
}

#swipebox-slider .slide img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    vertical-align: middle;
}

#swipebox-action, #swipebox-caption {
    position: absolute;
    left: 0;
    z-index: 999;
    height: 50px;
    width: 100%;
}

#swipebox-action {
    bottom: -50px;
}

#swipebox-action.visible-bars {
    bottom: 0;
}

#swipebox-action.force-visible-bars {
    bottom: 0 !important;
}

#swipebox-caption {
    top: -50px;
    text-align: center;
}

#swipebox-caption.visible-bars {
    top: 0;
}

#swipebox-caption.force-visible-bars {
    top: 0 !important;
}

#swipebox-action #swipebox-prev, #swipebox-action #swipebox-next,
#swipebox-action #swipebox-close {
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
    border: none !important;
    text-decoration: none !important;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
}

#swipebox-action #swipebox-close {
    background-position: 15px 12px;
    left: 40px;
}

#swipebox-action #swipebox-prev {
    background-position: -32px 13px;
    right: 100px;
}

#swipebox-action #swipebox-next {
    background-position: -78px 13px;
    right: 40px;
}

#swipebox-action #swipebox-prev.disabled,
#swipebox-action #swipebox-next.disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.1;
    float: none;
    background-color: none;
}

#swipebox-slider.rightSpring {
    -moz-animation: rightSpring 0.3s;
    -webkit-animation: rightSpring 0.3s;
}

#swipebox-slider.leftSpring {
    -moz-animation: leftSpring 0.3s;
    -webkit-animation: leftSpring 0.3s;
}

@-moz-keyframes rightSpring {
    0% {
        margin-left: 0px;
    }

    50% {
        margin-left: -30px;
    }

    100% {
        margin-left: 0px;
    }
}

@-moz-keyframes leftSpring {
    0% {
        margin-left: 0px;
    }

    50% {
        margin-left: 30px;
    }

    100% {
        margin-left: 0px;
    }
}

@-webkit-keyframes rightSpring {
    0% {
        margin-left: 0px;
    }

    50% {
        margin-left: -30px;
    }

    100% {
        margin-left: 0px;
    }
}

@-webkit-keyframes leftSpring {
    0% {
        margin-left: 0px;
    }

    50% {
        margin-left: 30px;
    }

    100% {
        margin-left: 0px;
    }
}

/* Swipebox Skin 
============================== */
#swipebox-overlay {
    background: #1F2D3C;
}

#swipebox-caption {
    color: white !important;
    font-size: 15px;
    line-height: 43px;
    font-family: Helvetica, Arial, sans-serif;
}

/* Swipe.JS Slider 
============================== */
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    margin-top: 10px;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
}

.swipe-wrap > li {
    float: left;
    width: 100%;
    position: relative;
}

.swipe-navi {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.swipe-navi .swipe-left,
.swipe-navi .swipe-right {
    position: absolute;
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    opacity: 0;
    zoom: 1;
    filter: alpha(opacity=0);
    color: #fff;
    cursor: pointer;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    transition: all 200ms;
    -moz-transition: all 200ms;
    -webkit-transition: all 200ms;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.swipe:hover .swipe-navi .swipe-left {
    opacity: .9;
    zoom: 1;
    filter: alpha(opacity=90);
    margin-top: -27px;
}

.swipe:hover .swipe-navi .swipe-right {
    opacity: .9;
    zoom: 1;
    filter: alpha(opacity=90);
    margin-top: -27px;
}

.swipe-navi .swipe-left {
    left: 5px;
    margin-top: -32px;
}

.swipe-navi .swipe-right {
    right: 5px;
    margin-top: -22px;
}

/* ============================= */
/*   Layout for mobile version   */
/* ============================= */
@media only screen and (min-width:  960px) and (max-width:  1199px) {
    .serviceboxes li {
        width: 300px;
    }

    .serviceboxes li .service-icon {
        margin-bottom: 10px;
    }

    .form form .field input {
        width: 200px;
    }

    .form form textarea {
        width: 660px;
        max-width: 660px;
    }

    .hold.big:hover a.hover-zoom,
    .hold.big:hover a.hover-link {
        top: 80px;
    }

    .hold.big a.hover-zoom {
        left: 113px;
        top: 60px;
    }

    .hold.big a.hover-link {
        right: 113px;
        top: 100px;
    }

    .hold.big a.hover-link.alone {
        right: 130px;
    }

    .hold.medium a.hover-zoom {
        left: 73px;
        top: 33px;
    }

    .hold.medium a.hover-link {
        right: 73px;
        top: 73px;
    }

    .hold.medium a.hover-link.alone {
        right: 90px;
    }

    .hold.medium:hover a.hover-zoom,
    .hold.medium:hover a.hover-link {
        top: 53px;
    }

    #sidebar {
        padding-left: 10px;
    }

}

/* Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .fullwidthbanner-container {
        margin-bottom: 20px;
    }

    .bannercontainer {
        width: 760px;
        height: 395px;
    }

    .serviceboxes li {
        width: 364px;
        height: 75px;
    }

    .serviceboxes li .service-icon {
        margin-bottom: 10px;
    }

    ul.navigation {
        display: none;
    }

    #jPanelMenu-menu {
        display: block;
    }

    a.menu-trigger {
        display: block;
    }

    .search {
        display: block;
        padding: 3px 0 4px;
    }

    a.logo {
        margin: 0 auto;
        float: none;
        padding: 6px 0;
        width: 50px;
    }

    #recent-news ul li {
        width: 236px !important;
    }

    .testimonials {
        margin-top: 55px;
    }

    .form form .field input {
        width: 216px;
    }

    .form form textarea {
        width: 516px;
        max-width: 516px;
    }

    .hold.big:hover a.hover-zoom,
    .hold.big:hover a.hover-link {
        top: 102px;
    }

    .hold.big a.hover-zoom {
        left: 147px;
        top: 90px;
    }

    .hold.big a.hover-link {
        right: 147px;
        top: 120px;
    }

    .hold.big a.hover-link.alone {
        right: 162px;
    }

    .hold.medium a.hover-zoom {
        left: 49px;
        top: 20px;
    }

    .hold.medium a.hover-link {
        right: 49px;
        top: 60px;
    }

    .hold.medium a.hover-link.alone {
        right: 66px;
    }

    .hold.medium:hover a.hover-zoom,
    .hold.medium:hover a.hover-link {
        top: 40px;
    }

    #sidebar {
        padding-left: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .news-item .description {
        margin-left: 50px;
    }

    .news-item .description p {
        margin-top: 0;
        margin-left: 0;
    }

    .news-item .description h4 a {
        margin-left: 0;
    }

    .hold.big:hover a.hover-zoom,
    .hold.big:hover a.hover-link,
    .hold.medium:hover a.hover-zoom,
    .hold.medium:hover a.hover-link {
        top: 120px;
    }

    .hold.big a.hover-zoom,
    .hold.medium a.hover-zoom {
        left: 173px;
        top: 100px;
    }

    .hold.big a.hover-link,
    .hold.medium a.hover-link {
        right: 173px;
        top: 140px;
    }

    .hold.big a.hover-link.alone,
    .hold.medium a.hover-link.alone {
        right: 190px;
    }

    #sidebar {
        padding-left: 0;
    }

    .form form .field input {
        width: 400px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .form form textarea {
        display: inline-block;
        margin-top: 20px;
        width: 380px;
        max-width: 380px;
    }

}

@media only screen and (min-width: 0px) and (max-width: 479px) {
    .bannercontainer {
        width: 320px;
        height: 166px;
    }

    .comments ul li .comment-body .btn {
        position: static;
        float: right;
        margin-top: 10px;
    }

    .news-item .description p {
        margin-top: 0px;
        margin-left: 45px;
    }

    .hold.big:hover a.hover-zoom,
    .hold.big:hover a.hover-link,
    .hold.medium:hover a.hover-zoom,
    .hold.medium:hover a.hover-link {
        top: 80px;
    }

    .hold.big a.hover-zoom,
    .hold.medium a.hover-zoom {
        left: 113px;
        top: 60px;
    }

    .hold.big a.hover-link,
    .hold.medium a.hover-link {
        right: 113px;
        top: 100px;
    }

    .hold.big a.hover-link.alone,
    .hold.medium a.hover-link.alone {
        right: 130px;
    }

    #sidebar {
        padding-left: 0;
    }

    .form form .field input {
        width: 280px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .form form textarea {
        display: inline-block;
        margin-top: 20px;
        width: 260px;
        max-width: 260px;
    }

}

@media handheld, only screen and (max-width: 767px) {
    .fullwidthbanner-container {
        margin-bottom: 20px;
    }

    .serviceboxes li {
        width: 100%;
        margin-bottom: 25px;
    }

    .serviceboxes li p {
        margin-left: 80px;
    }

    .serviceboxes li:nth-child(odd),
    .serviceboxes li:nth-child(even) {
        margin-left: 0;
        margin-right: 0;
    }

    .serviceboxes li .service-icon {
        margin-bottom: 20px;
        width: 60px;
    }

    ul.navigation {
        display: none;
    }

    .search {
        display: block;
        padding: 3px 0 4px;
    }

    #jPanelMenu-menu {
        display: block;
    }

    a.menu-trigger {
        display: block;
    }

    a.logo {
        margin: 0 auto;
        float: none;
        padding: 6px 0;
        width: 50px;
    }

    .serviceboxes li h3 {
        margin-top: 0px;
    }

    .carousel-navi, .carousel-intro h3 {
        margin-left: 0;
        margin-right: 0;
    }

    .promobar p {
        font-size: 18px;
    }

    .news-item {
        margin-bottom: 30px;
    }

    .footer-links {
        float: left;
        margin-top: 0;
        margin-bottom: 25px;
    }

    ul.breadcrumbs {
        float: left;
        text-align: left;
        margin-top: 0;
    }

    .fill {
        margin-bottom: 20px !important;
    }

    article.post .main-info {
        display: none;
    }

    article.post .main-info .date span.day,
    article.post .main-info a.commentsnumber span {
        font-size: 20px;
    }

    article.post .post-content,
    article.post-author,
    .comments,
    .form {
        margin-left: 0;
    }

    .comments ul li .comment-body {
        float: none;
        margin: 0;
        padding: 17px 20px 20px 20px;
        display: block;
    }

    .comments ul li .comment-avatar {
        float: left;
        width: 50px;
        height: 50px;
        position: relative;
        z-index: 1;
        margin: 20px 15px 0 20px;
    }

    .comments ul li .comment-body .comment-meta {
        margin-bottom: 0px;
        margin-top: 11px;
        display: block;
    }

    .comments ul li .comment-body p {
        display: block;
        padding-top: 20px;
    }

    ul.share-post li {
        margin-top: 5px;
    }

    ul.share-post {
        float: left;
    }

    ul.share-post li a.gplus div {
        background: #DB4A39;
        color: #fff;
    }

    ul.share-post li a.twitter div {
        background: #00acee;
        color: #fff;
    }

    ul.share-post li a.facebook div {
        background: #3b5998;
        color: #fff;
    }

    ul.share-post li a.pinterest div {
        background: #c8232c;
        color: #fff;
    }

    #sidebar {
        padding-left: 0;
    }
}

/* ============================== */
/* ! Higher res assets for Retina */
/* ============================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {

    /*	.logo {
            background: url(logo2x.jpg) no-repeat;
            background-size: 212px 303px;
        }*/

}


