<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description" content="GreenCMS"/>
    <meta name="keywords" content="GreenCMS"/>
    <include file="Public:head"/>

    <title>{$action} | {:get_opinion('title')}</title>


    <!-- jQuery and jQuery UI (REQUIRED) -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="__PUBLIC__/share/js/jqueryui/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="__PUBLIC__/share/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/share/js/jquery-ui-1.8.18.min.js"></script>

    <!-- elFinder CSS (REQUIRED) -->
    <link rel="stylesheet" type="text/css" media="screen" href="__ROOT__/Extend/GreenFinder/css/elfinder.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="__ROOT__/Extend/GreenFinder/css/theme.css">

    <!-- elFinder JS (REQUIRED) -->
    <script type="text/javascript" src="__ROOT__/Extend/GreenFinder/js/elfinder.min.js"></script>

    <!-- elFinder translation (OPTIONAL) -->
    <script type="text/javascript" src="__ROOT__/Extend/GreenFinder/js/i18n/elfinder.zh_CN.js"></script>


    <!-- elFinder initialization (REQUIRED) -->
    <script type="text/javascript" charset="utf-8">
        $().ready(function () {
            var elf = $('#elfinder').elfinder({
                url: "{:U('Admin/Media/fileConnect')}",  // 这里设置为File模块的index方法，用U方法构建
                lang: 'zh_CN'            // language (OPTIONAL)
            }).elfinder('instance');
        });
    </script>

</head>
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    {:W('Common/header')}
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->


<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        {:W('Common/sideBar')}
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN PAGE -->
    <div class="page-content" style="min-height: 560px;">

        <div class="container-fluid" style="padding: 0 10px 0 10px;">
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        文件管理
                        <small>&nbsp;&nbsp;{:get_opinion('title')}</small>
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{$module_url}">{$module}</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="{:U('Admin/Filemanage/index')}">文件管理</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>


            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">


                <!-- Element where elFinder will be created (REQUIRED) -->
                <div style=" height: 600px;" id="elfinder"></div>
            </div>
        </div>
    </div>

</div>

<!-- BEGIN FOOTER -->
{:W('Common/footer')}
<!-- END FOOTER -->

<!-- BEGIN CORE PLUGINS -->
<script src="__PUBLIC__/admin/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

<script src="__PUBLIC__/admin/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/admin/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="__PUBLIC__/admin/assets/plugins/excanvas.min.js"></script>
<script src="__PUBLIC__/admin/assets/plugins/respond.min.js"></script>
<![endif]-->

<script src="__PUBLIC__/admin/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="__PUBLIC__/admin/assets/scripts/app.js"></script>


<script>
    jQuery(document).ready(function () {
        App.init();

    });
</script>


</body>
</html>