<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {$action} | {:get_opinion('title')}</title>

    <include file="Public:head"/>

</head>
<body class="skin-blue">

{:W('Common/header')}

<div class="wrapper row-offcanvas row-offcanvas-left">
    {:W('Common/sideMenu')}


    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->


        <section class="content-header">
            <h1>
                {$action}
                <small>{:get_opinion('title')}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{$module_url}"><i class="fa fa-dashboard"></i> {$module}</a></li>
                <li class="active">{$action}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">

                    <!-- /.box-header -->
                    <div class="box-body">


                        <div class="row margin">
                            <div class="btn-group">
                                <a href="{:U('Admin/Custom/addhook')}">
                                    <button type="submit" class="btn btn-success" name="addhook" value='1'>
                                        <i class="icon-plus"></i> 添加钩子
                                    </button>
                                </a>
                            </div>
                        </div>
                        <table class="table table-bordered table-hover" class="tab">
                            <tr>
                                <th class="col-md-1">ID</th>
                                <th class="hidden-480">名称</th>
                                <th class="hidden-480">描述</th>
                                <th class="hidden-480">类型</th>
                                <th class="hidden-480">操作</th>
                            </tr>
                            <volist name="list" id="vo">
                                <tr>
                                    <td class="hidden-480">{$vo.id}</td>
                                    <td class="hidden-480"><a href="{:U('edithook?id='.$vo['id'])}">{$vo.name}</a></td>
                                    <td class="hidden-480">{$vo.description}</td>
                                    <td class="hidden-480">
                                        <eq name="vo.type" value="1">视图
                                            <else/>
                                            控制器
                                        </eq>
                                    </td>
                                    <td class="hidden-480">
                                        <a class="btn btn-sm btn-warning"
                                           href="{:U('Admin/Custom/edithook', array('id'=>$vo['id']))}">编辑</a> &nbsp;
                                        <a class="btn btn-sm btn-danger"
                                           href="{:U('Admin/Custom/delhook', array('id'=>$vo['id']))}">删除</a>
                                    </td>
                                </tr>
                            </volist>
                        </table>
                        <div>
                            <ul class="pagination"> {$page}</ul>

                        </div>


                    </div>
                </div>
            </div>


        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->

<include file="Public:foot"/>

</body>
</html>